<div class="container-xl">
  <div class="row">
    <div class="col-lg-5 col-md-5 text-center text-lg-start text-md-start">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://twitter.com/dotenvorg" class="btn btn-link px-1">
            {% include icons/twitter.html width="16" %}
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/motdotla/dotenv" class="btn btn-link px-1">
            {% include icons/github.html width="16" %}
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://youtube.com/@dotenvorg" class="btn btn-link px-1">
            {% include icons/youtube.html width="16" %}
          </a>
        </li>

        <li class="list-inline-item">
          <a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode" class="btn btn-link px-1">
            {% include icons/vscode.html width="16" %}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-7 col-md-7 text-center text-lg-end text-md-end">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/help" class="text-underline-hover text-dark btn btn-sm btn-link px-1">support@dotenv.org</a>
        </li>
        <li class="list-inline-item">
          <a href="/legal" class="text-underline-hover text-dark btn btn-sm btn-link px-1">Legal</a>
        </li>
        <li class="list-inline-item">
          <a href="/" class="text-underline-hover text-dark text-decoration-none btn btn-sm btn-link px-1">&copy; Dotenv</a>
        </li>
      </ul>
    </div>
  </div>
</div>

