<div class="container-xl">
  <div class="row">
    <div class="col-lg-7 col-md-7 text-center text-lg-start text-md-start">
      <ul class="list-inline">
        <li class="list-inline-item">
          <span class="small">
            Have a question?
            <a href="mailto:support@dotenv.org" class="fw-semibold">Contact us</a> and we'll get back to you.
          </span>
        </li>
      </ul>
    </div>
    <div class="col-lg-5 col-md-5 text-center text-lg-end text-md-end">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/legal" class="text-underline-hover link-dark">
            <span class="fw-normal small">Legal</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="link-dark text-decoration-none" href="/">
            <span class="fw-semibold small">&copy; Dotenv</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

