<div class="row p-lg-5 p-md-4 p-3">
  <div class="col">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="fw-bold">Used by thousands of developers &amp; companies</h2>
        <p class="text-secondary">Dotenv powers secrets for thousands of software teams across the world. New developers and companies get started with Dotenv Vault every day.</p>
        <p><a href="/customers">Dotenv Customers »</a></p>
      </div>
      <div class="col-lg-6">
        <a href="/customers">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/c_scale,w_800/v1666593866/Group_ukiica.png" class="w-100">
        </a>
      </div>
    </div>
  </div>
</div>
