<div class="row p-lg-5 p-md-4 p-3">
  <div class="col">
    <div class="row">
      <div class="col-lg-7">
        <p class="h4 fw-semibold">From the same people that pioneered <a class="text-dark" href="https://github.com/motdotla/dotenv">dotenv</a>. Trusted by more than 2.5 million developers.</p>
      </div>
      <div class="col-lg-5 text-center">
        <a class="btn mt-2 px-4 mx-3 btn-lg btn-danger fw-light text-uppercase" href="/signup"><small>Sign Up Now »</small></a>
        <p class="mt-2"><strong>Free to use.</strong> See <a href="/pricing">additional pricing</a>.</p>
      </div>
    </div>
  </div>
</div>
