<div class="row p-lg-5 p-md-4 p-3">
  <div class="col">
    <div class="row mb-2">
      <div class="col-lg-7">
        <p class="h4 fw-semibold text-center text-lg-start">From the same people that pioneered <a class="text-dark" href="https://github.com/motdotla/dotenv">dotenv</a>. Trusted by more than 2.5 million developers.</p>
      </div>
      <div class="col-lg-5 text-center d-flex align-items-center justify-content-center">
        <div>
          <a class="btn px-4 fw-semibold btn-dark" href="/signup"><small>Get Your Account</small></a>
          <p class="mt-2 mb-0"><strong>Free to use.</strong> See <a href="/pricing">pricing</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
