<div class="container py-lg-5 py-3 px-lg-5">
  <div class="row py-3 py-lg-5">
    <div class="col col-lg-9">
      <h1 class="display-3 fw-bold mt-5">Load. Sync. Deploy.</h1>
      <h4 class="fw-normal mt-3">Dotenv is the worldwide standard for managing environment variables – from development to production.</h4>
      <div class="mt-4">
        <a class="btn px-4 btn-lg btn-dark fw-semibold" href="/signup"> Get your Dotenv Account </a> <a href="/docs" class="ms-lg-2 btn btn-link text-dark">Documentation</a>
      </div>
      <p class="small mt-2 text-body-secondary">Add layers of security and never lose an important .env file again.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="small pt-3 mb-0 pb-0 text-left text-muted text-uppercase">Trusted by millions of developers and companies</p>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col text-left">
      <div class="d-flex flex-row flex-wrap">
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:netflix" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:microsoft" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:facebook" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:vercel" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:shopify" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:google" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:chase" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:docker" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:3m" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:airtable" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:auth0" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:ethereum" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:etsy" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:hackclub" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:ticketmaster" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:macys" height="24"></iconify-icon>
        </div>
      </div>
    </div>
  </div>
</div>
