<div class="container py-lg-5 py-3 px-lg-5 mb-5">
  <div class="row pt-3 pt-lg-5">
    <div class="col">
      <h1 class="display-1 fw-bold mt-5 lh-1 text-left">Simplify Your Secrets</h1>
      <p class="lead fw-normal mt-3 text-left">Get your <span class="fw-bold">Dotenv Account</span> and never lose an important .env again.</p>
      <!--<h4 class="fw-normal mt-3">Get your <span class="fw-bold">Dotenv Account</span> today and never lose an important .env file again – from the same people that pioneered <a href="http://github.com/motdotla/dotenv" target="_blank" class="text-dark text-underline-hover">dotenv</a>.</h4>-->
      <!--<h4 class="fw-normal mt-3">Sync your .env files across teams, machines, and environments, and never lose important developer secrets again.</h4>-->
      <div class="mt-4 text-left">
        <a class="btn px-4 btn-lg btn-dark fw-semibold shadow shadow-lg" href="https://vault.dotenv.org/signup"> Get your Dotenv Account</a> 
      </div>
    </div>
  </div>
</div>

<div class="mt-5 bg-dark d-flex align-items-center justify-content-center text-white" style="padding: 400px 80px;">
  video
</div>


<div class="bg-warning-subtle my-5">
  <p class="small p-0 mb-1 text-center text-muted text-uppercase">From the same people that pioneered <a class="text-muted text-underline-hover" href="https://github.com/motdotla/dotenv" target="_blank">dotenv</a> 🏆 Trusted by millions of developers and companies</p>
</div>

<div class="container bg-dark bg-vault-image text-white rounded px-lg-5">
  <div class="row py-3 py-lg-5">
    <div class="col col-lg-7">
      <p class="display-3 text-center fw-bold mt-5">🏆</p>
      <h2 class="display-5 text-center fw-bold mt-1">It starts with .env</h2>
      <p class="lead fw-normal"><span class="fw-semibold">Self-documenting, easy to use, and works everywhere</span>, the .env file has made software security and configuration accessible to all devs. It's not some fancy, overcomplicated, and overpromising tool that only vc-funded startups and large enterprises can afford. It's just a file.</p>
      <!--<iconify-icon icon="bi:trophy-fill" height="24"></iconify-icon>-->
      <p class="lead fw-normal">Its uncomplicated beauty is understood by your most junior dev to your most senior executive. Some are bothered by its simplicity. <span class="font-italic">It does too much. It should do more. Its not strict enough. Its too strict.</span> A lot of fuss is made about it but it never makes a fuss. It goes on doing its job. It is always reliable, and <span class="fw-bold">it never fails</span>.</p>
      <p class="lead fw-normal">Some people want to do away with the .env file. In its place they want to put <a href="https://doppler.com" target="_blank">proprietary</a> <a href="https://infisical.com" target="_blank">vc-funded</a> software and platforms. We think that is a mistake and I bet you do too.</p>
    </div>
    <div class="col col-lg-5 d-flex align-items-center justify-content-center">
      <div class="card mx-lg-3 mx-2 mt-2">
        <div class="card-body shadow shadow-sm">
          <pre><code><span class="text-danger">DB_HOST</span>=localhost
<span class="text-danger">DB_PASSWORD</span>=pa$$word
<span class="text-danger">ENCRYPT_PUBLIC_KEY</span>=5daef8d0b8c62f9569a634c88574cdd0
<span class="text-danger">GATSBY_API_URL</span>=http://localhost:3000/gatsby
<span class="text-danger">MAILCHIMP_API_USERNAME</span>=d3a5f1d9f215941181752a7f0bda5380
<span class="text-danger">S3_KEY</span>=cd89a34bcd76
<span class="text-danger">SIGN_PUBLIC_KEY</span>=84a8cfc121cb6b517f7c11c92cad2cc7
<span class="text-danger">STRIPE_KEY</span>=scr_a34bd7c37abc
<span class="text-danger">STRIPE_PUBLIC_KEY</span>="pub_z17ab3d3741a"</code></pre>
        </div>
        <div class="card-footer">
          .env
        </div>
      </div>


      
    </div>
  </div>
</div>

<div class="container px-lg-5">
  <div class="row py-3 py-lg-5">
    <div class="col col-lg-9">
      <h2 class="display-4 fw-bold mt-5">Introducing .env.vault</h2>
      <p class="lead fw-normal"><span class="fw-semibold">Self-documenting, easy to use, and works everywhere</span>, the .env file has made software security and configuration accessible to all devs. It's not some fancy, overcomplicated, and overpromising tool that only vc-funded startups and large enterprises can afford. Nope. It is just a humble file.</p>
      <p class="lead fw-normal">Its uncomplicated beauty is understood by your most junior dev to your most senior executive. Some are bothered by its simplicity. <span class="font-italic">It does too much. It should do more. Its not strict enough. Its too strict.</span> A lot of fuss is made about it but it never makes a fuss. It goes on doing its job. It is always reliable, and <span class="fw-bold">it never fails</span>.</p>
      <p class="lead fw-normal">Some people want to do away with the .env file. In its place they want to put <a href="https://doppler.com" target="_blank">proprietary</a> <a href="https://infisical.com" target="_blank">vc-funded</a> software and platforms. We think that is a mistake.</p>

    </div>
  </div>
</div>
