<div class="container bg-yellow shadow rounded-top">
  <div class="row p-5 px-3">
    <div class="col-lg-8">
      <h1 class="fw-bold">Sync. Manage. Deploy.</h1>
      <h4 class="fw-normal mt-3">The future of .env files is here - from the same people that pioneered dotenv.</h4>
      <div class="mt-4">
        <a class="btn btn-lg btn-primary" href="/signup"> Sign Up Now » </a> <a href="/pricing" class="btn btn-link">Pricing</a>
      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-lg-10">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1671740035/dotenv-screenshot_oahorv.png" class="w-100">
    </div>
  </div>
  -->
</div>


