<div class="row mt-4">
  <div class="col-lg-8 offset-lg-2">
    <span class="border border-dark rounded-circle bg-dark text-white px-2 py-1">1</span>
    <h3 class="h2 fw-bold mt-2 mb-0">Load</h3>
    <p class="text-light-emphasis">securely - with a single file</p>
    <p>Dotenv is the worldwide standard for managing environment variables. Store secrets and app configuration securely with a single file - the .env file.</p>
    <p class="fw-semibold text-success font-monospace">require('dotenv').config()</p>
    <p><a href="https://github.com/motdotla/dotenv">Load environment variables »</a></p>
  </div>
</div>
