<div class="container-fluid pt-5 pb-5 bg-yellow" style="overflow: hidden;">
  {% include layouts/nav3.html %}

  <div class="container pt-5 mb-1">
    <div class="row">
      <div class="col-lg-6 col-sm-12 justify-content-center align-items-center d-flex">
        <div>
          <a href="/" class="mb-4 d-inline-block border border-dark" style="border-width: 2px !important;">
            {% include icons/dotenv.html width="60" color="#ECD53F" %}
          </a>

          <h1 class="mb-4">Sync .env files</h1>

          <p class="text-left mb-4" style="font-size: 23px;">Stop sharing them over insecure channels like Slack and email and never lose an important .env file again.</p>

          <a class="btn btn-primary btn-lg px-4 py-3 mb-2 text-uppercase font-weight-bold" href="/signup" style="border-radius: 50px;">
            Sign Up Now »
          </a>

          <p class="mb-5 mt-2"><span class="text-dark fw-bold">Free to use.</span> See <a href="/pricing">additional pricing</a>.</p>


        </div>
      </div>
      <div class="col-lg-6 col-sm-12 justify-content-center align-items-center d-flex">
        <div class="mb-2">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1671740035/dotenv-screenshot_oahorv.png" width="140%" />
        </div>
      </div>
    </div>
  </div>
</div>
