<div class="row mt-2">
  <div class="col-lg-8 offset-lg-2">
    <span class="border border-dark rounded-circle bg-dark text-white px-2 py-1">2</span>
    <h3 class="fw-semibold mt-2 mb-0">Manage</h3>
    <p class="text-light-emphasis">multiple environments</p>
    <p>After you've pushed your .env file, you can manage your secrets across multiple environments. Open an environment to view and edit its environment variables.</p>
    <p class="fw-semibold text-success font-monospace">$ npx dotenv-vault open</p>
    <p><a href="/docs/tutorials/environments">Managing Environments »</a></p>
  </div>
  <!--
  <div class="col-lg-6 d-flex align-items-center px-lg-4">
    <div class="w-100">
      <div class="border border-dark-subtle bg-secondary-subtle font-monospace py-4 px-3 inset-shadow w-100 text-success">
        $ <span class="">npx dotenv-vault open</span>
      </div>
    </div>
    <a href="https://res.cloudinary.com/dotenv-org/image/upload/v1671740035/dotenv-screenshot_oahorv.png" target="_blank"><img src="https://res.cloudinary.com/dotenv-org/image/upload/v1671740035/dotenv-screenshot_oahorv.png" class="rounded w-100" /></a>
  </div>
  -->
</div>
