<div class="row mt-4">
  <div class="col-lg-10 offset-lg-1">
    <span class="border border-dark rounded-circle bg-dark text-white px-2 py-1">2</span>
    <h3 class="h2 fw-bold mt-2 mb-0">Sync</h3>
    <p class="text-light-emphasis">securely - with a single command</p>
    <p>You don't need to install anything. No error prone binaries to install, infrastructure to maintain, or custom code to write. It just works – with a single command and across your whole team.</p>
    <p class="fw-semibold text-success font-monospace">$ npx dotenv-vault push</p>
    <p><a href="/docs/tutorials/sync">Syncing .env files »</a></p>
  </div>
</div>
