<div class="row mt-2">
  <div class="col-lg-8 offset-lg-2">
    <span class="border border-dark rounded-circle bg-dark text-white px-2 py-1">3</span>
    <h3 class="fw-semibold mt-2 mb-0">Deploy</h3>
    <p class="text-light-emphasis">to ci, staging, production, and more</p>
    <p>Ready to deploy your secrest to production? Run the build command to generate your encrypted <strong>.env.vault</strong> file, commit that safely to code, and deploy. There's nothing else like it.</p>
    <p class="fw-semibold text-success font-monospace">
      $ npx dotenv-vault build
      <br/>
      $ git commit -am "Add .env.vault"
      <br/>
      $ git push
    </p>
    <p><a href="/docs/tutorials/environments">Deploying to Production »</a></p>
  </div>
</div>
