<div class="row p-lg-5 p-md-4 p-3">
  <div class="col">
    <div class="row">
      <div class="col">
        <h2 class="fw-bold">Developer-first ergonomics</h2>
        <p class="text-secondary">We've purposely designed a cli that feels like git and a ui that feels like GitHub.</p>

        <a href="https://res.cloudinary.com/dotenv-org/image/upload/v1671740035/dotenv-screenshot_oahorv.png" target="_blank"><img src="https://res.cloudinary.com/dotenv-org/image/upload/v1671740035/dotenv-screenshot_oahorv.png" class="rounded w-100" /></a>
      </div>
    </div>
  </div>
</div>
