<div class="p-5 bg-body-secondary p-5 rounded mb-3">
  <div class="card text-bg-light shadow">
    <div class="card-header p-0 px-1">
      <div class="row">
        <div class="col">
          <span class="text-danger fw-bold fs-3 lh-1">⋅</span><span class="text-warning fw-bold fs-3 lh-1">⋅</span><span class="text-success fw-bold fs-3 lh-1">⋅</span>
        </div>
        <div class="col col-auto d-flex align-items-center">
          <span class="small text-body-tertiary me-1"><small>{{include.www}}</small></span>
        </div>
      </div>
    </div>
    <img src="{{include.url}}" width="500" class="rounded-bottom w-100">
  </div>
</div>
