<div class="container mt-5">
  <div class="row">
    <div class="col col-lg-8 offset-lg-2 bg-warning px-lg-4" style="--bs-bg-opacity: 0.1;">
      <h2 class="mt-4 fw-bold text-center">Security Statement</h2>
      <h6 class="text-center fw-normal mb-4">A message from Dotenv's Founder & CTO.</h6>
      <p>Fellow developer,</p>
      <p>As you already know, security is an evermoving target - an arms race. But that doesn't mean it should be hard to use. Good design can make complex things simple, and that is what we are after at Dotenv.</p>
      <p>Dotenv is a security tool. It has been since it was first developed in 2013. We saw developers struggling to keep their secrets safe so we pioneered the .env security file format standard. The design led to a better Developer Security Experience - which led to safer secrets for millions of developers. Today, we are taking that to the next logical step.</p>
      <p>What is the problem with .env files today? The world has changed. Developers manage secrets at greater scale than a decade ago. .env files are not easily shareable between machines, environments, and team members. As a result, developers share secrets over Slack, email, and other messaging services. It's not scaleable and is a security risk. For a CTO or CSO it is a risk they should not take.</p>
      <p>So, today, we are extending the .env file format to support syncing across machines, environments, and team members. It's an exciting development and we welcome you to go on this journey with us.</p>
      <p>Join us.</p>
      <div class="row mb-4">
        <p>- Mot.<br/>Founder & CTO</p>
        <p>
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1667973172/mot-dotenv_l00kth.png" width="90" alt="Mot" class="rounded"/>
        </p>
      </div>
    </div>
  </div>
</div>
