<div class="container py-lg-5 py-3">
  <div class="row mb-3 pt-3 pt-lg-5">
    <div class="col-lg-9 offset-lg-1 px-4">
      <h1 class="text-white h5 fw-normal mb-0">Security</h1>
      <h3 class="text-white display-3 fw-bold mt-0">Proven. Trusted. Secure.</h3>

      <h4 class="fw-normal mt-3 text-white">From the same people that pioneered dotenv - trusted by more than 2.5 million developers.</h4>
      <p class="mt-4 text-light">Trust is earned. You and 2.5 million+ developers trust us with securing your secrets through <strong>dotenv</strong>. Thank you. It's a solid foundation, but the challenges for <strong>dotenv-vault</strong> are different and we are earning your trust again.</p>
      <p class="text-light">Let's get started. See how it works below.</p>
    </div>
  </div>
</div>
