<div class="container-fluid mt-2">
  <div class="row mb-0">
    <div class="col text-center">
      <!--<p class="h6 my-1">From the same people that pioneered <a class="text-dark text-underline-hover" href="https://github.com/motdotla/dotenv" target="_blank">dotenv</a>.</p>-->
      <p class="small p-0 mb-1 text-muted text-uppercase">From the same people that pioneered <a class="text-muted" href="https://github.com/motdotla/dotenv" target="_blank">dotenv</a> 🏆 Trusted by millions of developers and companies</p>
    </div>
  </div>
  <!--
  <div class="row mt-0">
    <div class="col text-left">
      <div class="d-flex justify-content-center opacity-50">
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:netflix" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:microsoft" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:facebook" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:vercel" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:shopify" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:google" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:chase" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:docker" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:3m" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:airtable" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:auth0" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:ethereum" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:etsy" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:hackclub" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:ticketmaster" height="24"></iconify-icon>
        </div>
        <div class="p-2 ps-0">
          <iconify-icon icon="simple-icons:macys" height="24"></iconify-icon>
        </div>
      </div>
    </div>
  </div>
  -->
</div>


