<div class="row px-3">
  <div class="col">

    <p class="small pt-3 mb-0 pb-0 text-center text-muted text-uppercase">Trusted by more than 2.5 million developers</p>

    <div class="d-flex flex-row flex-wrap justify-content-center">
      <div class="p-3 text-center">
        <a class="d-block display-2 fw-bold lh-1 text-dark text-decoration-none" href="https://github.com/motdotla/dotenv/network/dependents" target="_blank">2.5M+</a>
        <a class="d-block small fw-light lh-1 text-muted text-decoration-none" href="https://github.com/motdotla/dotenv/network/dependents" target="_blank">2.5 Million+ Developers</a>
      </div>
      <div class="p-3 text-center">
        <a class="d-block display-2 fw-bold lh-1 text-dark text-decoration-none" href="https://www.npmjs.com/dotenv" target="_blank">100M+</a>
        <a class="d-block small fw-light lh-1 text-muted text-decoration-none" href="https://www.npmjs.com/dotenv" target="_blank">100 Million+ monthly installs</a>
      </div>
      <div class="p-3 text-center">
        <a class="d-block display-2 fw-bold lh-1 text-dark text-decoration-none" href="https://github.com/motdotla/dotenv/stargazers" target="_blank">16K+</a>
        <a class="d-block small fw-light lh-1 text-muted text-decoration-none" href="https://github.com/motdotla/dotenv/stargazers" target="_blank">16,000+ stars on GitHub</a>
      </div>
    </div>
  </div>
</div>
<div class="row pt-1">
  <div class="col text-center">
    <div class="d-flex flex-row flex-wrap justify-content-center grayscale">
      <div class="p-2">
        <iconify-icon icon="logos:netflix" style="color: #e50914;" height="24"></iconify-icon>
      </div>
      <div class="p-2">
        <iconify-icon icon="logos:microsoft" style="color: #5E5E5E;" height="24"></iconify-icon>
      </div>
      <div class="p-2">
        <iconify-icon icon="logos:facebook" style="color: #1877F2;" height="24"></iconify-icon>
      </div>
      <div class="p-2">
        <iconify-icon icon="logos:vercel" style="color: #000000;" height="24"></iconify-icon>
      </div>
      <div class="p-2">
        <iconify-icon icon="logos:shopify" style="color: #7AB55C;" height="24"></iconify-icon>
      </div>
      <div class="p-2">
        <iconify-icon icon="logos:google" style="color: #7AB55C;" height="24"></iconify-icon>
      </div>
      <div class="p-2">
        <iconify-icon icon="logos:chase" style="color: #117ACA;" height="24"></iconify-icon>
      </div>
      <div class="p-2">
        <iconify-icon icon="logos:docker" style="color: #2496ED;" height="24"></iconify-icon>
      </div>
    </div>
  </div>
</div>

<div clas="row">
  <div class="col">
    <p class="text-center small font-monospace">Used by cutting-edge developers, forward-thinking startups, and security- minded CTOs.</p>
  </div>
</div>

