<div class="videoplayer mb-4">
  <video controls poster="" class="border border-dark border-3 rounded shadow">
    {% if include.mp4 %}
      <source src="{{include.mp4}}" type="video/mp4">
    {% endif %}
    {% if include.webm %}
      <source src="{{include.webm}}" type="video/webm">
    {% endif %}

    Download the
    {% if include.mp4 %}
    <a href="{{include.mp4}}">MP4</a>
    {% endif %}
    {% if include.webm %}
    <a href="{{include.webm}}">WEBM</a>
    {% endif %}
    video.
  </video>
</div>
