<section class="max-w-5xl lg:max-w-7xl mx-auto mt-28 lg:mt-40 flex flex-col px-5">
  <h2 class="mx-auto mt-2 max-w-4xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">Developers, developers, developers</h2>
  <p class="mx-auto mt-3 mb-10 max-w-4xl text-center text-md md:text-lg text-base leading-2">We are developers, just like you. We could probably charge more for what we've built but as developers ourselves we don't like the idea of that. We're in this for the long haul – to build the best developer-first secrets manager on the market.</p>

  <h2 class="mx-auto mt-2 max-w-4xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">Non-profit, open-source, and educational discounts</h2>
  <p class="mx-auto mt-3 mb-10 max-w-4xl text-center text-md md:text-lg text-base leading-2">Yes, we offer discounts for non-profits, open-source 💛, and education programs. Contact us at <a href="mailto:support@dotenv.org" class="underline">support@dotenv.org</a> after creating your account to get your discount.</p>

  <h2 class="mx-auto mt-2 max-w-4xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">Cancel anytime, no lock-in</h2>
  <p class="mx-auto mt-3 mb-10 max-w-4xl text-center text-md md:text-lg text-base leading-2">Cancel your account at anytime. Also, unlike competing solutions, dotenv-vault is designed to work on top of the open .env file format standard. This way you can stop using dotenv-vault and everything will still just work.</p>

  <h2 class="mx-auto mt-2 max-w-4xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">Incrementally grow into dotenv-vault</h2>
  <p class="mx-auto mt-3 mb-10 max-w-4xl text-center text-md md:text-lg text-base leading-2">Unlike other secrets managers that are all-or-nothing, you can use dotenv-vault incremently. Start by using it as a way to backup your .env files, grow to using it across your team, and then adopt the encrypted deploys.</p>

</section>
