<section class="">
  <div class="flow-root pb-16 pt-24 sm:pt-32 lg:pb-0">
    <div class="mx-auto max-w-7xl px-4">
      <div class="relative z-10">
        <h5 class="text-center text-base font-semibold leading-7 dark:text-yellow-300">Invest in Your Security</h5>
        <h1 class="mx-auto mt-2 max-w-4xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">
          <span x-data="{
            signups: 500,
            getSignupCount() {
              fetch('https://vault.dotenv.org/public/stats')
                .then(response => response.json())
                .then(data => { this.signups = data.signups; })
            }
          }" x-init="getSignupCount()" x-text="signups">500</span> organizations signed up last month.</h1>

        <p class="mx-auto mt-4 max-w-2xl text-center text-lg leading-8 text-base">Just $5 for individuals.</p>
      </div>
      <div class="relative mx-auto mt-10 grid max-w-md grid-cols-1 gap-y-8 lg:mx-0 lg:-mb-14 lg:max-w-none lg:grid-cols-2">
        <svg viewBox="0 0 1208 1024" aria-hidden="true" class="absolute -bottom-48 left-1/2 h-[64rem] -translate-x-1/2 translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] lg:-top-48 lg:bottom-auto lg:translate-y-0 hidden lg:flex">
          <ellipse cx="604" cy="512" fill="url(#d25c25d4-6d43-4bf9-b9ac-1842a30a4867)" rx="604" ry="512" />
          <defs>
            <radialGradient id="d25c25d4-6d43-4bf9-b9ac-1842a30a4867">
              <stop stop-color="#F2C14B" />
              <stop offset="1" stop-color="#F8E695" />
            </radialGradient>
          </defs>
        </svg>
        <div class="hidden lg:absolute lg:inset-x-px lg:bottom-0 lg:top-4 lg:block lg:rounded-t-2xl lg:bg-zinc-950/80 lg:ring-1 lg:ring-white/10" aria-hidden="true"></div>
        <div class="relative rounded-2xl bg-zinc-950/80 ring-1 ring-white/10 lg:bg-transparent lg:pb-14 lg:ring-0">
          <div class="p-8 lg:pt-12 xl:p-10 xl:pt-14">
            <h3 class="font-semibold leading-6 text-white">Solo</h3>
            <div class="flex flex-col gap-6 sm:flex-row sm:items-end sm:justify-between lg:flex-col lg:items-stretch">
              <div class="mt-2 flex items-center gap-x-4">
                <p class="text-6xl font-bold tracking-tight text-zinc-50">$5</p>
                <div class="leading-5">
                  <p class="text-zinc-500 my-1">USD</p>
                  <p class="text-zinc-50"><span class="font-bold">Month</span> <span class="">per user</span></p>
                </div>
              </div>
              <a href="https://vault.dotenv.org/signup" aria-describedby="tier-starter" class="rounded-md py-2 px-3 text-center font-semibold leading-6 text-white bg-white/10 hover:bg-white/20" data-umami-event="Signup Clicked">Sign up</a>
            </div>
            <p class="my-3 text-zinc-300">Full-fledged security for individuals.</p>
            <div class="mt-8 flow-root sm:mt-10">
              <ul role="list" class="-my-2 divide-y border-t leading-6 lg:border-t-0 divide-white/5 border-zinc-900 text-zinc-100">
                {% include v2/pricing/features/sync.html %}
                {% include v2/pricing/features/unlimited_projects.html %}
                {% include v2/pricing/features/2_teammates.html %}
                {% include v2/pricing/features/email_support.html %}
                {% include v2/pricing/features/multiple_environments.html %}
                {% include v2/pricing/features/compare_environments.html %}
                {% include v2/pricing/features/encrypted_deploys.html %}
                {% include v2/pricing/features/cli_dashboard.html %}
                {% include v2/pricing/features/github_addon.html %}
                {% include v2/pricing/features/vscode_extension.html %}
                {% include v2/pricing/features/personal_secrets.html %}
              </ul>
            </div>
          </div>
        </div>
        <div class="relative rounded-2xl z-10 bg-white shadow-xl ring-1 ring-gray-900/10">
          <div class="p-8 lg:pt-12 xl:p-10 xl:pt-14">
            <h3 class="font-semibold leading-6 text-gray-900">Team</h3>
            <div class="flex flex-col gap-6 sm:flex-row sm:items-end sm:justify-between lg:flex-col lg:items-stretch">
              <div class="mt-2 flex items-center gap-x-4">
                <p class="text-6xl font-bold tracking-tight text-zinc-950">$8</p>
                <div class="leading-5">
                  <p class="text-zinc-500 my-1">USD</p>
                  <p class="text-zinc-950"><span class="font-bold">Month</span> <span class="">per user</span></p>
                </div>
              </div>
              <a href="https://vault.dotenv.org/signup" aria-describedby="tier-scale" class="rounded-md py-3 px-3 text-center font-semibold leading-6 text-white bg-yellow-600 shadow-sm hover:bg-yellow-500" data-umami-event="Signup Clicked">Sign Up</a>
            </div>
            <p class="my-3 dark:text-zinc-200">Advanced security and more control for teams of all sizes.</p>
            <div class="mt-8 flow-root sm:mt-10">
              <ul role="list" class="-my-2 divide-y border-t leading-6 lg:border-t-0 divide-gray-900/5 border-gray-900/5 text-gray-600">
                {% include v2/pricing/features/sync.html %}
                {% include v2/pricing/features/unlimited_projects.html %}
                {% include v2/pricing/features/unlimited_teammates.html %}
                {% include v2/pricing/features/email_support.html %}
                {% include v2/pricing/features/multiple_environments.html %}
                {% include v2/pricing/features/compare_environments.html %}
                {% include v2/pricing/features/encrypted_deploys.html %}
                {% include v2/pricing/features/cli_dashboard.html %}
                {% include v2/pricing/features/github_addon.html %}
                {% include v2/pricing/features/vscode_extension.html %}
                {% include v2/pricing/features/personal_secrets.html %}
                {% include v2/pricing/features/custom_environments.html %}
                {% include v2/pricing/features/slack_notifications.html %}
                {% include v2/pricing/features/access_controls.html %}
                {% include v2/pricing/features/version_history.html %}
                {% include v2/pricing/features/external_share.html %}
                {% include v2/pricing/features/high_availability.html %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
