<section class="max-w-4xl lg:max-w-7xl mx-auto mt-28 lg:mt-40 flex flex-col px-5">
  <h2 class="mx-auto mt-2 max-w-4xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">Save money with dotenv-vault</h2>

  <p class="mx-auto mt-3 mb-10 max-w-4xl text-center text-md md:text-lg text-zinc-600 leading-2">The average cost of a secrets leak is $1.2 million dollars. You need a secrets manager that simplifies your secrets and prevents them from being scattered across multiple third-parties.</p>

  <div class="mx-auto w-full">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="w-full p-4 rounded-md outline outline-offset-4 outline-zinc-900 bg-zinc-900/30 hover:bg-zinc-900/50">
        <div class="flex gap-4">
          <div class="shrink">
            {% include logos/dotenv.html class="h-12 text-zinc-50 rounded mt-1" %}
          </div>
          <div class="grow">
            <h5 class="font-bold text-xl text-zinc-50">Team plan</h5>
            <p class="my-2 font-normal text-lg text-zinc-500">50 users at $4/month</p>

            <div class="my-1 font-semibold text-lg text-zinc-100">
              ✓ Unlimited secrets
            </div>
            <div class="my-1 font-semibold text-lg text-zinc-100">
              ✓ Unlimited projects
            </div>
            <div class="my-1 font-semibold text-lg text-zinc-100">
              ✓ Custom environments
            </div>
            <div class="my-1 font-semibold text-lg text-zinc-100">
              ✓ Slack notifications
            </div>
            <div class="my-1 font-semibold text-lg text-zinc-100">
              ✓ User access controls
            </div>
            <div class="my-1 font-semibold text-lg text-zinc-100">
              ✓ Version history
            </div>
            <div class="my-1 font-semibold text-lg text-zinc-100">
              ✓ External share
            </div>
            <div class="my-1 font-semibold text-lg text-zinc-100">
              ✓ High availability
            </div>

            <p class="mt-5 text-zinc-100 font-bold text-2xl">= $200/month</p>
          </div>
        </div>
      </div>
      <div class="shrink min-w-0 grid place-content-center">
        <div class="p-2 rounded-full border-zinc-800 text-center font-bold text-zinc-100">
          <span class="text-xl md:text-2xl">VS</span>
        </div>
      </div>
      <div class="w-full">
        <div class="w-full p-4 rounded-md outline outline-offset-4 outline-zinc-900 bg-zinc-900/30 hover:bg-zinc-900/50">
          <div class="flex gap-4">
            <div class="shrink">
              {% include logos/hashicorpvault.html class="h-12 text-zinc-50 mt-1" %}
            </div>
            <div class="grow">
              <h5 class="font-bold text-xl text-zinc-50">HashiCorp Vault</h5>
              <p class="my-2 font-normal text-lg text-zinc-500">50 users at $1.58/hour</p>
              <p class="my-2 font-bold text-2xl text-zinc-100">= $1,137.60/month</p>
            </div>
          </div>
        </div>
        <div class="my-4 w-full p-4 rounded-md outline outline-offset-4 outline-zinc-900 bg-zinc-900/30 hover:bg-zinc-900/50">
          <div class="flex gap-4">
            <div class="shrink">
              <img src="/assets/img/pricing/doppler.png" class="h-12 w-12 rounded mt-1">
            </div>
            <div class="grow">
              <h5 class="font-bold text-xl text-zinc-50">Doppler</h5>
              <p class="my-2 font-normal text-lg text-zinc-500">50 users at $18/month</p>
              <p class="my-2 font-bold text-zinc-100 text-2xl">= $900/month</p>
            </div>
          </div>
        </div>
        <div class="w-full p-4 rounded-md outline outline-offset-4 outline-zinc-900 bg-zinc-900/30 hover:bg-zinc-900/50">
          <div class="flex gap-4">
            <div class="shrink">
              <img src="/assets/img/pricing/infisical.png" class="h-12 w-12 rounded mt-1">
            </div>
            <div class="grow">
              <h5 class="font-bold text-xl text-zinc-50">Infisical</h5>
              <p class="my-2 font-normal text-lg text-zinc-500">50 users at $14/month</p>
              <p class="my-2 font-bold text-2xl text-zinc-100">= $700/month</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
