<section class="max-w-4xl lg:max-w-6xl mx-auto mt-28 lg:mt-40 flex flex-col px-5">
  <h2 class="mx-auto mt-2 max-w-4xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">What's free? Everything you need.</h2>

  <p class="mx-auto mt-3 mb-10 max-w-4xl text-center text-md md:text-lg text-zinc-600 leading-2">Everything you need to securely backup, sync, and deploy your secrets from one source of truth.</p>

  <div class="max-w-3xl mx-auto w-full">
    <div class="grid grid-cols-2 gap-4">
      <div class="border p-2 rounded-md border-zinc-800 text-center font-bold text-zinc-100 inline">
        {% include logos/check.html class="text-green-300 w-4 h-4 inline mr-1" %}
        <span class="mr-1">Sync .env files</span>
      </div>
      <div class="border p-2 rounded-md border-zinc-800 text-center font-bold text-zinc-100 inline">
        {% include logos/check.html class="text-green-300 w-4 h-4 inline mr-1" %}
        <span class="mr-1">Unlimited projects</span>
      </div>
      <div class="border p-2 rounded-md border-zinc-800 text-center font-bold text-zinc-100 inline">
        {% include logos/check.html class="text-green-300 w-4 h-4 inline mr-1" %}
        <span class="mr-1">Up to 3 teammates</span>
      </div>
      <div class="border p-2 rounded-md border-zinc-800 text-center font-bold text-zinc-100 inline">
        {% include logos/check.html class="text-green-300 w-4 h-4 inline mr-1" %}
        <span class="mr-1">Email support</span>
      </div>
      <div class="border p-2 rounded-md border-zinc-800 text-center font-bold text-zinc-100 inline">
        {% include logos/check.html class="text-green-300 w-4 h-4 inline mr-1" %}
        <span class="mr-1">Multiple environments</span>
      </div>
      <div class="border p-2 rounded-md border-zinc-800 text-center font-bold text-zinc-100 inline">
        {% include logos/check.html class="text-green-300 w-4 h-4 inline mr-1" %}
        <span class="mr-1">Encrypted deploys</span>
      </div>
      <div class="border p-2 rounded-md border-zinc-800 text-center font-bold text-zinc-100 inline">
        {% include logos/check.html class="text-green-300 w-4 h-4 inline mr-1" %}
        <span class="mr-1">GitHub add-on</span>
      </div>
      <div class="border p-2 rounded-md border-zinc-800 text-center font-bold text-zinc-100 inline">
        {% include logos/check.html class="text-green-300 w-4 h-4 inline mr-1" %}
        <span class="mr-1">VSCode extension <sup>*</sup></span>
      </div>
    </div>

    <p class="text-center my-4 text-sm"><sup>*</sup> Add auto-cloaking to your .env files</p>
  </div>
</section>
