<div class="card border-2 border-danger rounded-3 h-100">
  <div class="card-header p-4 bg-white">
    <h2 class="h1 fw-extrabold mb-0">Enterprise</h2>
    <p class="">Unlimited users</p>
    <hr class="border-danger"/>
    <h3 class="h2 fw-light mb-0"><span class="fw-semibold">$21</span><small>/mo</small> <span class="fs-6">per user</span></h3>
    <p class="">Month-to-month flexibility</p>
    <a href="mailto:support@dotenv.org" class="btn btn-outline-success rounded-pill fw-semibold mb-3">Contact us</a>
    <p class="lead mb-0">Compliance and deep integration with your internal network.</p>
  </div>
  <div class="card-body p-0">
    <ul class="list-group list-group-flush">
      {% include pricing/features/sync.html %}
      {% include pricing/features/unlimited_projects.html %}

      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Unlimited teammates
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Email support
      </li>

      {% include pricing/features/multiple_environments.html %}

      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Compare environments
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Encrypted deploys
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> CLI / Dashboard
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> GitHub add-on
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> VSCode extension
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Personal secrets
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Custom environments
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Slack notifications
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> User access controls
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Version history
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> External share
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> High availability
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Audit log (2023)
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Webhooks (2023)
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Compliance reporting (2023)
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Trusted IPs (2023)
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> and more
      </li>
    </ul>
  </div>
</div>
