<div class="card bg-warning-subtle">
  <div class="card-header py-3">
    <h5 class="card-title h4 fw-bold">Free</h5>
    <p class="card-text small">Full-fledged security for individuals and small teams.</p>
    <p class="card-text"><span class="font-monosopace fw-semibold h5">$0</span> / forever</p>
  </div>
  <div class="card-body p-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Unlimited projects
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Up to 3 teammates
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Community support
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Multiple environments
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> GitHub add-on
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Deploy everywhere
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <div class="d-grid gap-2">
      <a class="btn btn-link" href="/signup">Sign Up Free</a>
    </div>
  </div>
</div>

