<div class="container">
  <div class="row text-center mb-3">
    <div class="col">
      <!--<h1 class="display-1 fw-extrabold mt-5 lh-1">Invest in Your Security</h1>-->
      <h1 class="display-2 fw-extrabold mt-5 lh-1"><span id="signupCount">503</span> organizations signed up last month.</h1>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <p class="h2 fw-light mt-1"><span class="fw-bold">Free to use</span> for individuals and small teams.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  fetch('https://vault.dotenv.org/public/stats')
    .then(response => response.json())
    .then(data => {
      const signupCount = data.signups
      const signupCountSpan = document.getElementById('signupCount')
      signupCountSpan.innerText = signupCount
    })
    .catch(error => {
      // console.error('Error:', error)
    })
</script>
