<div class="container mb-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2 class="text-center h1 fw-extrabold mt-5">Invest in your security, with dotenv-vault</h2>

      <p class="lead fw-normal text-center">The average cost of a secrets leak is <span class="fw-bold text-danger">$1.2 million dollars</span>. You need a secrets manager that simplifies your secrets and prevents them from being scattered across multiple third-parties.</p>
    </div>
  </div>

  <div class="row g-0">
    <div class="col">
      <div class="card text-bg-light h-100">
        <div class="card-body p-4">
          <div class="row g-2">
            <div class="col col-auto">
              <div class="rounded overflow-hidden">
                {% include icons/dotenv.html color="#000000" width="50" %}
              </div>
            </div>
            <div class="col">
              <div>
                <h5 class="fw-extrabold m-0 p-0">Team plan</h5>
                <p class="lead mb-2">50 users @ $4/month</p>

                <ul class="list-unstyled fs-5">
                  <li class="fw-bold">
                    <span class="text-black">✓</span> Unlimited secrets
                  </li>
                  <li class="fw-bold">
                    <span class="text-black">✓</span> Unlimited projects
                  </li>
                  <li class="fw-bold">
                    <span class="text-black">✓</span> Custom environments
                  </li>
                  <li class="fw-bold">
                    <span class="text-black">✓</span> Slack notifications
                  </li>
                  <li class="fw-bold">
                    <span class="text-black">✓</span> User access controls
                  </li>
                  <li class="fw-bold">
                    <span class="text-black">✓</span> Version history
                  </li>
                  <li class="fw-bold">
                    <span class="text-black">✓</span> External share
                  </li>
                  <li class="fw-bold">
                    <span class="text-black">✓</span> High availability
                  </li>
                </ul>

                <p class="h4 fw-extrabold mb-0">= <span class="bg-warning-subtle">$200/month</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-auto col-lg-auto d-flex align-items-center justify-content-center">
      <span class="fs-3 fw-extrabold p-3 rounded-circle">VS</span>
    </div>
    <div class="col">

      <div class="card text-bg-light">
        <div class="card-body p-4">
          <div class="row g-2">
            <div class="col col-auto">
              <div class="overflow-hidden">
                {% include icons/vault.html color="#000000" width="50" %}
              </div>
            </div>
            <div class="col">
              <div>
                <h5 class="fw-extrabold m-0 p-0">HashiCorp Vault</h5>
                <p class="lead mb-2">50 users @ $1.58/hour</p>
                <p class="h4 fw-extrabold mb-0">= <span class="bg-warning-subtle">$1,137.60/month</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-bg-light mt-2">
        <div class="card-body p-4">
          <div class="row g-2">
            <div class="col col-auto">
              <div class="overflow-hidden rounded">
                <img src="/assets/img/pricing/doppler.png" width="50">
              </div>
            </div>
            <div class="col">
              <div>
                <h5 class="fw-extrabold m-0 p-0">Doppler</h5>
                <p class="lead mb-2">50 users at $18/month</p>
                <p class="h4 fw-extrabold mb-0">= <span class="bg-warning-subtle">$900/month</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-bg-light mt-2">
        <div class="card-body p-4">
          <div class="row g-2">
            <div class="col col-auto">
              <div class="overflow-hidden rounded">
                <img src="/assets/img/pricing/infisical.png" width="50">
              </div>
            </div>
            <div class="col">
              <div>
                <h5 class="fw-extrabold m-0 p-0">Infisical</h5>
                <p class="lead mb-2">50 users at $14/month</p>
                <p class="h4 fw-extrabold mb-0">= <span class="bg-warning-subtle">$700/month</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
