<div class="card border-2 border-primary rounded-3 h-100">
  <div class="card-header p-4 bg-white">
    <h2 class="h1 fw-extrabold mb-0">Team</h2>
    <p class="">Unlimited users</p>
    <hr class="border-primary"/>
    <h3 class="h2 fw-light mb-0"><span class="fw-semibold">$4</span><small>/mo</small> <span class="fs-6">per user</span></h3>
    <p class="">Month-to-month flexibility</p>
    <a href="https://vault.dotenv.org/signup" class="btn btn-success rounded-pill fw-semibold mb-3">Try for free</a>
    <p class="lead mb-0">Advanced security and more control for teams of all sizes.</p>
  </div>
  <div class="card-body p-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Sync .env files
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Unlimited projects
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Unlimited teammates
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Email support
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Multiple environments
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Encrypted deploys
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> CLI / Dashboard
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> GitHub add-on
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> VSCode extension
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Personal secrets
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Custom environments
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Slack notifications
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> User access controls
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> Version history
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> External share
      </li>
      <li class="list-group-item small bg-transparent">
        <span class="text-success">✓</span> High availability
      </li>
    </ul>
  </div>
</div>
