<h2 class="text-center h1 fw-extrabold mt-5">What's free? Everything you need.</h2>
<p class="lead fw-normal text-center">Everything you need to securely backup, sync, and deploy your secrets from one source of truth.</p>
<div class="row row-cols-2 row-cols-md-2 row-cols-lg-2 g-3">
  <div class="col">
    <div class="card border-warning w-100 h-100">
      <div class="card-body text-center fw-bold px-1">
        <span class="text-success">✓</span>
        Sync .env files
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-warning w-100 h-100">
      <div class="card-body text-center fw-bold px-1">
        <span class="text-success">✓</span>
        Unlimited projects
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-warning w-100 h-100">
      <div class="card-body text-center fw-bold px-1">
        <span class="text-success">✓</span>
        Up to 3 teammates
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-warning w-100 h-100">
      <div class="card-body text-center fw-bold px-1">
        <span class="text-success">✓</span>
        Email support
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-warning w-100 h-100">
      <div class="card-body text-center fw-bold px-1">
        <span class="text-success">✓</span>
        Multiple environments
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-warning w-100 h-100">
      <div class="card-body text-center fw-bold px-1">
        <span class="text-success">✓</span>
        Encrypted deploys
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-warning w-100 h-100">
      <div class="card-body text-center fw-bold px-1">
        <span class="text-success">✓</span>
        GitHub add-on
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-warning w-100 h-100">
      <div class="card-body text-center fw-bold px-1">
        <span class="text-success">✓</span>
        Personal secrets
      </div>
    </div>
  </div>
</div>
