article {
  border: 0.5rem solid $borderColor;
  padding-right: $padWidth;
  padding-left: $padWidth;
  border-right-width: 0.2rem;
  border-bottom-width: 0.2rem;
  border-top-width: 1px;
  margin-bottom: 0rem;
  background: $white;

  p {
    max-width: $charWidth;

    &.w-100 {
      max-width: 100%;
    }
  }

  img {
    max-width: 100%;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
  }

  a img {
    border: 1px solid #0000EE;
    border-bottom: 5px solid #0000EE;
    border-right: 4px solid #0000EE;
  }

  a:visited img {
    border: 1px solid #551A8B;
    border-bottom: 5px solid #551A8B;
    border-right: 4px solid #551A8B;
  }
}
