article {
  border: 0.5rem solid $borderColor;
  padding-right: $padWidth;
  padding-left: $padWidth;
  border-right-width: 0.2rem;
  border-bottom-width: 0.2rem;
  border-top-width: 1px;
  margin-bottom: 0rem;
  background: $white;

  p {
    max-width: $charWidth;

    &.w-100 {
      max-width: 100%;
    }
  }
}
