button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.5; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  opacity: 1;
}

.btn {
  display: inline-block;
  background-color: $btnBlue;
  border: 1px solid $btnBlue;
  color: $white;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.5;
  padding: 0.3rem 0.6rem;
  border-radius: .25rem;
  transition: all 80ms ease-in-out;
}

.btn:disabled {
  opacity: .5;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.btn:active {
  background-color: #0039D7;
  border-color: #0039D7;
}

.btn-secondary {
  background-color: $light !important;
}

.btn-outline {
  background: none;
  border: 1px solid $light;
  color: $gray;

  &:hover, &:active {
    background: none;
    border: 1px solid $gray;
    text-decoration: none;
    color: $secondary;
  }
}
