.flex {
  display: flex;
  align-items: top;
  justify-content: top;

  div {
    &.flex-auto {
      flex: none;
    }
    &.flex-0 {
      flex: 0;
    }
    &.flex-1 {
      flex: 1;
    }
    &.flex-2 {
      flex: 2;
    }
    &.flex-3 {
      flex: 3;
    }
  }
}


