form {
  border: 0.5rem solid $borderColor;
  border-right-width: 0.2rem;
  border-bottom-width: 0.2rem;
  border-top-width: 1px;
  width: 18rem;
  margin: 0 auto;
  background: $white;

  fieldset {
    border: none;
    padding: 1rem;
  }
}

input[type=text], input[type=password], input[type=email] {
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $borderColor;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
}

input[type=submit] {
  display: block;
  appearance: button;
  background-color: $btnBlue;
  border: 1px solid $btnBlue;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.7rem;
  line-height: 1.5;
  overflow: visible;
  padding: 0.3rem 0.6rem;
  position: relative;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  font-weight: normal;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
