// Ruder concluded that the optimal line length for body text is 50–60 characters per line, including spaces (“Typographie”, E. Ruder).

$fontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$rootFontSize: 20px; // rem is 1 root size
$black:  #000000;
$secondary: rgba(0, 0, 0, 0.8);
$gray: rgba(0, 0, 0, 0.5);
$light: rgba(0, 0, 0, 0.2);
$lighter: rgba(0, 0, 0, 0.05);
$lightest: rgba(0, 0, 0, 0.01);
$yellow: #ECD53F;
$white: #fdfdfd;
$width: 55ch;
$charWidth: 44ch;
$padWidth: 2ch;
$borderColor: rgba(0, 0, 0, 0.1);
$borderRadius: 0.1rem;
$borderWidth: 0.5rem;
$btnBlue: #1652F0;

:root {
  font-size: $rootFontSize;
}

* {
  box-sizing: border-box;
  min-width: 0; // important, fixes flexbox issue with pre tags. https://stackoverflow.com/questions/32035406/how-to-limit-pre-tag-width-inside-flex-container
}

body {
  background: $white;
  color: $black;
  font-family: $fontFamily;
  padding: 0.1rem 0 1rem 0;
  margin: 0;
}

body.dark-mode {
  filter: invert(100%);

  img {
    filter: invert(100%);
  }
}

h1, .h1 { font-size: 2rem; line-height: 1.2; }
h2, .h2 { font-size: 1.5rem; line-height: 1.2; }
h3, .h3 { font-size: 1.3rem; line-height: 1.2; }
h4, .h4 { font-size: 1.0rem; line-height: 1.2; }
h5, .h5 { font-size: 0.8rem; line-height: 1.2; }
h6, .h6 { font-size: 0.7rem; line-height: 1.2; }
p, .p { font-size: 0.7rem; line-height: 1.5; color: $secondary; }
ul li { font-size: 0.7rem; line-height: 1.5; color: $secondary; }
ol li { font-size: 0.7rem; line-height: 1.5; color: $secondary; }
small, .small { font-size: 80%; }
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover {
  text-decoration: underline;
}

/* TABLE */
table {
  //font-size: 0.5rem;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  th {
    text-align: center;
  }

  th, td {
    border: 1px solid $borderColor;
    padding: 0.3rem;
  }

  &.specs-table {
    td {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      padding: 0;
    }

    p {
      max-width: 100%;
    }
  }

  &.pricing-table {
    td {
      border-left: 0;
      border-right: 0;
      padding: 0;
    }

    p {
      max-width: 100%;
    }
  }

  &.libraries-table {
    width: 100%;

    tr td:first-child {
      max-width: 100%;
      white-space: nowrap;
      width: 3rem;
    }

    tr td:last-child {
      width: 3rem;
    }

    .small { 
      font-size: 0.6rem;
    }

  }
}

/* CODE BLOCKS */
pre {
  background: #f6f8fa;
  border-radius: $borderRadius;
  padding: $padWidth / 2;
  font-size: 0.7rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
code {
  background: #f6f8fa;
}

/* CSS */
/* Blockquotes */
blockquote{
  font-size: 1.4em;
  margin-bottom: 0.7rem;
  font-style: italic;
  color: $secondary;
  padding: 0.5rem;
  padding-left: 3rem;
  border-left: 0.4rem solid $light;
  line-height: 1.6;
  position: relative;
  background: $lighter;
}

blockquote::before{
  font-family: Arial;
  content: "\201C";
  color: $light;
  font-size: 3rem;
  position: absolute;
  left: 1rem;
  top: 0.2rem;
}

blockquote::after{
  content: '';
}
