// Ruder concluded that the optimal line length for body text is 50–60 characters per line, including spaces (“Typographie”, E. Ruder).

$fontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$rootFontSize: 20px; // rem is 1 root size
$black:  #000000;
$secondary: rgba(0, 0, 0, 0.8);
$gray: rgba(0, 0, 0, 0.5);
$light: rgba(0, 0, 0, 0.2);
$lighter: rgba(0, 0, 0, 0.05);
$lightest: rgba(0, 0, 0, 0.01);
$yellow: #ECD53F;
$white: #fdfdfd;
$width: 55ch;
$charWidth: 44ch;
$padWidth: 2ch;
$border-color: rgba(0, 0, 0, 0.1);
$border-radius: 0.1rem;
$border-width: 0.5rem;
$btn-blue: #1652F0;

:root {
  font-size: $rootFontSize;
}

* {
  box-sizing: border-box;
  min-width: 0; // important, fixes flexbox issue with pre tags. https://stackoverflow.com/questions/32035406/how-to-limit-pre-tag-width-inside-flex-container
}

html {
  background: $white;
  color: $black;
}

html.dark-mode {
  filter: invert(100%);

  img {
    filter: invert(100%);
  }
}

body {
  background: $white;
  color: $black;
  font-family: $fontFamily;
  padding: 0.1rem 0 1rem 0;
  margin: 0;
}

h1, .h1 { font-size: 2rem; line-height: 2.1rem; }
h2, .h2 { font-size: 1.5rem; line-height: 1.7rem; }
h3, .h3 { font-size: 1.3rem; line-height: 1.5rem; }
h4, .h4 { font-size: 1.0rem; line-height: 1.3rem; }
h5, .h5 { font-size: 0.8rem; line-height: 1.1rem; }
h6, .h6 { font-size: 0.7rem; line-height: 1rem; }
p, .p { font-size: 0.7rem; line-height: 1rem; color: $secondary; }
ul li { font-size: 0.7rem; line-height: 1rem; color: $secondary; }
ol li { font-size: 0.7rem; line-height: 1rem; color: $secondary; }
small, .small { font-size: 80%; }
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

article {
  width: $width;
  padding-left: $padWidth;
  padding-right: $padWidth;
  // border-radius: $border-radius;
  //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 0.5rem solid $border-color;
  border-right-width: 0.2rem;
  border-bottom-width: 0.2rem;
  border-top-width: 1px;
  margin: 0 auto;
  margin-bottom: 0rem;

  p {
    max-width: $charWidth;

    &.w-100 {
      max-width: 100%;
    }
  }

  li {
    max-width: $charWidth;
  }

  &.hero {
    padding-top: 2ch;
    padding-bottom: $padWidth;
    border: 0;
    background: $yellow;
  }

  &.security-hero {
    padding-top: 4ch;
    padding-bottom: $padWidth;
    border: 0.2rem solid $yellow;
    background: $black;
    color: $white;
    p {
      color: $white;
    }
    a {
      color: $white;
    }
  }

  .security-how-it-works {
    div.flex div.flex-1 {
      padding: 0 0.5rem;
    }
  }

  .security-statement {
    font-size: 0.7rem;
    width: $charWidth;
    margin: 0 auto;
  }
}

nav.site-nav {
  width: $width;
  margin: 0.5rem auto 0.3rem auto;
  //padding-left: 0.5rem;
  //padding-right: 0.5rem;
  padding-bottom: 0;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      font-size: 0.7rem;
      display: inline-block;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }
  }
}

.docs {
  padding: 0 !important;

  h1, .h1 { font-size: 1.5rem; line-height: 1.7rem; }
  h2, .h2 { font-size: 1.3rem; line-height: 1.5rem; }
  h3, .h3 { font-size: 1.0rem; line-height: 1.3rem; }
  h4, .h4 { font-size: 1.0rem; line-height: 1.0rem; }
  h5, .h5 { font-size: 0.7rem; line-height: 1rem; }
  h6, .h6 { font-size: 0.7rem; line-height: 1rem; }
  p { font-size: 0.7rem; line-height: 1rem; color: $secondary; }
  ul li { font-size: 0.7rem; line-height: 1rem; color: $secondary; }
  ol li { font-size: 0.7rem; line-height: 1rem; color: $secondary; }

  table.docs-table {
    border-collapse: collapse;

    td {
      border: none;
      padding: 1rem;

      &.nav {
        vertical-align: top;
        width: 10rem;
        border: none;
        border-right: 1px solid $light;
        background: rgba(0, 0, 0, 0.01);
      }

      &.content {
        vertical-align: top;

        h1, h2, h3, h4, h5, h6, p { margin-bottom: 0; }

        img {
          width: 100%;
          border: 1px solid $border-color;
          border-radius: $border-radius;
        }
      }
    }
  }

  nav.docs-nav {
    display: block;
    padding: 0;
    background: none;

    h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
    h6 { margin-bottom: 0.2rem; }

    ul {
      margin-top: 0;
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        font-size: 0.7rem;
      }
    }
  }

}

footer {
  width: $width;
  margin: 0.5rem auto 0 auto;

  ul {
    flex: 1;
    list-style-type: none;
    padding-left: 0;

    li {
      font-size: 0.7rem;
      display: inline-block;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }
  }
}

/* UTIILITIES */
.m-auto { margin: 0 auto; }
.inline { display: inline-block; }
.v-middle { vertical-align: middle; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-green { color: green; }
.text-light { color: $light; }
.text-gray, .text-grey { color: $gray; }
.text-black { color: $black; }
.text-decoration-none { text-decoration: none; }
.shadow { }
.padding-top-2 { padding-top: 2ch; }
.rounded { border-radius: $border-radius; }
.mt-0 { margin-top: 0; }
.mt-02 { margin-top: 0.2rem; }
.mt-03 { margin-top: 0.3rem; }
.mt-04 { margin-top: 0.4rem; }
.mt-1 { margin-top: 1rem; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 1rem; }
.mb-02 { margin-bottom: 0.2rem; }
.mb-03 { margin-bottom: 0.3rem; }
.mb-04 { margin-bottom: 0.4rem; }
.mb-05 { margin-bottom: 0.5rem; }
.mb-06 { margin-bottom: 0.6rem; }
.mb-07 { margin-bottom: 0.7rem; }
.mb-08 { margin-bottom: 0.8rem; }
.pb-0 { padding-bottom: 0; }
.pr-1 { padding-right: 1rem; }
.pr-08 { padding-right: 0.8rem; }
.pr-06 { padding-right: 0.6rem; }
.bl-0 { border-left: 0; }
.br-0 { border-right: 0; }
.w-100 { width: 100% !important; }
.w-char-width { width: $charWidth; }
.lh-08 { line-height: 0.8rem; }
.font-weight-normal { font-weight: normal; }
.italic { font-style: italic; }
.align-middle { vertical-align: middle; }

/* HIGHLIGHT */
.h { border: 1px solid #0FFF50; }

/* TABLE */
table {
  //font-size: 0.5rem;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  th {
    text-align: center;
  }

  th, td {
    border: 1px solid $border-color;
    padding: 0.3rem;
  }

  &.specs-table {
    td {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      padding: 0;
    }

    p {
      max-width: 100%;
    }
  }

  &.pricing-table {
    td {
      border-left: 0;
      border-right: 0;
      padding: 0;
    }

    p {
      max-width: 100%;
    }
  }

  &.libraries-table {
    width: 100%;

    tr td:first-child {
      max-width: 100%;
      white-space: nowrap;
      width: 3rem;
    }

    tr td:last-child {
      width: 3rem;
    }

    .small { 
      font-size: 0.6rem;
    }

  }
}

/* FLEX */
.flex {
  display: flex;
  align-items: top;
  justify-content: top;

  div {
    &.flex-auto {
      flex: none;
    }
    &.flex-0 {
      flex: 0;
    }
    &.flex-1 {
      flex: 1;
    }
    &.flex-2 {
      flex: 2;
    }
    &.flex-3 {
      flex: 3;
    }
  }
}

/* CODE BLOCKS */
.bar {
  border: 1px solid red;
  width: auto;
}

pre {
  background: #f6f8fa;
  border-radius: $border-radius;
  padding: $padWidth / 2;
  font-size: 0.7rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
code {
  background: #f6f8fa;
}

/* CSS */
.btn {
  appearance: button;
  background-color: $btn-blue;
  border: 1px solid $btn-blue;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.7rem;
  line-height: 0.6rem;
  overflow: visible;
  padding: 0.5rem 0.6rem;
  position: relative;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  font-weight: normal;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.btn:disabled {
  opacity: .5;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.btn:active {
  background-color: #0039D7;
  border-color: #0039D7;
}

/* Blockquotes */
blockquote{
  font-size: 1.4em;
  margin-bottom: 0.7rem;
  font-style: italic;
  color: $secondary;
  padding: 0.5rem;
  padding-left: 3rem;
  border-left: 0.4rem solid $light;
  line-height: 1.6;
  position: relative;
  background: $lighter;
}

blockquote::before{
  font-family: Arial;
  content: "\201C";
  color: $light;
  font-size: 3rem;
  position: absolute;
  left: 1rem;
  top: 0.2rem;
}

blockquote::after{
  content: '';
}
