$yellow: #ECD53F;
$secondary: #6F757C;
$white: #FFFFFF;

//
// pages
//
.docs-layout-content {
  p img {
    max-width: 100%;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  .h1, h1 {
    font-size: 1.5em;
    font-size: calc(1.325rem + .9vw);
    font-weight: 700;
  }

  .h2, h2 {
    font-size: 1.17em;
    font-size: calc(1.3rem + .6vw);
    font-weight: 700;
    margin-top: 2rem;
  }

  .h3, h3 {
    font-size: calc(1.275rem + .3vw);
  }

  .h4, h4 {
    font-size: 1.25rem;
  }
  
  .h5, h5 {
    font-size: 1rem;
  }
  
  .h6, h6 {
    font-size: 0.9rem;
  }

  a .card:hover {
    border-color: #222529 !important;
  }
}
.changelog-item {
  p img {
    width: 100%;
  }
}

//
// other
//
.grayscale {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

//
// backgrounds
//
.bg-yellow {
  background: $yellow !important;
}
.bg-vault-image {
  background-image: url(/assets-www/img/bg-black2.png) !important;
  background-size: fit;
  background-repeat: repeat;
  background-position: center !important;
}
.bg-vault-image-white {
  background-image: url(/assets-www/img/bg-white3.png) !important;
  // background-size: fit;
  // background-repeat: repeat;
  // background-position: center !important;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}
.bg-still-gradient {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 70%;

  background: linear-gradient(58deg, #ffffff, #ffffff, #ffffff, #FAF4CF, #F5EA9F, #ffffff);
  background-position: bottom left;
  background-size: 200% 150%;
  animation: sizingGradient 15s ease infinite;
  background-repeat: no-repeat;
  z-index: -1000;
}
@keyframes sizingGradient {
  0% {
    background-size: 200% 150%;
  }
  50% {
    background-size: 150% 150%;
  }
  100% {
    background-size: 200% 150%;
  }
}

//
// text
//
.text-yellow {
  color: $yellow !important;
}
.text-yellow-hover-star:hover {
  .star {
    color: $yellow !important;
  }
}
.text-dark-hover-star:hover {
  .star {
    color: #000000 !important;
  }
}
.text-underline-hover {
 text-decoration: none;
}
.text-underline-hover:hover {
  text-decoration: underline;
}

//
// font weights
//
.fw-extrabold {
  font-weight: 750 !important;
}

//
// border
//
.border-yellow {
  border-color: $yellow !important;
}
.border-yellow-hover:hover {
  border-color: $yellow !important;
}

//
// shadows
//
.inset-shadow {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
}

//
// components
//
.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.27659574468085%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
  }
}

// for mp4 videos - not youtubes
.video-container {
  height: 100%;
  width: 100%;
  position: relative;

  video {
    height: 100%;
    width: 100%;
  }
}

// override collapsing transitions
.collapsing-no-transitions {
  transition: none !important;
}

// how-btn
.how-btn {
  &:hover {
    background-color: #F8F9FA !important;
  }
}

// how radios
input[name="how-radio"]:checked+label{ 
  border-color: #222529 !important;
}

// screenshot
.screenshot img {
  width: 100%;
}
@media (min-width: 992px) {
  .screenshot img {
    width: 75% !important;
  }
}

// videoplayer
.videoplayer video {
  width: 100%;
}
@media (min-width: 992px) {
  .videoplayer video {
    width: 75% !important;
  }
}

// code higlight
div.highlight {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;

  pre.highlight {
    padding: 1rem;
    overflow: scroll;
  }
}

.flex {
  display: flex;
  align-items: top;
  justify-content: top;

  div {
    &.flex-auto {
      flex: none;
    }
    &.flex-0 {
      flex: 0;
    }
    &.flex-1 {
      flex: 1;
    }
    &.flex-2 {
      flex: 2;
    }
    &.flex-3 {
      flex: 3;
    }
  }
}
.security-grid {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: 5rem auto;
  align-items: center;
  text-align: center;
  padding: 0.5rem;

  color: $secondary;

  > div {
    padding: 0;

    &:nth-child(even) {
      text-align: left;
      margin-left: 30px;
    }

    &.align-items-top {
      align-self: start !important;
    }
  }

  p, li {
    color: $secondary;
  }

  h5 {
    color: $white;
    font-weight: normal;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  }
}

@media (min-width: 992px) {
  .docs-sidebar {
    top: 4rem;
    position: sticky;
    display: block !important;
    height: calc(100vh - 5rem);
    //padding-left: 0.25rem;
    //margin-left: -0.25rem;
    overflow-y: auto;
  }

  .docs-page-nav {
    top: 4rem;
    position: sticky;
    display: block !important;
    height: calc(100vh - 5rem);
    overflow-y: auto;

    .collapse.collapse-reverse.show {
      display: none !important;
    }
    .collapse.collapse-reverse:not(.show) {
      display: block !important;
    }
  }
}

@media (min-width: 992px) {
  .col-lg-1-5 { width: 12.5%; } // = 8,3333 + 4,16667
  .col-lg-2-5 { width: 20.83333%; } // = 16,6666 + 4,16667
  .col-lg-3-5 { width: 29.16667%; } // = 25 + 4,16667
  .col-lg-4-5 { width: 37.5%; } // = 33,3333 + 4,16667
  .col-lg-5-5 { width: 45.83333%; } // = 41,6667 + 4,16667
  .col-lg-6-5 { width: 54.16667%; } // = 50 + 4,16667
  .col-lg-7-5 { width: 62.5%; } // = 58,3333 + 4,16667
  .col-lg-8-5 { width: 70.83333%; } // = 66,6666 + 4,16667
  .col-lg-9-5 { width: 79.16667%; } // = 75 + 4,16667
  .col-lg-10-5 { width: 87.5%; } // = 83,3333 + 4,16667
  .col-lg-11-5 { width: 95.8333%; } // = 91,6666 + 4,16667
}

@media (min-width: 1200px) {
  .col-xl-1-5 { width: 12.5%; } // = 8,3333 + 4,16667
  .col-xl-2-5 { width: 20.83333%; } // = 16,6666 + 4,16667
  .col-xl-3-5 { width: 29.16667%; } // = 25 + 4,16667
  .col-xl-4-5 { width: 37.5%; } // = 33,3333 + 4,16667
  .col-xl-5-5 { width: 45.83333%; } // = 41,6667 + 4,16667
  .col-xl-6-5 { width: 54.16667%; } // = 50 + 4,16667
  .col-xl-7-5 { width: 62.5%; } // = 58,3333 + 4,16667
  .col-xl-8-5 { width: 70.83333%; } // = 66,6666 + 4,16667
  .col-xl-9-5 { width: 79.16667%; } // = 75 + 4,16667
  .col-xl-10-5 { width: 87.5%; } // = 83,3333 + 4,16667
  .col-xl-11-5 { width: 95.8333%; } // = 91,6666 + 4,16667
}

#page-nav .active {
  font-weight: normal !important;
  border-left: 1px solid #6e757c !important;
}

.bd-from {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}
