kbd {
  background: #222222;
  color: white;
  padding: 0.3rem;

  &.small {
    font-size: 0.6rem;
  }
}

article {
  border: 0.5rem solid $borderColor;
  padding-right: $padWidth;
  padding-left: $padWidth;
  border-right-width: 0.2rem;
  border-bottom-width: 0.2rem;
  border-top-width: 1px;
  margin-bottom: 0rem;
  background: $white;

  p {
    max-width: $charWidth;

    &.w-100 {
      max-width: 100%;
    }
  }

  img {
    max-width: 100%;
    border: 1px solid $borderColor;
    border-bottom: 5px solid $borderColor;
    border-right: 4px solid $borderColor;
    border-radius: $borderRadius;
  }

  a img {
    border: 1px solid #0000EE;
    border-bottom: 5px solid #0000EE;
    border-right: 4px solid #0000EE;
  }

  a:visited img {
    border: 1px solid #551A8B;
    border-bottom: 5px solid #551A8B;
    border-right: 4px solid #551A8B;
  }
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.docs-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.star-on-github {
  text-align: right;
  margin-top: 0.5rem;
  margin-right: 0.2rem;
}

.site-nav {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 100px auto;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  //grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  //grid-template-rows: repeat(2, 240px);

  > div:nth-child(1) {
    text-align: left;
  }

  > div:nth-child(2) {
    text-align: right;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 0.2rem;
    }
  }
}

.hero {
  background: $yellow;
  padding: $padWidth;
  border: 1px solid $borderColor;
  border-bottom: 0 !important;
  padding-bottom: 1px;

  //background-image: url(https://raw.githubusercontent.com/motdotla/dotenv/master/dotenv.svg) !important;
  //background-repeat: no-repeat;
  //background-size: 25rem;
  //background-position: 12rem -8rem;

  > div:nth-child(2) {
    h1, h2, h3, h4, h5, h6, p {
      max-width: $charWidth;
    }
  }
}

.screenshot {
  background: $yellow;
  padding: 1ch;
  border: 1px solid $borderColor;
  border-top: 0 !important;
  padding-left: $padWidth / 2;
  padding-top: 0ch;

  img {
    width: 100%;
  }
}

.security-hero {
  padding-top: 1ch;
  padding-bottom: $padWidth;
  //border: 0.2rem solid $yellow;
  //background: $black;
  //color: $white;
  // p {
  //   color: $white;
  // }

  // a {
  //   color: $white;
  // }

  background: $yellow;
  padding: $padWidth;
  border: 0.2rem solid $black;
  border-bottom: 0;

  p {
    color: $black;
  }

  > div:nth-child(2) {
    h1, h2, h3, h4, h5, h6, p {
      max-width: $charWidth;
    }
  }

}

.security-how-it-works {
  padding-bottom: $padWidth;
  border: 0.2rem solid $black;
  border-top: 1px solid $black;
  background: $black;
  color: $white;
  background-image: url(https://www.dotenv.org/assets/vault/bg-black2-75038b987fd2182de1fc5c2aeba7310f7ae5b8cc3a0d993e05b483b5fdb9fb5e.png) !important;
  background-size: fit;
  background-repeat: repeat;
  background-position: center !important;

  p {
    color: $white;
  }

  a {
    color: $white;
  }
}

footer {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: auto 100px;
  align-items: top;
  margin: 0.5rem auto;

  > div:nth-child(1) {
    text-align: left;
  }

  > div:nth-child(2) {
    text-align: right;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 0.2rem;
    }
  }

  a { color: $secondary; }
}

.flex {
  display: flex;
  align-items: top;
  justify-content: top;

  div {
    &.flex-auto {
      flex: none;
    }
    &.flex-0 {
      flex: 0;
    }
    &.flex-1 {
      flex: 1;
    }
    &.flex-2 {
      flex: 2;
    }
    &.flex-3 {
      flex: 3;
    }
  }
}

.docs {
  padding: 0 !important;

  h1, .h1 { font-size: 1.5rem; }
  h2, .h2 { font-size: 1.3rem; }
  h3, .h3 { font-size: 1.0rem; }
  h4, .h4 { font-size: 1.0rem; }
  h5, .h5 { font-size: 0.7rem; }
  h6, .h6 { font-size: 0.7rem; }
  p { font-size: 0.7rem; color: $black; }
  ul li { font-size: 0.7rem; color: $black; }
  ol li { font-size: 0.7rem; color: $black; }

  a img {
    border: 1px solid #0000EE;
    border-bottom: 5px solid #0000EE;
    border-right: 4px solid #0000EE;
  }

  a:visited img {
    border: 1px solid #551A8B;
    border-bottom: 5px solid #551A8B;
    border-right: 4px solid #551A8B;
  }
}

.docs-nav-title-grid {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: auto 40px;

  > div {
    margin: 0;
    padding: 0;
    font-weight: 500;

    &:nth-child(even) {
      text-align: right;
    }
  }
}

.love-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 1rem 0;

  > div {
    padding: 0.2rem 0.5rem;

    &.span2 {
      grid-column: span 2;
    }
  }
}

.customers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  > div {
    padding: 0.2rem 0.5rem;
    text-align: center;

    img {
      border: 1px solid $light;
    }
  }
}

.github-grid {
  text-align: right;
  margin-bottom: 0.5rem;

  > div {
    display: inline-grid;
  }
}

.security-grid {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: 5rem auto;
  align-items: center;
  text-align: center;
  padding: 0.5rem;

  color: $secondary;

  > div {
    padding: 0;

    &:nth-child(even) {
      text-align: left;
    }

    &.align-items-top {
      align-self: start !important;
    }
  }

  p, li {
    color: $secondary;
  }

  h5 {
    color: $white;
    font-weight: normal;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  }
}

.integrations-grid {
  display: grid;
  grid-gap: 0.3rem;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  text-align: left;
  padding: 0rem;

  > div {
    padding: 0;
  }
}

.docs-grid {
  display: grid;
  grid-template-columns: 10rem auto;

  > div {
    padding: 1rem;

    nav {
      display: block;
      padding: 0;
      background: none;

      h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
      h6 { margin-bottom: 0.2rem; }

      ul {
        margin-top: 0;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
      }
    }
  }

  > div:nth-child(1) {
    border-right: 1px solid $light;
    background: rgba(0, 0, 0, 0.01);
  }

  img {
    max-width: 100%;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
  }
}

@media only screen and (max-width: 500px) {
  .site-nav {
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    > div:nth-child(1) { text-align: center; }
    > div:nth-child(2) { text-align: center; }
  }

  .hero { background-image: none !important; }

  footer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    margin: 0.5rem 1rem;
    > div:nth-child(1) { text-align: center; }
    > div:nth-child(2) { text-align: center; }
  }

  .docs-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    > div:nth-child(1) { order: 2; border-top: 1px solid $light; border-right: none; }
    > div:nth-child(2) { order: 1; }
  }

  .integrations-grid {
    grid-template-columns: auto auto;
  }

  article {
    border: 1px solid $borderColor !important;
    padding-left: $padWidth / 2;
  }

  .love-grid {
    grid-template-columns: 100%;
    padding: 0.2rem 0;

    > div {
      &.span2 {
        grid-column: span 1;
      }
    }
  }

  .customers-grid {
    grid-template-columns: 1fr;
    align-items: start;
  }

  .github-grid {
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
