<div class="container">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2 mb-5">

      <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for post in site.categories.blog %}
          <div class="col">
            <div class="card rounded-4 shadow h-100">
              <img src="{{ post.image }}" class="card-img-top p-2 rounded-4" alt="post hero image">
              <div class="card-body">
                <h5 class="card-title fw-semibold">{{ post.title }}</h5>
                <p class="card-text">{{ post.excerpt }}</p>
                <a href="{{ post.url }}" class="card-link stretched-link">Read more</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
