<div class="container mb-5 pb-5">
  <div class="row mt-3 mb-5">
    <div class="col-lg-8 offset-lg-2 text-center">
      <a class="link-offset-3" href="/blog">&larr; back to blog</a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <p class="font-monospace fs-6 mb-1 text-center">
        {{ page.date | date: "%b %d,%Y" }}
      </p>
      <h1 class="font-monospace fw-bold fs-4 my-2 text-center">
        {{ page.title }}
      </h1>

      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
