<section class="max-w-3xl mx-auto mt-10 flex flex-col px-5">
  <div class="px-5 rounded-lg bg-zinc-100 outline outline-offset-4 outline-zinc-700">
    {% include logos/npm.html class="w-24 h-24 mx-auto text-red-600" %}
    <p class="mx-auto mb-5 text-center text-md md:text-lg text-zinc-600 leading-2">Install and use immediately with <a class="underline" href="https://docs.npmjs.com/cli/v7/commands/npx">npx</a>.</p>
    <div class="shadow w-fit mx-auto rounded-lg">
      {% include components/terminal.html %}
    </div>
    <p class="mx-auto mt-5 mb-5 text-center text-sm md:text-md text-zinc-600 leading-2">Don't have Node.js or prefer not to use it? See below for other ways to install.</p>
  </div>
</section>
