<section class="max-w-3xl mx-auto mt-4 flex flex-col px-5" x-data="{ mac: true, windows: false, docker: false }">
  <h4 class="my-5 text-center font-bold text-zinc-700">Other ways to install</h4>
  <div class="bg-zinc-100 rounded-lg overflow-hidden outline outline-offset-4 outline-zinc-700">
    <div class="grid grid-cols-3 bg-zinc-200">
      <div class="flex place-content-center">
        <label x-bind:class="mac ? 'bg-zinc-100' : ''" x-on:click="mac = true; windows = false; docker = false" class="p-3 hover:bg-zinc-100 w-full cursor-pointer">
          {% include logos/apple.html class="w-10 h-10 text-zinc-950 mx-auto" %}
          <p class="mx-auto text-center text-zinc-900 mt-1">Mac OS</p>
        </label>
      </div>
      <div class="flex place-content-center">
        <label x-bind:class="windows ? 'bg-zinc-100' : ''" x-on:click="mac = false; windows = true; docker = false" class="p-3 hover:bg-zinc-100 w-full cursor-pointer">
          {% include logos/windows.html class="w-10 h-10 text-zinc-950 mx-auto" %}
          <p class="mx-auto text-center text-zinc-900 mt-1">Windows</p>
        </label>
      </div>
      <div class="flex place-content-center">
        <label x-bind:class="docker ? 'bg-zinc-100' : ''" x-on:click="mac = false; windows = false; docker = true" class="p-3 hover:bg-zinc-100 w-full cursor-pointer">
          {% include logos/docker.html class="w-10 h-10 text-zinc-950 mx-auto" %}
          <p class="mx-auto text-center text-zinc-900 mt-1">Docker</p>
        </label>
      </div>
    </div>

    <div class="p-6 text-zinc-950">
      <!-- homebrew -->
      <div x-show="mac" class="w-full">
        <p class="my-2">Install dotenv-vault via Homebrew</p>

        <input class="my-2 font-mono p-2 w-full rounded-md border border-zinc-300" value="brew install dotenv-org/brew/dotenv-vault" />
      </div>

      <!-- windows -->
      <div x-cloak x-show="windows" class="w-full text-zinc-950">
        <p class="my-2 text-center">Download the appropriate installer for your Windows installation.</p>

        <div class="grid grid-cols-2 gap-4">
          <a href="" aria-describedby="tier-starter" class="rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 text-white bg-zinc-800 hover:bg-zinc-700">32-bit installer</a>
          <a href="" aria-describedby="tier-starter" class="rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 text-white bg-zinc-800 hover:bg-zinc-700">64-bit installer</a>
        </div>
      </div>

      <!-- docker -->
      <div x-cloak x-show="docker" class="w-full">
        <p class="my-2">Install dotenv-vault and run commands via Docker</p>

        <input class="my-2 font-mono p-2 w-full rounded-md border border-zinc-300" value="docker run -w $(pwd) -v $(pwd):$(pwd) -it dotenv/dotenv-vault help" />
      </div>

    </div>
  </div>

  <p class="text-center mt-12">After installing see <a class="underline" href="https://github.com/dotenv-org/dotenv-vault#%EF%B8%8F-usage">usage</a> and <a class="underline" href="https://github.com/dotenv-org/dotenv-vault#-commands">commands</a>.</p>

</section>
