<p class="mb-0">Step 7</p>
<h5 class="mt-0 mb-02">AES-GCM Encryption</h5>
<p class="mt-0">The KEY is encrypted. The VALUE is encrypted. They are encrypted with different master encryption keys. This way if an attacker somehow gained access to the VALUE decryption key they would find the data useless. They would not know if the secret belonged to Twilio or to AWS.</p>
<p>Encryption uses the AES-GCM algorithm. It is:</p>

<ul>
  <li>well-studied</li>
  <li>NIST recommended</li>
  <li>an IETF standard</li>
  <li>fast thanks to a dedicated instruction set</li>
</ul>

<p>Additionally, all master encryption keys are rotated on an unpublished schedule, further adding to the level of security.</p>
