<div class="text-center mt-1">
  <div class="d-block">
    <kbd class="small">KEY</kbd> <svg width="20" fill="#ecd53f" class="bi bi-key-fill" viewBox="0 0 16 16" version="1.1" height="20" aria-hidden="true"><path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg> <kbd class="small">key_b46…</kbd>
  </div>
  <div class="d-block mt-3">
    <kbd class="small">VALUE</kbd> <svg width="20" fill="#ecd53f" class="bi bi-key-fill" viewBox="0 0 16 16" version="1.1" height="20" aria-hidden="true"><path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg> <kbd class="small">val_a8e…</kbd>
  </div>
</div>
