---
---

.docs-layout-content p img {
   max-width: 100%;
}
 .docs-layout-content .h1, .docs-layout-content .h2, .docs-layout-content .h3, .docs-layout-content .h4, .docs-layout-content .h5, .docs-layout-content .h6, .docs-layout-content h1, .docs-layout-content h2, .docs-layout-content h3, .docs-layout-content h4, .docs-layout-content h5, .docs-layout-content h6 {
   font-weight: 500;
}
 .docs-layout-content .h1, .docs-layout-content h1 {
   font-size: 1.5em;
   font-size: calc(1.325rem + .9vw);
   font-weight: 700;
}
 .docs-layout-content .h2, .docs-layout-content h2 {
   font-size: 1.17em;
   font-size: calc(1.3rem + .6vw);
   font-weight: 700;
   margin-top: 2rem;
}
 .docs-layout-content .h3, .docs-layout-content h3 {
   font-size: calc(1.275rem + .3vw);
}
 .docs-layout-content .h4, .docs-layout-content h4 {
   font-size: 1.25rem;
}
 .docs-layout-content .h5, .docs-layout-content h5 {
   font-size: 1rem;
}
 .docs-layout-content .h6, .docs-layout-content h6 {
   font-size: 0.9rem;
}
 .docs-layout-content a .card:hover {
   border-color: #222529 !important;
}
 .changelog-item p img {
   width: 100%;
}
 .grayscale {
   filter: gray;
  /* IE6-9 */
   -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
   filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}
 .bg-yellow {
   background: #ecd53f !important;
}
 .bg-vault-image {
   background-image: url(/assets/img/bg-black2.png) !important;
   background-size: fit;
   background-repeat: repeat;
   background-position: center !important;
}
 .bg-vault-image-white {
   background-image: url(/assets/img/bg-white3.png) !important;
   background-repeat: no-repeat;
   background-position: top left;
   background-attachment: fixed;
}
 .text-yellow {
   color: #ecd53f !important;
}
 .text-yellow-hover-star:hover .star {
   color: #ecd53f !important;
}
 .text-dark-hover-star:hover .star {
   color: #000 !important;
}
 .text-underline-hover {
   text-decoration: none;
}
 .text-underline-hover:hover {
   text-decoration: underline;
}
 .fw-extrabold {
   font-weight: 750 !important;
}
 .border-yellow {
   border-color: #ecd53f !important;
}
 .border-yellow-hover:hover {
   border-color: #ecd53f !important;
}
 .inset-shadow {
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
}
 .video {
   position: relative;
   overflow: hidden;
   width: 100%;
   padding-top: 56.2765957447%;
}
 .video iframe {
   position: absolute;
   top: 0;
   left: 0;
   outline: none;
   border: none;
   width: 100%;
   height: 100%;
}
 .video-container {
   height: 100%;
   width: 100%;
   position: relative;
}
 .video-container video {
   height: 100%;
   width: 100%;
}
 .collapsing-no-transitions {
   transition: none !important;
}
 .how-btn:hover {
   background-color: #f8f9fa !important;
}
 input[name="how-radio"]:checked + label {
   border-color: #222529 !important;
}
 .screenshot img {
   width: 100%;
}
 .videoplayer video {
   width: 100%;
}
 div.highlight {
   padding: 0;
}
 div.highlight pre.highlight {
   padding: 1.5rem;
   overflow: scroll;
}
 .flex {
   display: flex;
   align-items: top;
   justify-content: top;
}
 .flex div.flex-auto {
   flex: none;
}
 .flex div.flex-0 {
   flex: 0;
}
 .flex div.flex-1 {
   flex: 1;
}
 .flex div.flex-2 {
   flex: 2;
}
 .flex div.flex-3 {
   flex: 3;
}
 .security-grid {
   display: grid;
   grid-gap: 0.8rem;
   grid-template-columns: 5rem auto;
   align-items: center;
   text-align: center;
   padding: 0.5rem;
   color: #6f757c;
}
 .security-grid > div {
   padding: 0;
}
 .security-grid > div:nth-child(even) {
   text-align: left;
   margin-left: 30px;
}
 .security-grid > div.align-items-top {
   align-self: start !important;
}
 .security-grid p, .security-grid li {
   color: #6f757c;
}
 .security-grid h5 {
   color: #fff;
   font-weight: normal;
   font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
 @media (min-width: 992px) {
   .docs-sidebar {
     top: 4rem;
     position: sticky;
     display: block !important;
     height: calc(100vh - 5rem);
     overflow-y: auto;
  }
   .docs-page-nav {
     top: 4rem;
     position: sticky;
     display: block !important;
     height: calc(100vh - 5rem);
     overflow-y: auto;
  }
   .docs-page-nav .collapse.collapse-reverse.show {
     display: none !important;
  }
   .docs-page-nav .collapse.collapse-reverse:not(.show) {
     display: block !important;
  }
}
 @media (min-width: 992px) {
   .col-lg-1-5 {
     width: 12.5%;
  }
   .col-lg-2-5 {
     width: 20.83333%;
  }
   .col-lg-3-5 {
     width: 29.16667%;
  }
   .col-lg-4-5 {
     width: 37.5%;
  }
   .col-lg-5-5 {
     width: 45.83333%;
  }
   .col-lg-6-5 {
     width: 54.16667%;
  }
   .col-lg-7-5 {
     width: 62.5%;
  }
   .col-lg-8-5 {
     width: 70.83333%;
  }
   .col-lg-9-5 {
     width: 79.16667%;
  }
   .col-lg-10-5 {
     width: 87.5%;
  }
   .col-lg-11-5 {
     width: 95.8333%;
  }
}
 @media (min-width: 1200px) {
   .col-xl-1-5 {
     width: 12.5%;
  }
   .col-xl-2-5 {
     width: 20.83333%;
  }
   .col-xl-3-5 {
     width: 29.16667%;
  }
   .col-xl-4-5 {
     width: 37.5%;
  }
   .col-xl-5-5 {
     width: 45.83333%;
  }
   .col-xl-6-5 {
     width: 54.16667%;
  }
   .col-xl-7-5 {
     width: 62.5%;
  }
   .col-xl-8-5 {
     width: 70.83333%;
  }
   .col-xl-9-5 {
     width: 79.16667%;
  }
   .col-xl-10-5 {
     width: 87.5%;
  }
   .col-xl-11-5 {
     width: 95.8333%;
  }
}
#page-nav .active {
   font-weight: normal !important;
   border-left: 1px solid #6e757c !important;
}
.bd-from {
   position: absolute;
   top: 0.5rem;
   left: 50%;
   width: 300px;
   margin-left: -150px;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #24292f;
  background-color: #f6f8fa;
}
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #cf222e;
}
.highlight .gr {
  color: #f6f8fa;
}
.highlight .gd {
  color: #82071e;
  background-color: #ffebe9;
}
.highlight .nb {
  color: #953800;
}
.highlight .nc {
  color: #953800;
}
.highlight .no {
  color: #953800;
}
.highlight .nn {
  color: #953800;
}
.highlight .sr {
  color: #116329;
}
.highlight .na {
  color: #116329;
}
.highlight .nt {
  color: #116329;
}
.highlight .gi {
  color: #116329;
  background-color: #dafbe1;
}
.highlight .kc {
  color: #0550ae;
}
.highlight .l, .highlight .ld, .highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #0550ae;
}
.highlight .sb {
  color: #0550ae;
}
.highlight .bp {
  color: #0550ae;
}
.highlight .ne {
  color: #0550ae;
}
.highlight .nl {
  color: #0550ae;
}
.highlight .py {
  color: #0550ae;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #0550ae;
}
.highlight .o, .highlight .ow {
  color: #0550ae;
}
.highlight .gh {
  color: #0550ae;
  font-weight: bold;
}
.highlight .gu {
  color: #0550ae;
  font-weight: bold;
}
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .sx, .highlight .s1, .highlight .ss {
  color: #0a3069;
}
.highlight .nd {
  color: #8250df;
}
.highlight .nf, .highlight .fm {
  color: #8250df;
}
.highlight .err {
  color: #f6f8fa;
  background-color: #82071e;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6e7781;
}
.highlight .gl {
  color: #6e7781;
}
.highlight .gt {
  color: #6e7781;
}
.highlight .ni {
  color: #24292f;
}
.highlight .si {
  color: #24292f;
}
.highlight .ge {
  color: #24292f;
  font-style: italic;
}
.highlight .gs {
  color: #24292f;
  font-weight: bold;
}
