<section class="max-w-3xl lg:max-w-5xl mx-auto mt-28 lg:mt-60 flex flex-col px-5">
  <h2 class="mx-auto mt-2 max-w-3xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">It takes just 5 minutes, or less</h2>
  <p class="mx-auto mt-3 max-w-2xl text-center text-md md:text-lg text-zinc-600 leading-2">You don't have to spend days or even hours to keep your secrets safe. dotenv-vault has a great solo plan with a great developer experience.</p>

  <div class="w-full max-w-xl mx-auto mt-5">
    <div class="border border-zinc-200 dark:border-zinc-800 rounded-lg text-center p-3 my-4">
      <span class="text-green-500">✓</span> Just $5 dollars
    </div>
    <div class="border border-zinc-200 dark:border-zinc-800 rounded-lg text-center p-3 my-4">
      <span class="text-green-500">✓</span> Sync .env files
    </div>
    <div class="border border-zinc-200 dark:border-zinc-800 rounded-lg text-center p-3 my-4">
      <span class="text-green-500">✓</span> Unlimited projects
    </div>

    {% include components/btn.html url="https://vault.dotenv.org" text='Create <span class="font-extrabold tracking-tight">Dotenv</span> Account' class="block w-full" dataUmamiEvent="Signup Clicked" %}
  </div>
</section>
