<section class="max-w-3xl lg:max-w-5xl mx-auto mt-28 lg:mt-60 flex flex-col px-5">

  <div class="mx-auto px-6 pb-24 sm:pt-32 lg:px-8 lg:pb-40">
    <h2 class="text-2xl lg:text-3xl font-bold leading-10 tracking-tight text-zinc-900 dark:text-zinc-100">Frequently asked questions</h2>

    <div class="mt-10">
      <dl class="space-b-7">
        <div class="border-t border-zinc-200 dark:border-zinc-800 py-4">
          <dt class="text-base font-semibold leading-7 text-zinc-900 dark:text-zinc-100">Why choose dotenv-vault over other secrets managers?</dt>
          <dd class="mt-2 text-base leading-7 text-zinc-400">
            <span class="">dotenv-vault</span> is the only secrets manager that works with .env files instead of against them.
          </dd>
        </div>

        <div class="border-t border-zinc-200 dark:border-zinc-800 py-4">
          <dt class="text-base font-semibold leading-7 text-zinc-900 dark:text-zinc-100">How do other secrets managers work?</dt>
          <dd class="mt-2 text-base leading-7 text-zinc-400">
            Other secrets managers make you replace your environment variables with remote API calls. This means you must rewrite your code, lock yourself into proprietary software, and possibly introduce new attack vectors to your software (It's generally easier for attackers to intercept your web traffic than to gain access to your file system.)
          </dd>
        </div>

        <div class="border-t border-zinc-200 dark:border-zinc-800 py-4">
          <dt class="text-base font-semibold leading-7 text-zinc-900 dark:text-zinc-100">Are my secrets safe using dotenv-vault?</dt>
          <dd class="mt-2 text-base leading-7 text-zinc-400">
            Your secrets go through a ten-step process to split their parts, encrypt those parts, and tokenize them into your project's vault. This includes using <span class="">AES-GCM encryption</span> - trusted by governments to transport top secret information. Read more about the ten-step process on the <a href="/security">security page</a>.
          </dd>
        </div>

        <div class="border-t border-zinc-200 dark:border-zinc-800 py-4">
          <dt class="text-base font-semibold leading-7 text-zinc-900 dark:text-zinc-100">How does the .env.vault file work?</dt>
          <dd class="mt-2 text-base leading-7 text-zinc-400">
            The <span class="">.env.vault</span> file is an encrypted version of your .env file. It is paired with a decryption key called the <span class="">DOTENV_KEY</span>. The DOTENV_KEY is set on your server or cloud hosting provider and the .env.vault file is committed to code.
          </dd>
        </div>

        <div class="border-t border-zinc-200 dark:border-zinc-800 py-4">
          <dt class="text-base font-semibold leading-7 text-zinc-900 dark:text-zinc-100">Is it safe to commit the .env.vault file to code?</dt>
          <dd class="mt-2 text-base leading-7 text-zinc-400">
            Yes. <span class="">AES-256 GCM encryption</span> was developed for the needs of US Government agencies like the CIA. AES-256 takes billions of years to crack using current computing technology. Your secrets are much more likely to be leaked by a third-party. This is why we are so committed to this technology while everyone else is focused on syncing secrets to third-party integrations. We see a better way.
          </dd>
        </div>

        <div class="border-t border-zinc-200 dark:border-zinc-800 py-4">
          <dt class="text-base font-semibold leading-7 text-zinc-900 dark:text-zinc-100">How does it protect me from third-party breaches like CircleCI?</dt>
          <dd class="mt-2 text-base leading-7 text-zinc-400">
            In the CircleCI breach the attacker accessed environment variables only. They could not access codebases. To steal your <span class="">.env.vault</span> secrets, an attacker needs need both – the decryption key (stored as an environment variable), AND the encrypted .env.vault file.
          </dd>
        </div>

        <div class="border-t border-zinc-200 dark:border-zinc-800 py-4">
          <dt class="text-base font-semibold leading-7 text-zinc-900 dark:text-zinc-100">
            Is the .env.vault file format a new standard?
          </dt>
          <dd class="mt-2 text-base leading-7 text-zinc-400">
            Not officially, but our goal is towards that. We're building things in a way that a cloud service is not necessary. As long as you can generate a <span class="">.env.vault</span> file you can use the technology. It is open to all.
          </dd>
        </div>

        <div class="border-t border-zinc-200 dark:border-zinc-800 py-4">
          <dt class="text-base font-semibold leading-7 text-zinc-900 dark:text-zinc-100">
            What languages are supported?
          </dt>
          <dd class="mt-2 text-base leading-7 text-zinc-400">
            The .env.vault file and its encryption algorithm is language-agnostic so technically it works with any language. We've built convenience libraries for it in a handful of languages and are adding more as requested.
            <br/>
            <br/>
            See the <a href="/docs">docs</a> for a complete list.
          </dd>
        </div>

        <div class="border-t border-zinc-200 dark:border-zinc-800 py-4">
          <dt class="text-base font-semibold leading-7 text-zinc-900 dark:text-zinc-100">
            How do I install dotenv-vault?
          </dt>
          <dd class="mt-2 text-base leading-7 text-zinc-400">
            See the <a href="/install" class="underline">install page</a>. You can use npx, brew, and more.
          </dd>
        </div>
      </dl>
    </div>

    <p class="mt-14 max-w-lg text-base leading-7 text-zinc-600 dark:text-zinc-400">Can’t find the answer you’re looking for? Send us an email at <a href="mailto:support@dotenv.org" class="font-semibold text-yellow-600 dark:text-yellow-400 hover:text-yellow-500">support@dotenv.org</a> team. We'd love to hear from you.</p>
  </div>
</section>
