<section class="w-full text-zinc-500">
  <div class="mx-auto py-12 w-5/6 lg:5/6 flex-col gap-4">
    <div class="grid grid-cols-2 gap-10 mb-3 md:grid-cols-2 lg:grid-cols-4 lg:gap-20">
      <div class="col-span-2 md:col-span-2 lg:col-span-1">
        <a href="/" class="leading-none select-none w-fit block mx-auto md:mx-0">
          {% include logos/dotenv.html class="h-10" %}
        </a>
        <p class="mt-4 text-sm text-center md:text-left">
          A secrets manager for .env files.
        </p>
      </div>
      <nav class="col-span-1 md:col-span-1 lg:col-span-1">
        <p class="mb-3 text-xs font-semibold tracking-wider uppercase">Product</p>
        <a href="/security" class="flex mb-3 text-sm font-medium transition md:mb-2 dark:hover:text-zinc-50">Security</a>
        <a href="/pricing" class="flex mb-3 text-sm font-medium transition md:mb-2 dark:hover:text-zinc-50">Pricing</a>
        <a href="/install" class="flex mb-3 text-sm font-medium transition md:mb-2 dark:hover:text-zinc-50">Download</a>
        <a href="/blog" class="flex mb-3 text-sm font-medium transition md:mb-2 dark:hover:text-zinc-50">Blog</a>
      </nav>
      <nav class="col-span-1 md:col-span-1 lg:col-span-1">
        <p class="mb-3 text-xs font-semibold tracking-wider uppercase">Developers</p>
        <a href="/docs" class="flex mb-3 text-sm font-medium transition md:mb-2 dark:hover:text-zinc-50">Documentation</a>
        <a href="/help" class="flex mb-3 text-sm font-medium transition md:mb-2 dark:hover:text-zinc-50">Help & Support</a>
        <a href="/changelog" class="flex mb-3 text-sm font-medium transition md:mb-2 dark:hover:text-zinc-50">Changelog</a>
        <a href="https://status.dotenv.org" class="flex mb-3 text-sm font-medium transition md:mb-2 dark:hover:text-zinc-50">Status</a>
      </nav>
      <div class="col-span-2 md:col-span-2 lg:col-span-1">
        <span class="inline-flex justify-center w-full space-x-5 md:ml-auto md:mt-0 md:justify-end">
          <a href="https://github.com/dotenv-org" class="dark:hover:text-zinc-50">
            <span class="sr-only">GitHub</span>
            {% include logos/github.html class="w-6 h-6" %}
          </a>
          <a href="https://twitter.com/dotenvorg" class="dark:hover:text-zinc-50">
            <span class="sr-only">Twitter</span>
            {% include logos/twitter.html class="w-6 h-6" %}
          </a>
          <a href="https://youtube.com/@dotenvorg" class="dark:hover:text-zinc-50">
            <span class="sr-only">YouTube</span>
            {% include logos/youtube.html class="w-6 h-6" %}
          </a>
          <a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode" class="dark:hover:text-zinc-50">
            <span class="sr-only">VSCode</span>
            {% include logos/vscode.html class="mt-0.5 w-5 h-5" %}
          </a>
        </span>
      </div>
    </div>
    <div class="flex flex-col items-start justify-between pt-10 mt-10 border-t border-zinc-200 dark:border-zinc-800 md:flex-row md:items-center">
      <p class="mb-6 text-sm text-left md:mb-0">&copy; Dotenv</p>

      <p class="mb-6 border border-zinc-200 dark:border-zinc-800 p-2 px-3 rounded text-sm md:mb-0">
        dotenv-vault is from the pioneers of dotenv, trusted by 2.5M+ developers
      </p>

      <div class="flex items-start justify-start space-x-6 md:items-center md:justify-center">
        <a href="/legal" class="text-sm transition dark:hover:text-zinc-50">Legal</a>
      </div>
    </div>
  </div>
</section>
