<div class="relative h-screen max-h-[800px]">
  <section class="mx-auto h-screen max-w-6xl px-5 md:px-10 pb-8 max-h-[800px]">

    <div class="flex h-full flex-col md:flex-row items-center justify-center pb-28">
      <div class="origin-center-start max-w-3xl">
        <h5 class="text-center md:text-left opacity-75 hover:opacity-90 dark:opacity-60 dark:hover:opacity-70 ease-in font-medium dark:font-normal">From the pioneers of {% include v2/dotenv.html %}</h5>
        <h1 class="mt-8 text-center md:text-start text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent from-zinc-200 from-10% via-black via-20% to-black dark:from-zinc-800 dark:from-5% dark:via-white dark:via-30% dark:to-white leading-tight">Secrets for developers</h1>
        <p class="mt-8 text-center md:text-start leading-relaxed text-md md:text-lg max-w-xl">A secrets manager for .env files. Sync your secrets between machines, environments, and team members with {% include v2/dotenv-vault.html %}.</p>

        <div class="mt-10 flex flex-col lg:flex-row justify-center lg:justify-start gap-4">
          {% include components/btn.html url="https://vault.dotenv.org/signup" text='Create <span class="font-extrabold tracking-tight">Dotenv</span> Account' dataUmamiEvent="Signup Clicked" %}
          {% include components/btn-secondary.html url="/docs" text="Documentation" class="hidden md:block" %}
          {% include components/btn-secondary.html url="/pricing" text="See Pricing" class="md:hidden" %}

          <a href="https://www.youtube.com/watch?v=z-lBjxfhWeY" role="button" class="text-center rounded-full bg-zinc-50 dark:bg-zinc-950 px-4 py-2.5 text-sm font-semibold text-zinc-700 dark:text-zinc-500 hover:text-zinc-950 dark:text-zinc-400 dark:hover:text-zinc-50 active:bg-zinc-300 dark:active:bg-zinc-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200 ease-in duration-150 lg:hidden py-4 underline underline-offset-4">
            <div class="flex flex-rows gap-2 items-center mx-auto w-fit">
              <div class="pt-0.5 w-5 h-5">
                {% include logos/youtube.html class="w-5 h-5 text-red-600" %}
              </div>
              <div class="pr-4">
                Watch 1 minute overview
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="hidden lg:flex lg:my-20 lg:relative lg:h-full lg:w-[600px] items-center justify-center animate-[pulse_5s_ease-in-out_infinite] hover:animate-none">
        <div class="lg:transform-gpu lg:blur-2xl lg:opacity-75 lg:sepia lg:hover:blur-0 lg:hover:sepia-0 lg:hover:opacity-100 lg:transition lg:delay-75 lg:duration-700 lg:ease-in-out lg:pl-5 w-50 lg:w-full">
          <iframe class="w-full aspect-video rounded-3xl border-t-2 border-r-2 border-l-2 border-b-2 border-zinc-900" src="https://www.youtube.com/embed/z-lBjxfhWeY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="-mt-5">
      <p class="text-center text-6xl text-base text-zinc-500 font-medium">A self-funded and profitable org ⋅ Trusted by tens of thousands of organizations worldwide</p>
    </div>
  </section>
</div>
