<section class="max-w-3xl lg:max-w-5xl mx-auto mt-28 lg:mt-60 flex flex-col px-5">
  <h2 class="mx-auto mt-2 max-w-2xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">Managing your secrets sucks</h2>
  <p class="mx-auto mt-3 mb-10 max-w-3xl text-center text-md md:text-lg text-zinc-600 leading-2">We took a hard look at the state of secrets management, and it should be better.</p>

  <div class="max-w-3xl mx-auto">
    <h3 class="text-2xl md:text-3xl font-bold tracking-tight dark:text-zinc-300">Sharing .env files by hand gets messy</h3>
    <p class="my-5">From sharing over Slack, to Email, to copying and pasting across multiple environments, manually managing your secrets is chaotic.</p>

    <div class="border border-red-300 dark:border-red-950 rounded-lg text-center p-3 my-4">
      <span class="text-red-500">&times;</span> Out of Sync
    </div>
    <div class="border border-red-300 dark:border-red-950 rounded-lg text-center p-3 my-4">
      <span class="text-red-500">&times;</span> Zero Access Controls
    </div>
  </div>

  <div class="mt-10 max-w-3xl mx-auto">
    <h3 class="text-2xl md:text-3xl font-bold tracking-tight dark:text-zinc-300">Other solutions make you abandon .env files</h3>
    <p class="my-6">Proprietary solutions require a lot from you - code rewrites, lock-in, and third-party integrations that might leak your secrets – it's risky.</p>

    <div class="border border-red-300 dark:border-red-950 rounded-lg text-center p-3 my-4">
      <span class="text-red-500">&times;</span> Proprietary
    </div>
    <div class="border border-red-300 dark:border-red-950 rounded-lg text-center p-3 my-4">
      <span class="text-red-500">&times;</span> Risky Third-party Integrations
    </div>

    <p class="my-6 text-sm">*Syncing your secrets over <a href="https://coderpad.io/blog/development/heroku-github-breach/">third-party integrations</a> increases your attack surface area by scattering them in more places, making it more likely your secrets leak. Look what happened to <a href="https://techcrunch.com/2023/01/05/circleci-breach/" class="underline">CircleCI</a>. dotenv-vault removes this risk.</p>
  </div>
</section>
