<section class="max-w-3xl lg:max-w-5xl mx-auto mt-10 flex flex-col px-5">

  <div class="relative overflow-hidden bg-zinc-900 px-6 py-14 shadow-xl rounded-lg sm:rounded-2xl sm:px-10 sm:py-14 md:px-12 lg:px-20">
    <img class="absolute inset-0 h-full w-full object-cover brightness-150 saturate-0" src="/assets/img/joshua-mckenty.jpg" alt="Joshua McKenty">
    <div class="absolute inset-0 bg-zinc-900/90 mix-blend-multiply"></div>
    <div class="absolute -left-80 -top-56 transform-gpu blur-3xl" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[#ECD53F] to-yellow-600 opacity-[0.45]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="hidden md:absolute md:bottom-16 md:left-[50rem] md:block md:transform-gpu md:blur-3xl" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[#ECD53F] to-yellow-600 opacity-25" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="relative mx-auto max-w-3xl lg:mx-0">
      {% include logos/openstack.html class="h-12 w-auto text-zinc-50" %}
      <figure>
        <blockquote class="mt-6 text-lg font-semibold text-white sm:text-xl sm:leading-8">
          <p>“I've been thinking about building EXACTLY this for ages, was doing some market research for how to do it properly and found that you had, well, NAILED it.”</p>
        </blockquote>
        <figcaption class="mt-6 text-base text-white">
          <div class="font-semibold">Josh McKenty</div>
          <div class="mt-1">Cofounder of OpenStack</div>
        </figcaption>
      </figure>
    </div>
  </div>

</section>
