<section class="w-full mx-auto mt-0">
  <div class="mx-auto flex w-5/6 lg:5/6 flex-col gap-4">
    <div class="mx-auto grid grid-cols-2 items-center sm:grid-cols-3 lg:grid-cols-6">
      <a href="https://www.crunchbase.com/organization/supernova-technology-ltd" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
        {% include logos/supernova.html class="h-7" %}
      </a>
      <a href="https://www.crunchbase.com/organization/happymoney" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-75 hover:opacity-100">
        {% include logos/happymoney.html class="h-6" %}
      </a>
      <a href="https://www.crunchbase.com/organization/firstvet" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-50 md:opacity-75 hover:opacity-100">
        {% include logos/firstvet.html class="h-6" %}
      </a>

      <a href="https://www.crunchbase.com/organization/snackclub" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-50 lg:opacity-75 hover:opacity-100">
        {% include logos/snackclub.html class="h-6" %}
      </a>
      <a href="https://www.crunchbase.com/organization/mooncard" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-25 md:opacity-50 lg:opacity-75 hover:opacity-100">
        {% include logos/mooncard.html class="h-6" %}
      </a>
      <a href="https://www.crunchbase.com/organization/vio-com" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-25 md:opacity-50 lg:opacity-75 hover:opacity-100">
        {% include logos/vio.html class="h-6" %}
      </a>

      <a href="https://www.crunchbase.com/organization/sound-db83" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-[0.15] md:opacity-25 lg:opacity-50 hover:opacity-100">
        {% include logos/sound.html class="h-8" %}
      </a>
      <a href="https://www.crunchbase.com/organization/honeylove" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 opacity-[0.15] md:opacity-25 lg:opacity-50 hover:opacity-100">
        {% include logos/honeylove.html class="h-4" %}
      </a>
      <a href="https://www.crunchbase.com/organization/heydata" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden sm:flex opacity-25 lg:opacity-50 hover:opacity-100">
        {% include logos/heydata.html class="h-6" %}
      </a>

      <a href="https://www.crunchbase.com/organization/snowpak" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden md:flex opacity-[0.15] lg:opacity-50 hover:opacity-100">
        {% include logos/snowpak.html class="h-4" %}
      </a>
      <a href="https://www.crunchbase.com/organization/driva-557c" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden md:flex opacity-[0.15] lg:opacity-50 hover:opacity-100">
        {% include logos/driva.html class="h-5" %}
      </a>
      <a href="https://www.crunchbase.com/organization/lead-school" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden md:flex opacity-[0.15] lg:opacity-50 hover:opacity-100">
        {% include logos/leadschool.html class="h-10" %}
      </a>

      <a href="https://www.crunchbase.com/organization/labrys" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-25 hover:opacity-100">
        {% include logos/labrys.html class="h-4" %}
      </a>
      <a href="https://tradezi.vn/" class="flex items-center justify-center h-24 px-4 hidden md:flex" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-25 hover:opacity-100">
        {% include logos/tradzi.html class="h-7" %}
      </a>
      <a href="https://www.crunchbase.com/organization/supy-187e" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-25 hover:opacity-100">
        {% include logos/supy.html class="h-5" %}
      </a>
      <a href="https://ca.vu/" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-25 hover:opacity-100">
        {% include logos/cavu.html class="h-4" %}
      </a>
      <a href="https://cub3.com" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-25 hover:opacity-100">
        {% include logos/cub3.html class="h-4" %}
      </a>
      <a href="https://www.crunchbase.com/organization/nubrakes" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-25 hover:opacity-100">
        {% include logos/nubrakes.html class="h-4" %}
      </a>

      <div>
      </div>
      <a href="https://rollout.com/" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-[0.15] hover:opacity-100">
        {% include logos/rollout.html class="h-7" %}
      </a>
      <a href="https://q-ueue.ai/" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-[0.15] hover:opacity-100">
        {% include logos/queueai.html class="h-5" %}
      </a>
      <a href="https://youngworld.xyz/" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-[0.15] hover:opacity-100">
        {% include logos/youngworld.html class="h-4" %}
      </a>
      <a href="https://www.crunchbase.com/organization/sports-visio" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-300 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex opacity-[0.15] hover:opacity-100">
        {% include logos/sportsvisio.html class="h-4 lg:h-4" %}
      </a>
      <div></div>
      <!--
      <a href="https://kabcash.com/" class="flex items-center h-24 items-center justify-center px-4 text-zinc-800 dark:text-zinc-700 hover:text-zinc-950 dark:hover:text-zinc-50 ease-in duration-150 hidden lg:flex">
        {% include logos/kabcash.html class="h-5" %}
      </a>

      -->
      
    </div>
  </div>
</section>
