<div class="flex space-x-3 py-3 justify-end">
  <a href="/security" class="transition duration-150 ease-in-out rounded-md px-2 py-1 text-sm font-semibold text-zinc-400 hover:text-zinc-50 focus-visible:text-zinc-50">Security</a>
  <a href="/documentation" class="transition duration-150 ease-in-out rounded-md px-2 py-1 text-sm font-semibold text-zinc-400 hover:text-zinc-50 focus-visible:text-zinc-50">Docs</a>
  <a href="/pricing" class="transition duration-150 ease-in-out rounded-md px-2 py-1 text-sm font-semibold text-zinc-400 hover:text-zinc-50 focus-visible:text-zinc-50">Pricing</a>
</div>
