<section class="max-w-3xl lg:max-w-3xl mx-auto mt-28 lg:mt-36 flex flex-col px-5">
  <h5 class="text-center text-base font-semibold leading-7 dark:text-yellow-300">Try it for yourself</h5>
  <h2 class="mx-auto mt-2 max-w-2xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">Works with a single command</h2>
  <p class="mx-auto mt-3 mb-10 max-w-3xl text-center text-md md:text-lg text-zinc-600 leading-2">Benefit immediately. Run the push command to back up your .env file right now.</p>

  {% include components/terminal.html %}

  <div class="mx-auto max-w-lg lg:max-w-xl">
    <figure class="mt-8">
      <blockquote class="text-center text-md leading-8 sm:text-lg sm:leading-9">
        <p>“I personally spent a lot of development time on the cli. There is a bit of a learning curve, but I think you will like it.”</p>
      </blockquote>
      <figcaption class="mt-6">
        <a href="https://github.com/motdotla"><img class="border-2 dark:border-zinc-900 mx-auto h-16 w-16 rounded-full" src="/assets/img/mot.png" alt="Mot"></a>
        <div class="mt-4 flex items-center justify-center space-x-3">
          <div class="">
            <a href="https://github.com/motdotla">Mot</a>
          </div>
          <div class="">⋅</div>
          <div class="">Creator of Dotenv</div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
