<div class="max-w-sm mx-auto py-5">
  <h2 class="mt-5 mb-2 text-xl font-bold text-zinc-300 tracking-tight">Buttons</h2>

  <button type="button" class="rounded-full bg-white px-3.5 py-2.5 text-sm font-semibold text-black hover:bg-yellow-100 hover:text-yellow-950 active:bg-yellow-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200">Get Started</button>
  <button type="button" class="rounded-full bg-zinc-950 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-800 active:bg-zinc-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200">Documentation</button>
</div>
