<div class="max-w-4xl mx-auto border-2 border-yellow-300 mt-20">
  <div class="relative isolate overflow-hidden bg-zinc-950">
    <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
    </div>
    <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
      <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl lg:pt-8">
        <img src="/assets/img/dotenv.svg" alt="dotenv" width="32" height="32" class="w-11 h-11">
        <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">Simplify Your Secrets</h1>
        <p class="mt-6 text-lg leading-8 text-gray-300">Manage your secrets using dotenv-vault's all-in-one toolkit,  and say goodbye to scattered secrets across multiple platforms and tools.</p>
        <div class="mt-10 flex items-center gap-x-6">
          <a role="button" class="rounded-full bg-white px-3.5 py-2.5 text-sm font-semibold text-black hover:bg-yellow-100 hover:text-yellow-950 active:bg-yellow-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200">Pricing + Sign Up</a>
          <a href="/docs" role="button" class="rounded-full bg-zinc-950 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-800 active:bg-zinc-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200">Documentation <span aria-hidden="true">→</span></a>
        </div>
      </div>
      <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
        <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
          <!--<img src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png" alt="App screenshot" width="2432" height="1442" class="w-[76rem] rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10">-->
        </div>
      </div>
    </div>
  </div>
</div>
