<div class="aspect-auto md:aspect-square max-w-4xl mx-auto p-5">
  <div class="grid grid-cols-1 place-content-center h-full">
    <div>
			<a href="/" class="outline outline-offset-2 outline-1 outline-yellow-300 inline-block">
				{% include logos/dotenv.html class="w-11 h-11" %}
			</a>

      <h1 class="mt-10 text-center md:text-start text-5xl font-bold tracking-tight text-zinc-50">Secrets for developers</h1>
      <p class="mt-6 text-center md:text-start leading-relaxed text-md md:text-lg max-w-xl">A secrets manager for .env files. Sync your secrets between machines, environments, and team members with {% include design/dotenv-vault.html %}.</p>

      <div class="mt-10 flex flex-col md:flex-row justify-center md:justify-start gap-4">
        <a role="button" role="button" class="text-center rounded-full bg-zinc-50 px-4 md:px-3.5 py-4 md:py-2.5 text-sm font-semibold text-black hover:bg-yellow-100 hover:text-yellow-950 active:bg-yellow-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200">Pricing + Sign Up</a>
        <a href="/docs" role="button" class="text-center rounded-full bg-zinc-950 px-4 md:px-3.5 py-4 md:py-2.5 text-sm font-semibold text-zinc-50 shadow-sm hover:bg-zinc-800 active:bg-zinc-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-200">Documentation <span aria-hidden="true">→</span></a>
      </div>

      <div class="text-center text-zinc-400 mt-16 md:mt-44 text-sm flex items-center justify-center mb-16">
        From the pioneers of {% include design/dotenv.html %}
      </div>
    </div>
  </div>
</div>
