<div class="aspect-auto md:aspect-square max-w-5xl mx-auto p-5 relative rounded-3xl border-t">

  <!--<h2 class="mx-auto text-center max-w-sx font-bold my-5">The #1 secrets manager for .env files</h2>-->
  <p class="mx-auto text-center max-w-xs my-10">Developers around the world use and trust {% include design/dotenv-vault.html %} to keep their secrets safe.</p>

  <div class="mx-auto flex w-5/6 flex-col gap-4">
    <div class="mx-auto grid grid-cols-2 items-center sm:grid-cols-3 lg:grid-cols-5">
			<div class="flex items-center h-24 items-center justify-center px-4">
        {% include logos/supernova.html class="h-6 text-zinc-50" %}
      </div>
			<div class="flex items-center justify-center h-24 px-4">
        {% include logos/happymoney.html class="h-6 text-zinc-50" %}
      </div>
			<div class="flex items-center justify-center h-24 px-4">
        {% include logos/firstvet.html class="h-5 text-zinc-50" %}
      </div>
			<div class="flex items-center justify-center h-24 px-4">
        {% include logos/snackclub.html class="h-5 text-zinc-50" %}
      </div>
      
			<div class="flex items-center justify-center h-24 px-4">
        {% include logos/mooncard.html class="h-5 text-zinc-50" %}
      </div>
			<div class="flex items-center justify-center h-24  px-4">
        {% include logos/vio.html class="h-5 text-zinc-50" %}
      </div>
     
      <div class="hidden md:flex items-center justify-center h-24 px-4">
        {% include logos/sound.html class="h-6 text-zinc-50" %}
      </div>
			<div class="hidden md:flex items-center h-24 items-center justify-center px-4">
        {% include logos/honeylove.html class="h-6 text-zinc-50" %}
      </div>
			<div class="hidden md:flex items-center justify-center h-24 px-4">
        {% include logos/heydata.html class="h-5 text-zinc-50" %}
      </div>
      <div class="hidden md:flex items-center justify-center h-24 px-4">
        {% include logos/labrys.html class="h-5 text-zinc-50" %}
      </div>
      <div class="hidden md:flex items-center justify-center h-24 px-4">
        {% include logos/snowpak.html class="h-5 text-zinc-50" %}
      </div>
      <div class="hidden md:flex items-center justify-center h-24 px-4">
        {% include logos/tradzi.html class="h-7 text-zinc-50" %}
      </div>
			<div class="hidden md:flex items-center justify-center h-24 px-4">
        {% include logos/sportsvisio.html class="h-6 text-zinc-50" %}
      </div>
			<div class="hidden md:flex items-center justify-center h-24 px-4">
        {% include logos/supy.html class="h-6 text-zinc-50" %}
      </div>
			<div class="hidden md:flex items-center justify-center h-24 px-4">
        {% include logos/leadschool.html class="h-7 text-zinc-50" %}
      </div>

    </div>
  </div>
</div>
