<section class="max-w-5xl mx-auto mt-20 flex flex-col px-5">

  <div class="max-auto outline outline-offset-4 outline-yellow-300 p-2 lg:p-10 py-10 bg-repeat bg-[url('/assets/img/bg-black2.png')] rounded-lg">

    <h2 class="text-center font-bold text-zinc-50 text-3xl">How It Works. Securely.</h2>
    <p class="mx-auto mt-3 text-center text-base mb-12">Here's what happens when you sync your .env file with dotenv-vault.</p>

    {% include v2/security/step1.html %}
    {% include v2/security/step2.html %}
    {% include v2/security/step3.html %}
    {% include v2/security/step4.html %}
    {% include v2/security/step5.html %}
    {% include v2/security/step6.html %}
    {% include v2/security/step7.html %}
    {% include v2/security/step8.html %}
    {% include v2/security/step9.html %}
    {% include v2/security/step10.html %}

  </div>

  <p class="text-center my-5 text-lg underline-offset-4"><a class="underline" href="/docs/security">See the security docs to dive deeper</a></p>

</section>
