<section class="max-w-3xl lg:max-w-5xl mx-auto mt-20 flex flex-col px-5">
  <div class="max-w-2xl mx-auto px-3 py-10 md:px-10 rounded bg-zinc-100 w-full">

    <h2 class="mx-auto mt-2 max-w-2xl text-center text-3xl font-bold tracking-tight bg-gradient-to-r bg-clip-text leading-tight text-zinc-950">Security Statement</h2>
    <p class="mx-auto mt-3 mb-10 max-w-3xl text-center text-md md:text-lg text-zinc-600 leading-2">A message from Dotenv's Founder & CTO.</p>

    <p class="text-zinc-950 my-4">Fellow developer,</p>

    <p class="text-zinc-950 my-4">As you already know, security is an evermoving target - an arms race. But that doesn't mean it should be hard to use. Good design can make complex things simple, and that is what we are after at Dotenv.</p>

    <p class="text-zinc-950 my-4">Dotenv is a security tool. It has been since it was first developed in 2013. We saw developers struggling to keep their secrets safe so we pioneered the .env security file format standard. The design led to a better Developer Security Experience - which led to safer secrets for millions of developers. Today, we are taking that to the next logical step.</p>

    <p class="text-zinc-950 my-4">What is the problem with .env files today? The world has changed. Developers manage secrets at greater scale than a decade ago. .env files are not easily shareable between machines, environments, and team members. As a result, developers share secrets over Slack, email, and other messaging services. It's not scaleable and is a security risk. For a CTO or CSO it is a risk they should not take.</p>

    <p class="text-zinc-950 my-4">So, today, we are extending the .env file format to support syncing across machines, environments, and team members. It's an exciting development and we welcome you to go on this journey with us.</p>

    <p class="text-zinc-950 my-4">Join us.</p>

    <p class="text-zinc-950 mt-10">- Mot</p>
    <p class="text-zinc-950 mt-0">Founder & CTO</p>

    <img src="/assets/img/mot.png" class="w-14 h-14 mt-5 rounded-md" />
  </div>
</section>
