<div class="flex">
  <div class="shrink w-40 h-100 grid place-content-center">
    <div class="text-center">
      <span class="inline-block border border-zinc-800 font-semibold bg-zinc-900 text-zinc-200 p-1 rounded-lg">key_b46…</span>
      <span class="inline-block border border-yellow-500 font-semibold bg-yellow-300 text-zinc-700 p-1 rounded-lg">token_fd4b…</span>
      {% include logos/arrowdown.html class="w-4 h-5 text-yellow-300 mx-auto my-2" %}
      <svg fill="currentColor" class="text-yellow-300 w-14 mx-auto" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z"></path><path d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z"></path><path d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z"></path></svg>
      <span class="text-yellow-300 text-xs">Dotenv Application DB</span>
    </div>
  </div>
  <div class="w-full pl-3">
    <p class="my-2 text-sm">Step 9</p>
    <h5 class="my-2 text-2xl text-zinc-50 font-bold">Store Key Part with Token</h5>
    <p class="my-2">Lastly, the encrypted KEY and token (representing the encrypted VALUE) are placed in an envelope and stored together in the application database.</p>
  </div>
</div>
<div class="flex my-2">
  <div class="shrink w-40 h-100 flex place-content-center">
    {% include logos/arrowdown.html class="w-4 h-5 text-zinc-500" %}
  </div>
  <div class="w-full">
  </div>
</div>
