<div class="flex">
  <div class="shrink w-40 h-100 grid place-content-center">
    <svg fill="currentColor" width="50" class="text-yellow-300 w-14 h-14" viewBox="0 0 16 16" version="1.1" height="50" aria-hidden="true"><path d="M14 10a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1h12zM2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2z"></path><path d="M5 11.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM14 3a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"></path><path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"></path></svg>
  </div>
  <div class="w-full pl-3">
    <p class="my-2 text-sm">Step 3</p>
    <h5 class="my-2 text-2xl text-zinc-50 font-bold">Dotenv Servers</h5>
    <p class="my-2">This encrypted payload is decrypted and briefly held in memory to complete the next steps. Afterward, the memory is flushed. Rest assured the decrypted version is never persisted to Dotenv systems.</p>
  </div>
</div>
<div class="flex my-2">
  <div class="shrink w-40 h-100 flex place-content-center">
    {% include logos/arrowdown.html class="w-4 h-5 text-zinc-500" %}
  </div>
  <div class="w-full">
  </div>
</div>
