<div class="flex">
  <div class="shrink w-40 h-100 grid place-content-center">
    <span class="border border-zinc-800 font-semibold bg-zinc-900 text-zinc-200 p-1 rounded-lg">KEY=VALUE</span>

    <svg fill="currentColor" class="text-yellow-300 w-4 mx-auto my-2" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"></path></svg>

    <span class="mx-auto text-center border border-zinc-800 font-semibold bg-zinc-900 text-zinc-200 p-1 rounded-lg">KEY</span>
    <span class="mx-auto text-center border border-zinc-800 font-semibold bg-zinc-900 text-zinc-200 p-1 rounded-lg">VALUE</span>
  </div>
  <div class="w-full pl-3">
    <p class="my-2 text-sm">Step 6</p>
    <h5 class="my-2 text-2xl text-zinc-50 font-bold">Secret Division</h5>
    <p class="my-2">The secret is divided into its separate key and value. This is by design. They will be stored in separate databases for added security. This way if an attacker somehow gained access to one database they would not be able to make sense of the data - having only half the puzzle.</p>
  </div>
</div>
<div class="flex my-2">
  <div class="shrink w-40 h-100 flex place-content-center">
    {% include logos/arrowdown.html class="w-4 h-5 text-zinc-500" %}
  </div>
  <div class="w-full">
  </div>
</div>
