<div class="flex">
  <div class="shrink w-40 h-100 grid place-content-center">
    <svg class="text-yellow-300 w-10 h-10" fill="currentColor" viewBox="0 0 16 16" version="1.1" height="70" aria-hidden="true"><path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"></path></svg>
  </div>
  <div class="w-full pl-3">
    <p class="my-2 text-sm">Step 2</p>
    <h5 class="my-2 text-2xl text-zinc-50 font-bold">Encrypted Connection</h5>
    <p class="my-2">Your .env file is encrypted and sent securely over SSL to Dotenv's in-memory servers.</p>
  </div>
</div>
<div class="flex my-2">
  <div class="shrink w-40 h-100 flex place-content-center">
    {% include logos/arrowdown.html class="w-4 h-5 text-zinc-500" %}
  </div>
  <div class="w-full">
  </div>
</div>
