<div class="flex">
  <div class="shrink w-40 h-100 grid place-content-center">
    <div class="border border-zinc-800 font-semibold bg-zinc-900 text-zinc-200 p-1 rounded-lg">KEY=VALUE</div>
  </div>
  <div class="w-full pl-3">
    <p class="my-2 text-sm">Step 5</p>
    <h5 class="my-2 text-2xl text-zinc-50 font-bold">Secret Extraction</h5>
    <p class="my-2">Each key/value pair (and any comments) are extracted - in memory.</p>
  </div>
</div>
<div class="flex my-2">
  <div class="shrink w-40 h-100 flex place-content-center">
    {% include logos/arrowdown.html class="w-4 h-5 text-zinc-500" %}
  </div>
  <div class="w-full">
  </div>
</div>
