<div class="flex">
  <div class="shrink w-40 h-100 grid place-content-center">
    <svg fill="currentColor" class="text-zinc-50 w-16" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z"></path></svg>
  </div>
  <div class="w-full pl-3">
    <p class="my-2 text-sm">Step 4</p>
    <h5 class="my-2 text-2xl text-zinc-50 font-bold">Parsing</h5>
    <p class="my-2">Your .env file is parsed line by line - in memory.</p>
    <p class="my-2">Note: There are minor differences between dotenv parsers across various languages and frameworks. So far Dotenv Vault handles 100% of these, and we continue to add test cases to cover all edge cases.</p>
  </div>
</div>
<div class="flex my-2">
  <div class="shrink w-40 h-100 flex place-content-center">
    {% include logos/arrowdown.html class="w-4 h-5 text-zinc-500" %}
  </div>
  <div class="w-full">
  </div>
</div>
