<div class="flex">
  <div class="shrink w-40 h-100 grid place-content-center">
    <div class="text-center">
      <span class="inline-block border border-zinc-800 font-semibold bg-zinc-900 text-zinc-200 p-1 rounded-lg">KEY</span>
      <svg fill="currentColor" class="text-yellow-300 w-4 h-4 inline-block" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg>
      <span class="inline-block border border-zinc-800 font-semibold bg-zinc-900 text-zinc-200 p-1 rounded-lg">key_b46…</span>

      <div class="my-8"></div>

      <span class="inline-block border border-zinc-800 font-semibold bg-zinc-900 text-zinc-200 p-1 rounded-lg">VALUE</span>
      <svg fill="currentColor" class="text-yellow-300 w-4 h-4 inline-block" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path></svg>
      <span class="inline-block border border-zinc-800 font-semibold bg-zinc-900 text-zinc-200 p-1 rounded-lg">val_a8e…</span>
    </div>
  </div>
  <div class="w-full pl-3">
    <p class="my-2 text-sm">Step 7</p>
    <h5 class="my-2 text-2xl text-zinc-50 font-bold">AES-GCM Encryption</h5>
    <p class="my-2">The KEY is encrypted. The VALUE is encrypted. They are encrypted with different master encryption keys. This way if an attacker somehow gained access to the VALUE decryption key they would find the data useless. They would not know if the secret belonged to Twilio or to AWS.</p>
    <p class="my-2">Encryption uses the AES-GCM algorithm. It is:</p>
    <ul class="list-disc my-4 ml-7">
      <li>well-studied</li>
      <li>NIST recommended</li>
      <li>an IETF standard</li>
      <li>fast thanks to a dedicated instruction set</li>
    </ul>
    <p class="my-2">Additionally, all master encryption keys are rotated on an unpublished schedule, further adding to the level of security.</p>
  </div>
</div>
<div class="flex my-2">
  <div class="shrink w-40 h-100 flex place-content-center">
    {% include logos/arrowdown.html class="w-4 h-5 text-zinc-700" %}
  </div>
  <div class="w-full">
  </div>
</div>
