<div class="w-full mx-auto shadow-lg my-6">
  <div class="border-2 border-zinc-800 text-zinc-100 text-sm subpixel-antialiased rounded-lg leading-normal overflow-hidden">
    <div class="px-3 bg-black border-b border-zinc-800">
      <div class="flex items-center">
        <span class="h-3 w-3 bg-red-500/50 dark:bg-red-500/30 rounded-full"></span>
        <span class="ml-2 h-3 w-3 bg-orange-300/50 dark:bg-orange-300/30 rounded-full"></span>
        <span class="ml-2 h-3 w-3 bg-green-500/50 dark:bg-green-500/30 rounded-full"></span>

        <div class="w-fit ml-auto my-1" x-data="{
            copyText: 'npx dotenv-vault@latest push',
            copyNotification: false,
            copyToClipboard() {
              navigator.clipboard.writeText('npx dotenv-vault@latest push');
              this.copyNotification = true;
              let that = this;
              setTimeout(function(){
                that.copyNotification = false;
              }, 3000);
            }
        }">
          <button x-on:click="copyToClipboard();" type="button" class="text-xs py-2 rounded px-2 border-zinc-900 text-zinc-500 bg-zinc-900 hover:bg-zinc-800">
            <span x-show="!copyNotification">Copy to Clipboard</span>
            <span x-cloak x-show="copyNotification" class="tracking-tight text-green-400">Copied to Clipboard</span>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col px-5 md:px-10 py-10 md:py-14 bg-zinc-950 font-mono">
      <div class="flex text-sm md:text-2xl items-center justify-center">
        <div class="text-green-500 h-fit pt-1">$</div>
        <div class="text-white items-center font-extrabold pl-3 text-3xl md:text-4xl lg:text-5xl">
          <span class="">npx dotenv-vault push</span>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

