<div class="w-full mx-auto shadow-lg">
  <div class="border-2 border-zinc-800 text-zinc-100 text-sm subpixel-antialiased rounded-lg leading-normal overflow-hidden">
    <div class="px-3 bg-black border-b border-zinc-800">
      <div class="flex items-center">
        <span class="h-3 w-3 bg-red-500/50 dark:bg-red-500/30 rounded-full"></span>
        <span class="ml-2 h-3 w-3 bg-orange-300/50 dark:bg-orange-300/30 rounded-full"></span>
        <span class="ml-2 h-3 w-3 bg-green-500/50 dark:bg-green-500/30 rounded-full"></span>

        <div class="w-fit ml-auto my-1" x-data="{
            copyText: 'npx dotenv-vault@latest push',
            copyNotification: false,
            copyToClipboard() {
              navigator.clipboard.writeText('npx dotenv-vault@latest push');
              this.copyNotification = true;
              let that = this;
              setTimeout(function(){
                that.copyNotification = false;
              }, 3000);
            }
        }">
          <button x-on:click="copyToClipboard();" type="button" class="text-xs py-2 rounded px-2 border-zinc-900 text-zinc-500 bg-zinc-900 hover:bg-zinc-800">
            <span x-show="!copyNotification">Copy to Clipboard</span>
            <span x-cloak x-show="copyNotification" class="tracking-tight text-green-400">Copied to Clipboard</span>
          </button>
        </div>
      </div>
    </div>
    <div class="flex flex-col px-5 md:px-10 py-5 md:py-14 bg-zinc-950 font-mono">
      <div class="flex text-sm md:text-xl mb-4">
        <span class="text-green-500 opacity-50">project:~$</span>
        <p class="flex-1 text-white items-center pl-3">
          <span class="">npx dotenv-vault push</span>
          <br>
        </p>
      </div>
      <div class="flex flex-col text-sm md:text-xl text-zinc-700 overflow-scroll w-100">
        <span>remote:   Securely pushing (.env)... done</span>
        <span>Run npx dotenv-vault open to view in the ui</span>
      </div>
    </div>
  </div>
</div>

