<section class="mt-10 md:mt-32 w-full mx-auto max-w-7xl px-6 flex flex-col">
  <h5 class="text-center text-base font-semibold leading-7 dark:text-yellow-300">Invest in Your Security</h5>

  <h1 class="mx-auto mt-2 max-w-4xl text-center text-4xl md:text-5xl font-bold tracking-tight bg-gradient-to-r bg-clip-text text-transparent leading-tight text-zinc-950 dark:text-zinc-200">
    <span x-data="{
      signups: 764,
      getSignupCount() {
        fetch('https://vault.dotenv.org/public/stats')
          .then(response => response.json())
          .then(data => { this.signups = data.signups; })
      }
    }" x-init="getSignupCount()" x-text="signups">764</span> organizations signed up last month.
  </h1>

  <p class="mx-auto my-4 mb-8 text-center text-lg leading-8">Just $5 dollars for individuals.</p>

</section>
