<section class="w-full mx-auto max-w-7xl px-6 flex flex-col">
  <div class="flow-root">
    <div class="mx-auto">
      <div class="relative mx-auto grid max-w-md grid-cols-1 gap-2 gap-y-8 lg:max-w-none lg:grid-cols-2">

        <!-- solo plan -->
        <div class="relative border rounded-lg  border-zinc-200 dark:border-zinc-800 overflow-hidden">
          <div class="p-8">
            <h3 class="font-semibold">Solo</h3>
            <div class="flex flex-col gap-6">
              <div class="mt-5 flex items-center gap-x-3">
                <p class="text-6xl font-semibold leading-6 text-zinc-950 dark:text-zinc-50">$5</p>
                <div class="leading-5 text-sm">
                  <p class="text-zinc-500">USD</p>
                    <p class=""><span class="font-bold">Month</span> per user</p>
                </div>
              </div>

              <a class="btn-outline w-full" href="https://vault.dotenv.org/signup">
                Sign Up
              </a>
            </div>

            <p class="my-3 text-zinc-600 dark:text-zinc-400">Full-fledged security for individuals.</p>

            <div class="mt-8 flow-root">
              <div role="list" class="-my-2 divide-y divide-zinc-200 dark:divide-zinc-800">
                <a href="https://dotenv.org/docs/features/sync" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Sync .env files
                </a>
                <a href="https://dotenv.org/docs/features/unlimited-projects" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Unlimited projects
                </a>
                <a href="https://dotenv.org/docs/tutorials/teammates" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  2 teammates
                </a>
                <a href="https://www.dotenv.org/docs/features/environments" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Multiple environments
                </a>
                <a href="https://www.dotenv.org/docs/features/compare-environments" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Compare environments
                </a>
                <a href="https://www.dotenv.org/docs/features/encrypted-deploys" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Encrypted deploys
                </a>
                <a href="https://www.dotenv.org/docs/dotenv-vault" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  CLI &amp; Dashboard
                </a>
                <a href="https://www.dotenv.org/docs/addons/github" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  GitHub Add-on
                </a>
                <a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  VSCode extension
                </a>
                <a href="https://www.dotenv.org/docs/features/personal-environment-variables" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Personal secrets
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="relative border rounded-lg  border-zinc-200 dark:border-zinc-800 overflow-hidden">
          <div class="p-8">
            <h3 class="font-semibold">Team</h3>
            <div class="flex flex-col gap-6">
              <div class="mt-5 flex items-center gap-x-3">
                <p class="text-6xl font-semibold leading-6 text-zinc-950 dark:text-zinc-50">$8</p>
                <div class="leading-5 text-sm">
                  <p class="text-zinc-500">USD</p>
                    <p class=""><span class="font-bold">Month</span> per user</p>
                </div>
              </div>

              <a class="btn-primary w-full" href="/ui/ui1/organization/new?plan=team">
                Sign Up
              </a>
            </div>

            <p class="my-3 text-zinc-600 dark:text-zinc-400">Advanced security and more control for teams of all sizes.</p>

            <div class="mt-8 flow-root">
              <div role="list" class="-my-2 divide-y divide-zinc-200 dark:divide-zinc-800">
                <a href="https://dotenv.org/docs/features/sync" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Sync .env files
                </a>
                <a href="https://dotenv.org/docs/features/unlimited-projects" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Unlimited projects
                </a>
                <a href="https://dotenv.org/docs/tutorials/teammates" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Unlimited teammates
                </a>
                <a href="https://www.dotenv.org/docs/features/environments" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Multiple environments
                </a>
                <a href="https://www.dotenv.org/docs/features/compare-environments" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Compare environments
                </a>
                <a href="https://www.dotenv.org/docs/features/encrypted-deploys" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Encrypted deploys
                </a>
                <a href="https://www.dotenv.org/docs/dotenv-vault" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  CLI &amp; Dashboard
                </a>
                <a href="https://www.dotenv.org/docs/addons/github" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  GitHub Add-on
                </a>
                <a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  VSCode extension
                </a>
                <a href="https://www.dotenv.org/docs/features/personal-environment-variables" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Personal secrets
                </a>
                <a href="https://www.dotenv.org/docs/features/custom-environments" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Custom environments
                </a>
                <a href="https://www.dotenv.org/docs/addons/slack" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Slack notifications
                </a>
                <a href="https://www.dotenv.org/docs/features/access-controls" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Access controls
                </a>
                <a href="https://www.dotenv.org/docs/features/version-history" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Version history
                </a>
                <a href="https://www.dotenv.org/docs/addons/external" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  External share
                </a>
                <a href="#" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  High availability
                </a>
                <a href="#" target="_blank" class="flex gap-x-2 py-2 items-center text-zinc-500 dark:text-zinc-400 hover:text-green-600 dark:hover:text-green-600">
                  {% include icons/check.html %}
                  Audit log
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
