<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2 class="display-5 fw-extrabold text-center">It takes just 5 minutes (or less)</h2>
      <p class="lead fw-normal text-center">You don't have to spend days or even hours to keep your secrets safe. <span class="fw-bold">dotenv-vault</span> has a great free plan with a great developer experience.</p>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="row row-cols-1 g-2">
            <div class="col">
              <div class="card border-success w-100 h-100">
                <div class="card-body text-center fw-extrabold px-1">
                  <span class="text-success">✓</span>
                  100% Free
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card border-success w-100 h-100">
                <div class="card-body text-center fw-bold px-1">
                  <span class="text-success">✓</span>
                  Sync .env files
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-success w-100 h-100">
                <div class="card-body text-center fw-bold px-1">
                  <span class="text-success">✓</span>
                  Unlimited projects
                </div>
              </div>
            </div>
          </div>
          <div class="col text-center mb-1 mt-2 mb-2 d-grid">
            <a class="btn btn-lg btn-success fw-semibold rounded-pill px-4" href="/pricing">Pricing + Sign up</a>
          </div>
          <p class="text-center small">Get started in 5 minutes or less</p>
        </div>
      </div>
    </div>
  </div>
</div>
