<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div>
        <h2 class="display-6 fw-bold lh-sm text-center">Thousands of forward-thinking development teams use <span class="fw-extrabold">dotenv-vault</span></h2>
        <p class="text-center">Here's a small selection of them. Your team could be next.</p>
      </div>
    </div>
  </div>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
    <div class="col">
      <div class="card h-100">
        <a href="https://firstvet.com/us">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679363334/firstvet_dwppjm.png" class="card-img-top" alt="FirstVet + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
          FirstVet trusts dotenv-vault to keep their secrets safe while helping you keep your pets healthy. With their app, you can <span class="fw-bold">talk to a vet online</span> at the click of a button.
          </p>

          <a href="https://firstvet.com/us" class="text-secondary">firstvet.com</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://honeylove.com">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679363390/honeylove_dydhht.png" class="card-img-top" alt="Honeylove + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
            Honeylove, <span class="fw-bold">a YC company</span>, makes body-shaping apparel designed to make you feel more confident and improve your posture. When it comes to their security posture, they choose dotenv-vault.
          </p>

          <a href="https://honeylove.com" class="text-secondary">honeylove.com</a> / <a class="text-secondary" href="https://www.ycombinator.com/companies/honeylove">yc</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://supernova.io">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679364624/supernova_rmpfgi.png" class="card-img-top" alt="Supernova + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
          When it comes to <span class="">SecretOps</span>, Supernova, <span class="fw-bold">one of the world's premier DesignOps</span> solutions, reaches for dotenv-vault.
          </p>

          <a href="https://supernova.io" class="text-secondary">supernova.io</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <a href="https://sound.xyz">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679381628/soundxyz_zfpjnv.png" class="card-img-top" alt="Sound.xyz + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
            Sound is a collaborative <span class="fw-bold">music discovery platform built on web3</span> technology and values. For their secrets, they trust dotenv-vault.
          </p>

          <a href="https://sound.xyz" class="text-secondary">sound.xyz</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://acgov.org">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679380814/alamedacounty_ztuwmd.png" class="card-img-top" alt="County of Alameda + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
            Alameda County is one of the most innovative counties in the United States. Home to <span class="fw-bold">1.7 million people, in cities like Berkeley and Oakland</span>, they use and trust dotenv-vault.
          </p>

          <a href="https://acgov.org/" class="text-secondary">acgov.org</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://snackclub.gg">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679380171/snackclub_hml0cy.png" class="card-img-top" alt="County of Alameda + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
            Built on blockchain technology, Snackclub is a <span class="fw-bold">gaming community</span> that uses dotenv-vault to keep their secrets safe.
          </p>

          <a href="https://snackclub.gg/" class="text-secondary">snackclub.gg</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://zengaming.com">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679692203/zengaming_l30oiw.png" class="card-img-top" alt="Zengaming + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
            <span class="fw-bold">5 Million+ users trust Zengaming's Tradeit.gg and Lootbear.com products</span>. dotenv-vault helps support these users by powering Zengaming's secrets.
          </p>

          <a href="https://www.zengaming.com" class="text-secondary">zengaming.com</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://happymoney.com">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679692617/happymoney_vulgtk.png" class="card-img-top" alt="Happymoney + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
            HappyMoney is a unicorn-sized company that has <span class="fw-bold">raised almost $200 million dollars</span>. For keeping their secrets safe, they chose dotenv-vault as the superior option.
          </p>

          <a href="https://happymoney.com" class="text-secondary">happymoney.com</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://sungagefinancial.com">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679693012/sungagefinancial_gmmq8z.png" class="card-img-top" alt="Sungage Financial + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
            Sungage Financial <span class="fw-bold">innovates in the solar space</span> - making it so more people can have solar. To innovate on their secrets they chose dotenv-vault.
          </p>

          <a href="https://sungagefinancial.com" class="text-secondary">sungagefinancial.com</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://www.ligonier.org/">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680308176/ligonier_p3ndov.png" class="card-img-top" alt="Ligonier Ministries + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
            Ligonier Ministries provides <span class="fw-bold">content and resources for Christians</span>. Their team coordinates securely sharing secrets using dotenv-vault.
          </p>

          <a href="https://ligonier.org" class="text-secondary">ligonier.org</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://leadschool.in/">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680308175/lead_i8plac.png" class="card-img-top" alt="LEAD + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
            Edtech Unicorn LEAD trusts dotenv-vault with its developer secrets. Their software <span class="fw-bold">makes excellent education affordable</span> and accessible to all Indians.
          </p>

          <a href="https://leadschool.in/" class="text-secondary">leadschool.in</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <a href="https://www.vio.com/">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680308175/vio_xiyw0l.png" class="card-img-top" alt="LEAD + Dotenv">
        </a>
        <div class="card-body small d-none d-md-block d-lg-block">
          <p>
          <span class="fw-bold">100M+ visitors per year use Vio.com</span> to get a better deal on travel and accomodation. It takes a lot of software to do this and it is dotenv-vault that powers the secrets for that software.
          </p>

          <a href="https://www.vio.com/" class="text-secondary">vio.com</a>
        </div>
      </div>
    </div>



  </div>

  <div class="row">
    <div class="offset-lg-1 col-lg-10">
      <p class="mt-3 text-center lead fw-semibold text-white">These teams are saying goodbye to scattered secrets, when will you?</p>
    </div>
  </div>

</div>
