<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2 class="display-5 fw-extrabold text-center">Used by thousands of developers and companies</h2>
      <p class="lead fw-normal text-center">New developers and companies get started with <span class="fw-bold">dotenv-vault</span> every day. You could be next.</p>

      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
        <div class="col">
          <div class="card h-100">
            <a href="https://firstvet.com/us">
              {% responsive_image path: assets/img/customers/firstvet.png alt: "FirstVet + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
              FirstVet trusts dotenv-vault to keep their secrets safe while helping you keep your pets healthy. With their app, you can <span class="fw-bold">talk to a vet online</span> at the click of a button.
              </p>

              <a href="https://firstvet.com/us" class="text-secondary">firstvet.com</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://honeylove.com">
              {% responsive_image path: assets/img/customers/honeylove.png alt: "Honeylove + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
                Honeylove, <span class="fw-bold">a YC company</span>, makes body-shaping apparel designed to make you feel more confident and improve your posture. When it comes to their security posture, they choose dotenv-vault.
              </p>

              <a href="https://honeylove.com" class="text-secondary">honeylove.com</a> / <a class="text-secondary" href="https://www.ycombinator.com/companies/honeylove">yc</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://supernova.io">
              {% responsive_image path: assets/img/customers/supernova.png alt: "Supernova + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
              When it comes to <span class="">SecretOps</span>, Supernova, <span class="fw-bold">one of the world's premier DesignOps</span> solutions, reaches for dotenv-vault.
              </p>

              <a href="https://supernova.io" class="text-secondary">supernova.io</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <a href="https://sound.xyz">
              {% responsive_image path: assets/img/customers/soundxyz.png alt: "Sound.xyz + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
                Sound is a collaborative <span class="fw-bold">music discovery platform built on web3</span> technology and values. For their secrets, they trust dotenv-vault.
              </p>

              <a href="https://sound.xyz" class="text-secondary">sound.xyz</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://acgov.org">
              {% responsive_image path: assets/img/customers/alamedacounty.png alt: "Alameda + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
                Alameda County is one of the most innovative counties in the United States. Home to <span class="fw-bold">1.7 million people, in cities like Berkeley and Oakland</span>, they use and trust dotenv-vault.
              </p>

              <a href="https://acgov.org/" class="text-secondary">acgov.org</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://snackclub.gg">
              {% responsive_image path: assets/img/customers/snackclub.png alt: "Snackclub + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
                Built on blockchain technology, Snackclub is a <span class="fw-bold">gaming community</span> that uses dotenv-vault to keep their secrets safe.
              </p>

              <a href="https://snackclub.gg/" class="text-secondary">snackclub.gg</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://zengaming.com">
              {% responsive_image path: assets/img/customers/zengaming.png alt: "Zengaming + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
                <span class="fw-bold">5 Million+ users trust Zengaming's Tradeit.gg and Lootbear.com products</span>. dotenv-vault helps support these users by powering Zengaming's secrets.
              </p>

              <a href="https://www.zengaming.com" class="text-secondary">zengaming.com</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://happymoney.com">
              {% responsive_image path: assets/img/customers/happymoney.png alt: "Happymoney + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
                HappyMoney is a unicorn-sized company that has <span class="fw-bold">raised almost $200 million dollars</span>. For keeping their secrets safe, they chose dotenv-vault as the superior option.
              </p>

              <a href="https://happymoney.com" class="text-secondary">happymoney.com</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://sungagefinancial.com">
              {% responsive_image path: assets/img/customers/sungagefinancial.png alt: "Sungage Financial + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
                Sungage Financial <span class="fw-bold">innovates in the solar space</span> - making it so more people can have solar. To innovate on their secrets they chose dotenv-vault.
              </p>

              <a href="https://sungagefinancial.com" class="text-secondary">sungagefinancial.com</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://www.ligonier.org/">
              {% responsive_image path: assets/img/customers/ligonier.png alt: "Ligonier Ministries + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
                Ligonier Ministries provides <span class="fw-bold">content and resources for Christians</span>. Their team coordinates securely sharing secrets using dotenv-vault.
              </p>

              <a href="https://ligonier.org" class="text-secondary">ligonier.org</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://leadschool.in/">
              {% responsive_image path: assets/img/customers/lead.png alt: "LEAD + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
                Edtech Unicorn LEAD trusts dotenv-vault with its developer secrets. Their software <span class="fw-bold">makes excellent education affordable</span> and accessible to all Indians.
              </p>

              <a href="https://leadschool.in/" class="text-secondary">leadschool.in</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <a href="https://www.vio.com/">
              {% responsive_image path: assets/img/customers/vio.png alt: "Vio + Dotenv" class: "card-img-top img-fluid" %}
            </a>
            <div class="card-body small d-none d-md-block d-lg-block">
              <p>
              <span class="fw-bold">100M+ visitors per year use Vio.com</span> to get a better deal on travel and accomodation. It takes a lot of software to do this and it is dotenv-vault that powers the secrets for that software.
              </p>

              <a href="https://www.vio.com/" class="text-secondary">vio.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="offset-lg-1 col-lg-10">
      <p class="mt-3 text-center lead fw-semibold">These teams said goodbye to scattered secrets. Are you ready to do the same, once and for all?</p>
    </div>
  </div>
  -->
</div>
