<div class="container py-3 px-lg-5">
  <div class="row pb-5">
    <div class="col-lg-6 offset-lg-1 col-md-7 d-flex align-items-center">
      <div>
        <h2 class="fw-bold text-white">Used by thousands of developers and companies</h2>
        <p class="text-white"><span class="fw-bold">dotenv-vault</span> powers secrets for thousands of software teams across the world. New developers and companies get started with it every day.</p>
        <p class="text-white">
          <a href="/customers" class="text-white"><span class="fw-bold">dotenv-vault</span> customers &rarr;</a>
        </p>
      </div>
    </div>
    <div class="col-lg-5 col-md-5">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/c_scale,w_800/v1666593866/Group_ukiica.png" class="w-100">
    </div>
  </div>
</div>
