<div class="bg-light">
  <div class="container py-5 mb-0 mb-lg-5 mb-md-5">
    <div class="row py-3 py-lg-5">
      <div class="col-7 col-lg-6 offset-lg-1 d-flex align-items-center">
        <div>
          <h3 class="display-5 lh-sm">The average cost of a secrets leak is <span class="fw-bold">$1.2 million dollars</span>. What a headache.</h3>
        </div>
      </div>
      <div class="col-5 col-lg-4 d-flex align-items-center justify-content-center">
        <div>
          <img src="https://images.unsplash.com/photo-1621252179027-94459d278660?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80" class="w-100 rounded shadow shadow-sm"/>
        </div>
      </div>
    </div>
  </div>
</div>
