<div class="container mt-3 mb-5 pb-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="alert alert-light" role="alert">
        <h3 class="fw-light text-center mb-0">Meanwhile, the average cost of a secrets leak is <span class="fw-bold text-danger">$1.2 million dollars</span>.</h3>
      </div>
      <h5 class="text-center">That's not even counting the headache and reputation hit to your organization. <span class="fw-bold">You need a solution.</span></h5>
    </div>
  </div>
</div>
