<div class="container py-3 px-lg-5">
  <div class="row pt-3 pt-lg-5">
    <div class="col col-lg-4 offset-lg-2">
      <img src="https://picsum.photos/seed/picsum/536/364" class="w-100 rounded shadow shadow-sm" />
    </div>
    <div class="col col-lg-4">
      <h3 class="fw-bold lh-sm">Your secrets are disorganized and scattered everywhere</h3>
      <p class="text-secondary">Your developers manage secrets independently, exchanging .env files through insecure channels like email and Slack. Meanwhile, your DevOps team sets secrets through various different platforms and tools, resulting in secrets being spread across multiple locations. Finally, your CSO has no visibility into any of this, leaving them unaware of which secrets are located where, as well as who has accessed them and when.</p>
      <ul class="list-unstyled">
        <li><span class="h5 font-monospace text-danger">&times;</span> <span class="fw-bold">Insecure</span></li>
        <li><span class="h5 font-monospace text-danger">&times;</span> <span class="fw-bold">Manual management</span></li>
        <li><span class="h5 font-monospace text-danger">&times;</span> <span class="fw-bold">Lack of oversight</span></li>
      </ul>

    </div>
  </div>
</div>
