<div class="container py-5 mb-5 px-lg-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2 class="fw-semibold text-center text-white display-5 mb-3">From the same people that pioneered <a class="text-white" href="https://github.com/motdotla/dotenv">dotenv</a>.</h2>
      <h2 class="fw-semibold text-center text-white display-5">Trusted by more than 2.5 million developers.</h2>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="p-3 text-center">
          <a class="d-block display-2 fw-bold lh-1 text-white text-decoration-none" href="https://github.com/motdotla/dotenv/network/dependents">2.5M+</a>
          <a class="d-block fw-light lh-1 text-warning text-decoration-none" href="https://github.com/motdotla/dotenv/network/dependents">2.5 Million+ Developers</a>
        </div>
        <div class="p-3 text-center">
          <a class="d-block display-2 fw-bold lh-1 text-white text-decoration-none" href="https://www.npmjs.com/dotenv">130M+</a>
          <a class="d-block fw-light lh-1 text-warning text-decoration-none" href="https://www.npmjs.com/dotenv">130 Million+ monthly installs</a>
        </div>
        <div class="p-3 text-center">
          <a class="d-block display-2 fw-bold lh-1 text-white text-decoration-none" href="https://github.com/motdotla/dotenv/stargazers">17K+</a>
          <a class="d-block fw-light lh-1 text-warning text-decoration-none" href="https://github.com/motdotla/dotenv/stargazers">17,000+ stars on GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
