<div class="container py-3 px-lg-5">
  <div class="row pt-3 pt-lg-5 text-center">
    <div class="col">

      <h1 class="display-1 fw-bold mt-5 lh-1">Simplify Your Secrets</h1>

      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <p class="h2 fw-light mt-3">Manage your secrets using <span class="fw-bold">dotenv-vault</span>'s all-in-one toolkit. Say goodbye to scattered secrets across multiple platforms and tools.</p>
          <!--<p class="h2 fw-light mt-3">Add syncing and encryption to your .env files and say goodbye to scattered secrets across multiple platforms and tools.</p>-->
          <!---<p class="h2 fw-light mt-3">Combat scattered secrets with a single source of truth. <span class="fw-bold">dotenv-vault</span> builds on top of the proven <span class="fw-bold">dotenv</span> standard, adding syncing and encryption to .env files.</p>-->
        </div>
      </div>

      <p class="mt-4">
        <a href="/security" class="btn btn-lg btn-dark shadow shadow-lg">See how <span class="fw-bold">dotenv-vault</span> works</a>
        <br/>
        <a href="/signup" class="btn btn-lg btn-link link-offset-3">
          or sign up right now
        </a>
      </p>

      <!--
      <h1 class="display-1 fw-bold mt-5 lh-1">The All-In-One Toolkit for Managing Your Secrets</h1>
      <p class="lead fw-normal mt-3">Before Dotenv: You're CSO is worried about a 3rd party leak. Your DevOps team doesn't know if secrets are set correctly without navigating multiple 3rd party dashboards. Your devs don't know if they have the latest secrets. After Dotenv: Your CSO knows where everything is and who is accessing it. Your DevOps knows what secrets are set. Your Dev team always has the latest secrets.</p>
      -->
    </div>
  </div>
</div>
