<div class="container px-lg-5">
  <div class="row text-center">
    <div class="col">
      <h1 class="display-1 fw-bold mt-5 lh-1">Simplify Your Secrets</h1>

      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <p class="h2 fw-light mt-1">Manage your secrets using <span class="fw-bold">dotenv-vault</span>'s all-in-one toolkit. Say goodbye to scattered secrets across multiple platforms and tools.</p>
          <!--<p class="h2 fw-light mt-3">Add syncing and encryption to your .env files and say goodbye to scattered secrets across multiple platforms and tools.</p>-->
          <!---<p class="h2 fw-light mt-3">Combat scattered secrets with a single source of truth. <span class="fw-bold">dotenv-vault</span> builds on top of the proven <span class="fw-bold">dotenv</span> standard, adding syncing and encryption to .env files.</p>-->
        </div>
      </div>

      <p class="mt-4 mb-1">
        <a href="/pricing" class="btn btn-lg btn-success rounded-pill px-lg-5 px-4 py-3">
          <span class="d-block fw-normal fs-4 lh-1">Try <span class="fw-bold">dotenv-vault</span> for free</span>
        </a>
      </p>
      <p class="fs-6 text-secondary">
        No credit card required. Free plan as well.
      </p>

      <!--
      <h1 class="display-1 fw-bold mt-5 lh-1">The All-In-One Toolkit for Managing Your Secrets</h1>
      <p class="lead fw-normal mt-3">Before Dotenv: You're CSO is worried about a 3rd party leak. Your DevOps team doesn't know if secrets are set correctly without navigating multiple 3rd party dashboards. Your devs don't know if they have the latest secrets. After Dotenv: Your CSO knows where everything is and who is accessing it. Your DevOps knows what secrets are set. Your Dev team always has the latest secrets.</p>
      -->
    </div>
  </div>
</div>
