<div class="container py-3 px-lg-5">
  <div class="row pt-3 pt-lg-5">
    <div class="col col-lg-4 offset-lg-2">
      <h3 class="fw-bold lh-sm">Alternative solutions have limitations and risks</h3>
      <p class="text-secondary">For instance, HashiCorp Vault can lock you into an expensive solution by requiring your team to rewrite code. Similarly, solutions like AWS Secrets and GCP Secret Manager are also pricey and rely on frequent API calls to their services, driving up costs. On the other hand, solutions like Doppler and Infisical avoid the need for code rewrites, but they rely on <a href="https://coderpad.io/blog/development/heroku-github-breach/">third-party integrations</a> that may increase your attack surface area, making it more likely for your secrets to leak.</p>

      <ul class="list-unstyled">
        <li><span class="h5 font-monospace text-danger">&times;</span> <span class="fw-bold">Expensive</span></li>
        <li><span class="h5 font-monospace text-danger">&times;</span> <span class="fw-bold">Risky third-party integrations</span></li>
      </ul>
    </div>
    <div class="col col-lg-4">
      <img src="https://picsum.photos/seed/picsum/536/364" class="w-100 rounded shadow shadow-sm" />
    </div>
  </div>
</div>
