<div class="container py-5">
  <div class="row pt-3 pt-lg-5 mb-5">
    <div class="col-lg-7 offset-lg-1">
      <h2 class="display-5 lh-sm"><span class="fw-bold">dotenv-vault</span> is the solution you've been looking for</h2>
      <p class="lead"><span class="fw-bold">dotenv-vault</span> replaces storing and setting your secrets across multiple platforms and tools with a single source of truth. It builds on top of the proven dotenv standard, adding syncing and encryption to .env files.</p>
      <p class="lead fw-semibold">You're steps away from fixing your secrets management problem for good.</p>
      <a href="/security" class="btn btn-dark shadow shadow-sm">See how <span class="fw-bold">dotenv-vault</span> works</a>
      <a href="/signup" class="btn btn-link ml-1">
         or sign up now
      </a>
    </div>
  </div>

  {% include landing/solution_step1.html %}
  {% include landing/solution_step2.html %}
  {% include landing/solution_step3.html %}
</div>
