<div class="container py-3 mt-5">
  <div class="row pt-3 pt-lg-5">
    <div class="col col-lg-6 offset-lg-3 px-lg-5">
      <h2 class="fw-bold text-center lh-sm">Why you'll love using <span class="fw-bold">dotenv-vault</span></h2>

      <p class="lead fw-normal">You can use <span class="fw-semibold">dotenv-vault</span> to manage your secrets across machines, teams, and environments. And you can do it without scattering your secrets across third-party integrations.</p>

      <p class="text-center">
        <a href="" class="btn btn-dark shadow shadow-sm">See how <span class="fw-semibold">dotenv-vault</span> works</a>
        <br/>
        <a href="/" class="btn btn-link text-dark ml-1">
           or sign up now
        </a>
      </p>
    </div>
  </div>
</div>
