<div class="row">
  <div class="col-lg-6">
    <img src="/assets/img/manual-management-of-secrets.png" alt="Manual Management of Secrets" class="w-100 p-4 rounded" />
  </div>
  <div class="col-lg-6 d-flex align-items-center">
    <div>
      <h2 class="fw-extrabold text-center text-lg-start">Sharing .env files by hand gets messy</h2>
      <p>From sharing over Slack, to Email, to copying and pasting across multiple environments, manually managing your secrets is chaotic.</p>
      <div class="fs-5 text-start fw-light">
        <div class="d-flex align-items-center">
          <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">Out of Sync</span>
        </div>
        <div class="d-flex align-items-center">
          <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">Zero Access Controls</span>
        </div>
      </div>
    </div>
  </div>
</div>

