<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2 class="h1 fw-extrabold text-center">Still managing your secrets across multiple platforms and tools?</h2>
      <p class="lead fw-normal text-center mb-5">We took a hard look at the state of developer secrets management, and well, it's not the greatest.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="row g-2">
        <div class="col-lg-6">
          <div class="card bg-light rounded-4 border-0 p-lg-3 p-md-3 pb-0 h-100">
            <div class="card-body pb-0 mb-0">
              <div class="pb-2">{% include icons/shuffle.html %}</div>
              <h3 class="fw-extrabold">Manual management scatters secrets</h3>

              <div class="d-none d-md-block d-lg-block">
                <p>Your developers manage secrets independently, exchanging .env files over insecure channels like email and Slack.</p>
                <p>Meanwhile, your DevOps team sets secrets through various different platforms and tools, resulting in secrets being spread across multiple locations.</p>
                <p>And your <abbr title="Chief Security Officer">CSO</abbr> has no transparency into any of this. There are no audit logs, no access controls, and no preventive measures against leaks.</p>
              </div>

              <ul class="list-unstyled pb-0">
                <li class="d-flex align-items-center">
                  <span class="font-monospace fs-3 lh-1 m-0 me-1 p-0 text-danger">&times;</span> <span class="fw-bold">Insecure</span>
                </li>
                <li class="d-flex align-items-center">
                  <span class="font-monospace fs-3 lh-1 m-0 me-1 p-0 text-danger">&times;</span> <span class="fw-bold">Secrets everywhere</span>
                </li>
                <li class="d-flex align-items-center">
                  <span class="font-monospace fs-3 lh-1 m-0 me-1 p-0 text-danger">&times;</span> <span class="fw-bold">No backups</span>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card bg-light rounded-4 border-0 p-lg-3 p-md-3 mb-2 pb-0 h-100">
            <div class="card-body pb-0 mb-0">
              <div class="pb-2">{% include icons/wallet.html %}</div>
              <h3 class="fw-extrabold">Enterprise solutions are expensive or risky</h3>
              <div class="d-none d-md-block d-lg-block">
                <p>HashiCorp Vault locks you into an expensive solution by requiring your team to rewrite code.</p>
                <p>AWS Secrets and GCP Secret Manager are also pricey and rely on frequent API calls to their services, driving up costs.</p>
                <p>Solutions like Doppler and Infisical are also pretty pricey and sync your secrets over <a href="https://coderpad.io/blog/development/heroku-github-breach/" class="link-secondary">risky third-party integrations</a> that increase your attack surface area, making it more likely your secrets leak someday.</p>
              </div>
              <ul class="list-unstyled pb-0">
                <li class="d-flex align-items-center">
                  <span class="font-monospace fs-3 lh-1 m-0 p-0 me-1 text-danger">&times;</span> <span class="fw-bold">Expensive</span>
                </li>
                <li class="d-flex align-items-center">
                  <span class="font-monospace fs-3 lh-1 m-0 p-0 me-1 text-danger">&times;</span> <span class="fw-bold">Lock-in</span>
                </li>
                <li class="d-flex align-items-center">
                  <span class="font-monospace fs-3 lh-1 m-0 p-0 me-1 text-danger">&times;</span> <span class="fw-bold">Risky third-party integrations</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
