<div class="card bg-danger-subtle rounded-4 border-0 h-100">
  <div class="card-body px-3 px-lg-4 px-xl-5 py-4">
    <div class="py-3 text-center text-lg-start">{% include icons/heartbreak.html width="24" %}</div>
    <h4 class="fw-extrabold text-center text-lg-start">Other solutions make you abandon .env files</h4>
    <div class="fs-5 text-start fw-light">
      <div class="d-flex align-items-center">
        <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">proprietary</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">can't use .env files</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">forced to rewrite code</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">expensive</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">lock-in</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">risky third-party integrations*</span>
      </div>
    </div>
  </div>
</div>
