<div class="row">
  <div class="col-lg-6 order-1 order-lg-2">
    {% responsive_image path: assets/img/other-solutions-secrets-management.png alt: "other Secrets Management Solutions screenshot" class: "img-fluid p-4 rounded" %}
  </div>
  <div class="col-lg-6 order-2 order-lg-1 d-flex align-items-center">
    <div>
      <h2 class="fw-extrabold text-center text-lg-start">Other solutions make you abandon .env files</h2>
      <p>Proprietary solutions require a lot from you - code rewrites, lock-in, and third-party integrations that might leak your secrets – it's risky.</p>
      <div class="fs-5 text-start fw-light">
        <div class="d-flex align-items-center">
          <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">Proprietary</span>
        </div>
        <div class="d-flex align-items-center">
          <span class="font-monospace text-danger fs-5 lh-1 me-1">&times;</span> <span class="">Risky Third-party Integrations*</span>
        </div>
      </div>
      <p class="text-start small fw-light text-secondary px-2 mt-3 pt-0"><span class="">*Syncing your secrets over <a href="https://coderpad.io/blog/development/heroku-github-breach/">third-party integrations</a> increases your attack surface area by scattering them in more places, making it more likely your secrets leak. Look what happened to <a href="https://techcrunch.com/2023/01/05/circleci-breach/">CircleCI</a>. <span class="fw-bold">dotenv-vault</span> removes this risk.</span></p>
    </div>
  </div>
</div>
