<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2 class="fw-bold display-5 text-center"><span class="fw-extrabold">dotenv-vault</span> is the solution you've been looking for</h2>
      <p class="text-center"><span class="fw-bold">dotenv-vault</span> replaces storing and setting your secrets across multiple platforms and tools with a single source of truth. It builds on top of the proven dotenv standard, adding syncing and encryption to .env files.</p>
      <p class="text-center lead fw-semibold">You're steps away from fixing your secrets management problem for good.</p>
      <div class="text-center">
      <a href="/security" class="btn btn-dark shadow shadow-sm">See how <span class="fw-bold">dotenv-vault</span> works</a>
      <a href="https://vault.dotenv.org/signup" class="btn btn-link ml-1">
         or sign up now
      </a>
      </div>
    </div>
  </div>

  {% include landing/solution_step1.html %}
  {% include landing/solution_step2.html %}
  {% include landing/solution_step3.html %}
</div>
