<div class="row pt-5">
  <div class="col-lg-4 d-flex align-items-center order-lg-2">
    <div class="card text-bg-light w-100 shadow m-2 mb-3">
      <div class="card-header small text-center font-monospace">
        Terminal
      </div>
      <div class="card-body font-monospace lead">
        <span class="text-secondary">$ cd ./your-project</span>
        <br/>
        <span class="text-secondary">$ npx dotenv-vault new</span>
        <br/>
        <span class="fw-semibold">$ npx dotenv-vault push</span>
        <br/>
        <span class="text-secondary">$ npx dotenv-vault pull</span>
      </div>
    </div>
  </div>
  <div class="col-lg-5 offset-lg-1 order-lg-1">
    <p class="text-muted mb-0 mt-2">Step 1</p>
    <h2 class="fw-bold">Sync your secrets with push and pull</h2>
    <p class="">Sync your secrets similarly to how you sync your code. Run <span class="fw-bold">npx dotenv-vault push</span> to push changes to your .env file and <span class="fw-bold">npx dotenv-vault pull</span> to pull changes. It works a lot like git.</p>
    <p class="lead fw-bold"><span class="text-success font-monospace">$ npx dotenv-vault push</span></p>
    <p class="">This is better than having to learn a new tool or stand up infrastructure just to sync and backup your secrets. If you're already using .env files you can benefit in literally a few seconds of your time. You should try it right now!</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <hr/>
  </div>
</div>
<div class="row pb-5 mb-5">
  <div class="col-lg-5 offset-lg-1 opacity-50">
    <p class="text-dark fw-semibold mb-1">ⓘ What is npx?</p>
    <p class="text-dark">npx is an npm package runner. It let's you run a node executable. This way there are no error prone libraries to install, infrastructure to maintain, or custom code to run. Just have <a href="https://nodejs.org/en/download">node installed</a>, run <span class="fw-bold">npx dotenv-vault push</span>, and you're off to the races.</p>
  </div>
  <div class="col-lg-5 opacity-50">
    <p class="text-dark fw-semibold mb-1">ⓘ Are my secrets safe?</p>
    <p class="text-dark">Your secrets go through a ten-step process to split their parts, encrypt, and tokenize them into <span class="fw-bold">Dotenv Vault Store</span>. This includes using <span class="fw-bold">AES-GCM</span> - trusted by governments to transport top secret information. Read more about the ten-step process on the <a href="/security">security page</a>.</p>
  </div>
</div>
