<div class="container mb-5 pb-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2 class="fw-extrabold display-5 lh-1 text-center">Fix things with a single source of truth</h2>
      <p class="lead fw-normal text-center"><span class="fw-bold">dotenv-vault</span> replaces storing and setting your secrets across multiple platforms and tools with a single source of truth.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="row g-2 gx-5">
        <div class="col-lg-6 order-1 order-lg-1">
          {% include landing/solution_card1.html %}
        </div>
        <div class="col-lg-6 order-3 order-lg-2">
          {% include landing/solution_card2.html %}
        </div>
        <div class="col-lg-6 order-2 order-lg-3">
          <p class="d-none d-lg-block d-md-block text-start small fw-light text-secondary px-2 mt-0 pt-0">
            <span class="">This is better than having to learn a new tool or stand up infrastructure just to sync and backup your secrets. If you're already using .env files you can benefit in literally seconds of your time. You should try it right now!</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
