<div class="card bg-primary-subtle rounded-4 border-0 h-100">
  <div class="card-body px-3 px-lg-4 px-xl-5 py-4">
    <div class="py-3 text-center text-lg-start fs-5 lh-1">🚀</div>
    <h4 class="fw-extrabold text-center text-lg-start">Deploy anywhere, with modern encryption</h4>
    <p class="fs-5 m-0 p-0 text-center text-lg-start">
      <span class="fw-extrabold text-dark font-monospace">.env.vault file</span>
    </p>
    <p class="m-0 p-0 text-center text-lg-start">
      <span class="fw-normal small text-secondary">De-risks you from third-party breaches</span>
    </p>
    <hr/>
    <div class="fs-5 text-start fw-semibold">
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">AES-256 GCM encryption</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">Works without rewriting code</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">Works without third-party integrations</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">Just-in-time decryption</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">Protects you from third-party breaches like <a class="link-dark" href="https://techcrunch.com/2023/01/05/circleci-breach/">the CircleCI breach</a></span>
      </div>
    </div>
  </div>
</div>

