<div class="container my-5 py-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <!--<h2 class="fw-bold display-5 lh-1 text-center">Solve Your Secrets. In just 3 steps.</h2>-->
      <h2 class="fw-extrabold h1 lh-1 text-center"><span class="fw-extrabold">dotenv-vault</span> is the solution you've been looking for</h2>

      <p class="lead fw-normal text-center"><span class="fw-bold">dotenv-vault</span> replaces storing and setting your secrets across multiple platforms and tools with a single source of truth. <!--It builds on top of the proven dotenv standard, adding syncing and encryption to .env files.--></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 offset-lg-1">

      <div class="row g-1">
        <div class="col-4 col-lg-12">
          <input type="radio" class="btn-check" name="how-radio" id="how-radio1" autocomplete="off" value="1" checked>
          <label class="btn btn-outline-light border-light-subtle border-2 py-3 text-start text-dark w-100 h-100 how-btn" for="how-radio1">
            <p class="mb-2"><span class="badge rounded-pill text-bg-dark">1</span></p>
            <h5 class="fw-extrabold">Sync <span class="small fw-normal">your .env files</span></h5>
            <p class="small text-secondary d-none d-lg-block d-md-block">Sync your secrets similarly to how you sync your code. Push and pull changes to your .env file. It works a lot like git.</p>
          </label>
        </div>

        <div class="col-4 col-lg-12">
          <input type="radio" class="btn-check" name="how-radio" id="how-radio2" autocomplete="off" value="2">
          <label class="btn btn-outline-light border-light-subtle border-2 py-3 text-start text-dark w-100 h-100 how-btn" for="how-radio2">
            <p class="mb-2"><span class="badge rounded-pill text-bg-dark">2</span></p>
            <h5 class="fw-extrabold">Manage <span class="small fw-normal">multiple env<span class="d-none d-lg-inline-block">ironment</span>s</span></h5>
            <p class="small text-secondary d-none d-lg-block d-md-block">After you've pushed your first .env file, dotenv-vault automatically sets up multiple environments for you with a robust UI to manage them.</p>
          </label>
        </div>

        <div class="col-4 col-lg-12">
          <input type="radio" class="btn-check" name="how-radio" id="how-radio3" autocomplete="off" value="3">
          <label class="btn btn-outline-light border-light-subtle border-2 py-3 text-start text-dark w-100 h-100 how-btn" for="how-radio3">
            <p class="mb-2"><span class="badge rounded-pill text-bg-dark">3</span></p>
            <h5 class="fw-extrabold">Deploy <span class="small fw-normal">with encryption</span></h5>
            <p class="small text-secondary d-none d-lg-block d-md-block">Deploy your secrets like you deploy your code. Build the encrypted .env.vault file, commit it safely to code, and deploy. There's nothing else like it.</p>
          </label>
        </div>
      </div>

    </div>

    <div class="col-lg-5 mt-2 mt-lg-0 g-0 bg-black rounded-4">
      <div class="p-0">

        <div id="step1" class="how-step d-block">
          <div class="video-container">
            <video class="object-fit-fill rounded-3" src="https://res.cloudinary.com/dotenv-org/video/upload/v1680202927/how-dotenv-vault-works-01_p8tpqs.mp4" preload autoplay muted loop playsinline poster=""></video>
          </div>
        </div>

        <div id="step2" class="how-step d-none">
          <div class="video-container">
            <video class="object-fit-fill rounded-3" src="https://res.cloudinary.com/dotenv-org/video/upload/v1680204213/how-dotenv-vault-works-02_lsexrw.mp4" preload autoplay muted loop playsinline poster=""></video>
          </div>
        </div>

        <div id="step3" class="how-step d-none">
          <div class="video-container">
            <video class="object-fit-fill rounded-3" src="https://res.cloudinary.com/dotenv-org/video/upload/v1680204213/how-dotenv-vault-works-03_ndv1aj.mp4" preload autoplay muted loop playsinline poster=""></video>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-1 col-lg-10">
      <p class="mt-3 text-center lead fw-semibold">You're steps away from fixing your secrets management problem for good.</p>
    </div>
  </div>
</div>
