<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2 class="fw-extrabold display-5 lh-1 text-center">Fix the problem in 3 easy steps</h2>
      <p class="lead fw-normal text-center"><span class="fw-bold">dotenv-vault</span> replaces setting your secrets across multiple platforms and tools with a single source of truth.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 offset-lg-1">

      <div class="row g-1">
        <div class="col-lg-12">
          <input type="radio" class="btn-check" name="how-radio" id="how-radio1" autocomplete="off" value="1" checked>
          <label class="btn btn-outline-light border-light-subtle border-2 py-3 text-start text-dark w-100 h-100 how-btn" for="how-radio1">
            <p class="mb-2"><span class="badge rounded-pill text-bg-dark">1</span></p>
            <h2 class="fw-extrabold">Sync <span class="small fw-normal">your .env files</span></h2>
            <p id="step1text" class="step-text d-block">Sync your secrets similarly to how you sync your code. Push and pull changes to your .env file. It works a lot like git.</p>
          </label>
        </div>

        <div class="col-lg-12">
          <input type="radio" class="btn-check" name="how-radio" id="how-radio2" autocomplete="off" value="2">
          <label class="btn btn-outline-light border-light-subtle border-2 py-3 text-start text-dark w-100 h-100 how-btn" for="how-radio2">
            <p class="mb-2"><span class="badge rounded-pill text-bg-dark">2</span></p>
            <h2 class="fw-extrabold">Manage <span class="small fw-normal">multiple environments</span></h2>
            <p id="step2text" class="step-text d-none">After you've pushed your first .env file, dotenv-vault automatically sets up multiple environments for you with a robust UI to manage them.</p>
          </label>
        </div>

        <div class="col-lg-12">
          <input type="radio" class="btn-check" name="how-radio" id="how-radio3" autocomplete="off" value="3">
          <label class="btn btn-outline-light border-light-subtle border-2 py-3 text-start text-dark w-100 h-100 how-btn" for="how-radio3">
            <p class="mb-2"><span class="badge rounded-pill text-bg-dark">3</span></p>
            <h2 class="fw-extrabold">Deploy <span class="small fw-normal">with encryption</span></h2>
            <p id="step3text" class="step-text d-none">Deploy your secrets like you deploy your code. Build the encrypted .env.vault file, commit it safely to code, and deploy. There's nothing else like it.</p>
          </label>
        </div>
      </div>

    </div>

    <div class="col-lg-5 mt-2 mt-lg-0">
      <div class="p-0 bg-black rounded-4">

        <div id="step1" class="how-step d-block position-relative">
          <div class="video-container">
            <video class="object-fit-fill rounded-3" src="/assets/img/landing/how-dotenv-vault-works-01.mp4" preload autoplay muted loop playsinline poster=""></video>
          </div>

          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-dark">1</span>
        </div>

        <div id="step2" class="how-step d-none position-relative">
          <div class="video-container">
            <video class="object-fit-fill rounded-3" src="/assets/img/landing/how-dotenv-vault-works-02.mp4" preload autoplay muted loop playsinline poster=""></video>
          </div>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-dark">2</span>
        </div>

        <div id="step3" class="how-step d-none position-relative">
          <div class="video-container">
            <video class="object-fit-fill rounded-3" src="/assets/img/landing/how-dotenv-vault-works-03.mp4" preload autoplay muted loop playsinline poster=""></video>
          </div>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-dark">3</span>
        </div>

      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="offset-lg-1 col-lg-10">
      <p class="mt-3 text-center lead fw-semibold">You're steps away from fixing your secrets management problem for good.</p>
    </div>
  </div>
  -->
</div>
