<div class="card bg-success-subtle rounded-4 border-0 h-100">
  <div class="card-body px-3 px-lg-4 px-xl-5 py-4">
    <!--<p class="mb-2"><span class="badge rounded-pill text-bg-dark fs-6">1</span></p>-->
    <div class="py-3 text-center text-lg-start lh-1">{% include icons/sync.html width="24" %}</div>
    <h4 class="fw-extrabold text-center text-lg-start">Sync your .env files, with a single command</h4>
    <p class="m-0 fs-5 p-0 text-center text-lg-start">
      <span class="fw-bold text-success font-monospace">$ npx dotenv-vault push</span>
    </p>
    <p class="m-0 p-0 text-center text-lg-start">
      <span class="fw-normal small text-secondary">Designed to be familiar and powerful like git</span>
    </p>
    <hr/>
    <div class="fs-5 text-start fw-semibold">
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">Secure sharing</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">.env files completely in sync</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">Manage multiple environments</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">Automatic backups</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">Full version history</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success fs-5 lh-1 me-1">✓</span> <span class="">Granular access controls</span>
      </div>
    </div>
  </div>
</div>

