<div class="row pt-5">
  <div class="col-lg-4 d-flex align-items-center order-lg-2">
    <div class="text-center m-2 mb-3">
      <img src="/assets/img/landing/multiple-environments.gif" class="rounded w-100 border">
    </div>
  </div>
  <div class="col-lg-5 offset-lg-1 d-flex align-items-center order-lg-1">
    <div>
      <p class="text-muted mb-0 mt-2">Step 2</p>
      <h2 class="fw-bold">Manage multiple environments from one location</h2>
      <p>After you've pushed your first .env file, <span class="fw-bold">dotenv-vault</span> automatically sets up multiple environments for you. This includes a robust UI to manage them.</p>
      <p><span class="lead fw-bold text-danger font-monospace">$ npx dotenv-vault open production</span></p>
      <p>This is better than maintaining your secrets somewhere like <a href="https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html">AWS Secrets</a> or <a href="https://cloud.google.com/secret-manager">GCP Secrets Manager</a> because your developers can still quickly add and change development keys without bothering DevOps. Meanwhile, DevOps can see new keys when added and proceed to set production values. No more wondering if a value has been set in production or not.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <hr/>
  </div>
</div>
<div class="row pb-5 mb-5">
  <div class="col-lg-5 offset-lg-1 opacity-50">
    <p class="text-dark fw-bold mb-1">ⓘ Can I customize my environments?</p>
    <p class="text-dark">Yes, you can customize the number and names of your environments and also select which is your 'main' development environment.</p>
  </div>
  <div class="col-lg-5 opacity-50">
    <p class="text-dark fw-bold mb-1">ⓘ What if I prefer to manage my production values from the cli?</p>
    <p class="text-dark">You can do that. In fact, a lot of our users prefer it so they can maintain their own custom DevOps flows. Run the command <span class="fw-bold">npx dotenv-vault pull production</span> to do it.</p>
  </div>
</div>

