<div class="container my-5 py-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2 class="fw-extrabold h1 lh-1 text-center">Fix your scattered secrets, in a simple way</h2>
      <p class="lead fw-normal text-center"><span class="fw-bold">dotenv-vault</span> replaces storing and setting your secrets across multiple platforms and tools with a single source of truth. <!--It builds on top of the proven dotenv standard, adding syncing and encryption to .env files.--></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-lg-6">
          {% include landing/solution_card1.html %}
        </div>
        <div class="col-lg-6">
          {% include landing/solution_card2.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-lg-6">
          <p class="text-start small fw-semibold px-2 mt-2">
            <span class="bg-warning-subtle">This is better than having to learn a new tool or stand up infrastructure just to sync and backup your secrets. If you're already using .env files you can benefit in literally a few seconds of your time. You should try it right now!</span>
          </p>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
  </div>
</div>

