<div class="row py-5">
  <div class="col-lg-5 d-flex align-items-center order-lg-2">
    <div class="card text-bg-dark w-100 shadow shadow-lg">
      <div class="card-header text-center font-monospace fw-light small">
        .env.vault
      </div>
      <div class="card-body font-monospace text-nowrap overflow-hidden">
<span class="text-secondary text-opacity-50"> 1</span> <span class="text-white">DOTENV_VAULT</span>=<span class="text-info">vlt_53711980b3b89d1b28c41c0</span>
<br/>
<span class="text-secondary text-opacity-50"> 2</span> 
<br/>
<span class="text-secondary text-opacity-50"> 3</span> <span class="text-secondary"># development</span>
<br/>
<span class="text-secondary text-opacity-50"> 4</span> <span class="text-white">DOTENV_VAULT_DEVELOPMENT</span>=<span class="text-info">"VNnb+h8XT..."</span>
<br/>
<span class="text-secondary text-opacity-50"> 5</span> <span class="text-white">DOTENV_VAULT_DEVELOPMENT_VERSION</span>=13
<br/>
<span class="text-secondary text-opacity-50"> 6</span>
<br/>
<span class="text-secondary text-opacity-50"> 7</span> <span class="text-secondary"># production</span>
<br/>
<span class="text-secondary text-opacity-50"> 8</span> <span class="text-white">DOTENV_VAULT_PRODUCTION</span>=<span class="text-info">"TLUPqIoG+gVa..."</span>
<br/>
<span class="text-secondary text-opacity-50"> 9</span> <span class="text-white">DOTENV_VAULT_PRODUCTION_VERSION</span>=17
<br/>
<span class="text-secondary text-opacity-50">10</span>
      </div>
    </div>
  </div>
  <div class="col-lg-5 offset-lg-1 order-lg-1">
    <p class="text-muted mb-0 mt-2">Step 3</p>
    <h2 class="fw-bold">Encrypt your secrets for deploy</h2>
    <p><span class="fw-bold">dotenv-vault</span> works everywhere you already deploy your code. Run the build command to generate your encrypted <span class="fw-bold">.env.vault</span> file, commit that safely to code, and deploy. There's nothing else like it.</p>
    <p><span class="lead fw-bold text-info font-monospace">$ npx dotenv-vault build</span></p>
    <p>This is better than using tools like Doppler or Infisical that increase your attack surface area by syncing your secrets to third-parties. Those tools don't prevent you from third-party risks like the <a href="https://techcrunch.com/2023/01/05/circleci-breach/">Circle CI breach</a>. <span class="fw-bold">dotenv-vault</span> does.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <hr/>
  </div>
</div>
<div class="row pb-5 mb-5">
  <div class="col-lg-5 offset-lg-1 opacity-50">
    <p class="text-dark fw-bold mb-1">ⓘ Is it safe to commit my encrypted secrets to code?</p>
    <p class="text-dark">Yes. <span class="fw-bold">AES-256 GCM encryption</span> was developed for the needs of US Government agencies like the CIA. AES-256 takes billions of years to crack using current computing technology. Your secrets are much more likely to be leaked by a third-party. This is why we are so committed to this technology while everyone else is focused on syncing secrets to third-party integrations. They are taking a terrible risk with your secrets.</p>

    <p class="text-dark fw-bold mt-3 mb-1">ⓘ How does it protect me from third-party breaches like CircleCI?</p>
    <p class="text-dark">In the CircleCI breach the attacker accessed environment variables only. They could not access codebases. To steal your encrypted <span class="fw-bold">.env.vault</span> secrets they would need both – the decryption key (stored as an environment variable), AND the codebase's encrypted <span class="fw-bold">.env.vault</span> file.</p>
  </div>
  <div class="col-lg-5 opacity-50">
    <p class="text-dark fw-bold mb-1">ⓘ Is this a new standard?</p>
    <p class="text-dark">Not officially, but our goal is towards that. We're building things in a way that a proprietary service is not necessary. As long as you can generate a <span class="fw-bold">.env.vault</span> file you can use the technology. It is open to all.</p>
    
    <p class="text-dark fw-bold mt-3 mb-1">ⓘ What languages are supported?</p>
    <p class="text-dark"><span class="fw-bold">dotenv-vault</span> works with <a href="https://github.com/dotenv-org/dotenv-vault-core">node</a>, <a href="https://github.com/dotenv-org/dotenv-vault-ruby">ruby</a>, <a href="https://github.com/dotenv-org/python-dotenv-vault">python</a>, and <a href="https://github.com/dotenv-org/phpdotenv-vault">php</a> so far. If you like the <span class="fw-bold">.env.vault</span> concept and know a language well, consider creating the library for it in that language. It could be used by millions of developers someday!</p>

    <p class="text-dark fw-bold mt-3 mb-1">ⓘ Will <a class="text-dark" href="https://github.com/motdotla/dotenv">dotenv</a> get first class support for decrypting <span class="fw-bold">.env.vault</span> files?</p>
    <p class="text-dark">Yes, eventually. For now, we are still working through the rough spots of the technology and developer experience. Our docs instruct you to use <a href="https://github.com/dotenv-org/dotenv-vault-core">dotenv-vault-core</a> until then.</p>
  </div>
</div>
