<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <!--<h2 class="fw-bold display-5 lh-1 text-center">Solve Your Secrets. In just 3 steps.</h2>-->
      <h2 class="fw-bold display-5 lh-1 text-center"><span class="fw-extrabold">dotenv-vault</span> is the solution you've been looking for</h2>

      <p class="text-center"><span class="fw-bold">dotenv-vault</span> replaces storing and setting your secrets across multiple platforms and tools with a single source of truth. It builds on top of the proven dotenv standard, adding syncing and encryption to .env files.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 offset-lg-1">
      <div class="row g-2">

        <!--
        <div class="col-4 col-lg-12">
          <div class="d-grid g-0">
            <button class="btn btn-outline-light border-light-subtle border-2 py-3 text-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <p><span class="badge rounded-pill text-bg-dark">1</span></p>
              <h5 class="fw-extrabold">Load <span class="fw-normal">your secrets</span></h5>
              <p class="">Load your secrets like you always have with dotenv. dotenv-vault works on top of what you already know and trust.</p>
            </button>
          </div>
        </div>

        <div class="col-4 col-lg-12">
          <div class="d-grid g-0">
            <button class="btn btn-outline-light border-light-subtle border-2 py-3 text-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <p><span class="badge rounded-pill text-bg-dark">2</span></p>
              <h5 class="fw-extrabold">Sync <span class="fw-normal">your secrets</span></h5>
              <p class="">Run <code>npx dotenv-vault push</code> to push changes to your .env file and <code>npx dotenv-vault pull</code> to pull changes. It works a lot like git.</p>
            </button>
          </div>
        </div>

        <div class="col-4 col-lg-12">
          <div class="d-grid g-0">
            <button class="btn btn-outline-light border-light-subtle border-2 py-3 text-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <p><span class="badge rounded-pill text-bg-dark">3</span></p>
              <h5 class="fw-extrabold">Deploy <span class="fw-normal">your secrets</span></h5>
              <p class="">Run <code>npx dotenv-vault push</code> to push changes to your .env file and <code>npx dotenv-vault pull</code> to pull changes. It works a lot like git.</p>
            </button>
          </div>
        </div>
        -->

        <div class="col-4 col-lg-12">
          <div class="d-grid g-0">
            <button class="btn btn-outline-light border-light-subtle border-2 py-3 text-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <p class="mb-2"><span class="badge rounded-pill text-bg-dark">1</span></p>
              <h5 class="fw-extrabold">Sync <span class="small fw-normal">your .env files</span></h5>
              <p class="small text-secondary d-none d-lg-block d-md-block">Sync your secrets similarly to how you sync your code. Push and pull changes to your .env file. It works a lot like git.</p>
            </button>
          </div>
        </div>

        <div class="col-4 col-lg-12">
          <div class="d-grid g-0">
            <button class="btn btn-outline-light border-light-subtle border-2 py-3 text-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <p class="mb-2"><span class="badge rounded-pill text-bg-dark">2</span></p>
              <h5 class="fw-extrabold">Manage <span class="small fw-normal">multiple env<span class="d-none d-lg-inline-block">ironment</span>s</span></h5>
              <p class="small text-secondary d-none d-lg-block d-md-block">After you've pushed your first .env file, dotenv-vault automatically sets up multiple environments for you with a robust UI to manage them.</p>
            </button>
          </div>
        </div>

        <div class="col-4 col-lg-12">
          <div class="d-grid g-0">
            <button class="btn btn-outline-light border-light-subtle border-2 py-3 text-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <p class="mb-2"><span class="badge rounded-pill text-bg-dark">3</span></p>
              <h5 class="fw-extrabold">Deploy <span class="small fw-normal">with encryption</span></h5>
              <p class="small text-secondary d-none d-lg-block d-md-block">Deploy your secrets like you deploy your code. Build the encrypted .env.vault file, commit it safely to code, and deploy. There's nothing else like it.</p>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 mt-2 mt-lg-0">

      <div class="h-100 bg-light rounded-4 p-4" id="accordionExample">

        <div id="collapseOne" class="collapse show" data-bs-parent="#accordionExample">
          <div class="">
            <p class="mt-3 lead text-center fw-bold"><span class="text-success font-monospace">$ npx dotenv-vault push</span></p>

            <div class="card text-bg-light w-100 shadow mb-3">
              <div class="card-header small text-center font-monospace">
                Terminal
              </div>
              <div class="card-body font-monospace lead">
                <span class="text-secondary">$ cd ./your-project</span>
                <br/>
                <span class="text-secondary">$ npx dotenv-vault new</span>
                <br/>
                <span class="fw-semibold">$ npx dotenv-vault push</span>
                <br/>
                <span class="text-secondary">$ npx dotenv-vault pull</span>
              </div>
            </div>

          </div>
        </div>

        <div id="collapseTwo" class="collapse" data-bs-parent="#accordionExample">
          <div class="">
            <p class="mt-3 text-center"><span class="lead fw-bold text-danger font-monospace">$ npx dotenv-vault open production</span></p>

            <div class="text-center m-2 mb-3">
              <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1666569664/multiple-environments_gi3o9t.gif" class="rounded w-100 border">
            </div>
          </div>
        </div>

        <div id="collapseThree" class="collapse" data-bs-parent="#accordionExample">
          <div class="">

    <p class="mt-3 text-center"><span class="lead fw-bold text-info font-monospace">$ npx dotenv-vault build</span></p>

    <div class="card text-bg-dark w-100 shadow shadow-lg">
      <div class="card-header text-center font-monospace fw-light small">
        .env.vault
      </div>
      <div class="card-body font-monospace text-nowrap overflow-hidden">
<span class="text-secondary text-opacity-50"> 1</span> <span class="text-white">DOTENV_VAULT</span>=<span class="text-info">vlt_53711980b3b89d1b28c41c0</span>
<br/>
<span class="text-secondary text-opacity-50"> 2</span> 
<br/>
<span class="text-secondary text-opacity-50"> 3</span> <span class="text-secondary"># development</span>
<br/>
<span class="text-secondary text-opacity-50"> 4</span> <span class="text-white">DOTENV_VAULT_DEVELOPMENT</span>=<span class="text-info">"VNnb+h8XT..."</span>
<br/>
<span class="text-secondary text-opacity-50"> 5</span> <span class="text-white">DOTENV_VAULT_DEVELOPMENT_VERSION</span>=13
<br/>
<span class="text-secondary text-opacity-50"> 6</span>
<br/>
<span class="text-secondary text-opacity-50"> 7</span> <span class="text-secondary"># production</span>
<br/>
<span class="text-secondary text-opacity-50"> 8</span> <span class="text-white">DOTENV_VAULT_PRODUCTION</span>=<span class="text-info">"TLUPqIoG+gVa..."</span>
<br/>
<span class="text-secondary text-opacity-50"> 9</span> <span class="text-white">DOTENV_VAULT_PRODUCTION_VERSION</span>=17
<br/>
<span class="text-secondary text-opacity-50">10</span>
      </div>
    </div>

          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="offset-lg-1 col-lg-10">
      <p class="mt-3 text-center lead fw-semibold">You're steps away from fixing your secrets management problem for good.</p>
    </div>
  </div>
</div>
