<div class="container-xxl text-center mb-5 pb-5">
  <div class="row mb-lg-2">
    <div class="col-lg-12">
      <h2 class="display-6 fw-bold lh-1">The #1 secrets manager built on dotenv</h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-12">
      <p class="small pb-0">Trusted by thousands of dev teams worlwide</p>
    </div>
  </div>
  <div class="row mb-lg-4">
    <div class="col-lg-1"></div>
    <div class="col-6 col-lg-auto text-center pb-4 pb-lg-1 d-flex align-items-center justify-content-center">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680065417/ticket-master-trust_aposea.png" width="120">
    </div>
    <div class="col-6 col-lg-auto text-center pb-4 pb-lg-1 d-flex align-items-center justify-content-center">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680065417/happymoney-trust_pjmgu3.png" width="130">
    </div>
    <div class="col-6 col-lg-auto text-center pb-4 pb-lg-1 d-flex align-items-center justify-content-center">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680065417/hackclub-trust_huh5ny.png" width="100">
    </div>
    <div class="col-6 col-lg-auto text-center pb-4 pb-lg-1 d-flex align-items-center justify-content-center">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680066309/zengaming-trust_mztftp.png" width="100">
    </div>
    <div class="col-6 col-lg-auto text-center pb-5 pb-lg-1 d-flex align-items-center justify-content-center">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680065417/honeylove-trust_phypvu.png" width="120">
    </div>
    <div class="col-6 col-lg-auto text-center pb-5 pb-lg-1 d-flex align-items-center justify-content-center">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680065417/firstvet-trust_ge6g0s.png" width="100">
    </div>
    <div class="col-6 col-lg-auto text-center pb-5 pb-lg-1 d-flex align-items-center justify-content-center">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680065416/jdpower-trust_g9uuva.png" width="100">
    </div>
    <div class="col-6 col-lg-auto text-center pb-5 pb-lg-1 d-flex align-items-center justify-content-center">
      <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1680065417/spectrum-trust_qt0lqp.png" width="100">
    </div>
    <div class="col-lg-1"></div>
  </div>
  <!--
  <div class="row">
    <div class="col-lg-12">
      reserved for future product hunt quote
    </div>
  </div>
  -->
</div>
