<div class="container-xxl text-center">
  <div class="row mb-lg-2">
    <div class="col-lg-12">
      <h2 class="display-5 fw-extrabold">The #1 secrets manager for .env files</h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-12">
      <p class="small pb-0">Trusted by thousands of dev teams worldwide</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-10 offset-lg-1">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-3">
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/ticket-master-trust.png" width="120">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/happymoney-trust.png" width="130">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/hackclub-trust.png" width="100">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/zengaming-trust.png" width="100">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/honeylove-trust.png" width="120">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/firstvet-trust.png" width="100">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/jdpower-trust.png" width="100">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/mooncard-trust.png" width="100">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/vio-trust.png" width="100">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/heydata-trust.png" width="100">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/lead-trust.png" width="100">
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          <img src="/assets/img/landing/spectrum-trust.png" width="100">
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="col-lg-12">
      reserved for future producthunt quote
    </div>
  </div>
  -->
</div>
