<div class="container-xxl text-center">
  <div class="row mb-lg-2">
    <div class="col-lg-12">
      <h2 class="display-5 fw-extrabold">The #1 secrets manager for .env files</h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-12">
      <p class="small pb-0">Trusted by thousands of dev teams worldwide</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-10 offset-lg-1">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 g-3">
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/ticket-master-trust.png alt: "Ticketmaster + Dotenv" width: "121" height: "18" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/happymoney-trust.png alt: "Happymoney + Dotenv" width: "130" height: "20" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/hackclub-trust.png alt: "Hackclub + Dotenv" width: "100" height: "35" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/zengaming-trust.png alt: "Zengaming + Dotenv" width: "100" height: "57" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/honeylove-trust.png alt: "Honeylove + Dotenv" width: "120" height: "13" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/firstvet-trust.png alt: "Firstvet + Dotenv" width: "120" height: "30" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/jdpower-trust.png alt: "J.D. Power + Dotenv" width: "100" height: "15" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/mooncard-trust.png alt: "Mooncard + Dotenv" width: "100" height: "16" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/vio-trust.png alt: "Vio + Dotenv" width: "100" height: "21" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/heydata-trust.png alt: "Hey Data + Dotenv" width: "100" height: "26" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/lead-trust.png alt: "LEAD + Dotenv" width: "100" height: "53" %}
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="height: 50px;">
          {% responsive_image path: assets/img/landing/spectrum-trust.png alt: "Spectrum + Dotenv" width: "100" height: "27" %}
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="col-lg-12">
      reserved for future producthunt quote
    </div>
  </div>
  -->
</div>
