<div class="border-top border-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode" class="">
          <img src="/assets-www/img/landing/dotenv-vscode.png" class="w-100">
        </a>
      </div>
      <div class="col-lg-5 d-flex align-items-center">
        <div>
          <h4 class="text-dark mt-1 mb-3">Not ready for dotenv-vault? Don't leave empty handed. Try the <span class="fw-bold">dotenv-vscode</span> extension.</h4>

          <div>
            <a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode" class="btn btn-secondary mb-1">Install <span class="fw-bold">dotenv-vscode</span> extension</a> <a class="btn btn-link text-secondary" href="https://github.com/dotenv-org/dotenv-vscode">source code</a>
          </div>

          <ul class="text-secondary mt-2">
            <li>Syntax highlighting</li>
            <li>Auto-cloacking</li>
            <li>Auto-completion</li>
            <li>In-code secret peaking</li>
            <li>100% free and opensource</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
