<!--<div style="background: #3B004C;">-->
<div class="bg-light border border-top border-bottom">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-6 d-flex align-items-center">
        <a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode" class="">
          <img src="https://res.cloudinary.com/dotenv-org/image/upload/v1679527751/dotenv-vscode_ilezvb.png" class="border border-dark-subtle w-100 rounded">
        </a>
      </div>
      <div class="col-lg-5 d-flex align-items-center">
        <div>
          <h3 class="text-dark mb-4">Not ready for <span class="fw-bold">dotenv-vault</span> but don't want to leave empty handed?</h3>

          <div>
            <a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode" class="btn btn-lg btn-primary mb-1">Install <span class="fw-bold">dotenv-vscode</span> extension</a> <a class="btn btn-link" href="https://github.com/dotenv-org/dotenv-vscode">source code</a>
          </div>

          <div class="text-secondary">
            <hr>
          </div>

          <ul class="text-secondary">
            <li>Syntax highlighting</li>
            <li>Auto-cloacking</li>
            <li>Auto-completion</li>
            <li>In-code secret peaking</li>
            <li>100% free and opensource</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
