<div class="container pb-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
      <div>
        <h2 class="display-6 fw-bold lh-sm mb-3">These teams are saying goodbye to scattered secrets, when will you?</h2>
        <p class="lead">✅ Sync your first .env file</p>
        <p class="lead">✅ Set a production value in the UI</p>
        <p class="lead">✅ Deploy your encrypted <span class="fw-bold">.env.vault</span> for the first time</p>

        <p class="mt-4">
          <a href="/security" class="btn btn-lg btn-dark shadow shadow-lg">See how <span class="fw-bold">dotenv-vault</span> works</a>
          <br/>
          <a href="/signup" class="btn btn-link">
            or sign up right now
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
