<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2 class="text-center h1 fw-extrabold">Works without having to change your development or deployment processes</h2>
      <p class="lead fw-normal text-center"><span class="fw-bold">dotenv-vault</span> works everywhere – without third-party integrations and without having to change your development or deployment processes. That's better than any solution on the market.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <div class="p-3 d-inline-block">
      {% include icons/vercel.html width="60" color="#000000" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/heroku.html width="60" color="#430098" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/github.html width="60" color="#181717" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/gitlab.html width="60" color="#FC6D26" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/netlify.html width="60" color="#00C7B7" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/docker.html width="60" color="#2496ED" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/circleci.html width="60" color="#343434" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/serverless.html width="60" color="#FD5750" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/railway.html width="60" color="#0B0D0E" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/render.html width="60" color="#46E3B7" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/travis-ci.html width="60" color="#3EAAAF" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/google-cloud.html width="60" color="#4285F4" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/fly.html width="60" color="#7B3BE2" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/northflank.html width="60" color="#01E3C5" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/buddy.html width="60" color="#1A86FD" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/cloud66.html width="60" color="#3C72B9" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/digital-ocean.html width="60" color="#0080FF" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/dagger.html width="60" color="#343434" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/bitbucket.html width="60" color="#0052CC" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/supabase.html width="60" color="#3ECF8E" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/pulumi.html width="60" color="#8A3391" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/aws.html width="60" color="#232F3E" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/aws-lambda.html width="60" color="#FF9900" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/gatsby.html width="60" color="#663399" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/jenkins.html width="60" color="#D24939" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/openai.html width="60" color="#412991" %}
      </div>
      <div class="p-3 d-inline-block">
      {% include icons/slack.html width="60" color="#4A154B" %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <p class="text-center mt-2">
        <a class="fs-5 link-offset-3" href="/docs/integrations">See integration guides in the docs</a>
      </p>
    </div>
  </div>
</div>
