<div class="container">
  <div class="row mb-5 pb-5">
    <div class="col col-lg-8 offset-lg-2">

<div class="card">
  <div class="card-header p-0 border-bottom-0">
    <ul class="nav nav-tabs nav-fill card-header-tabs m-0" id="list-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link link-dark text-center rounded-end-0 border-0 active" id="list-homebrew-list" data-bs-toggle="list" href="#list-homebrew" role="tab" aria-controls="list-homebrew">
          {% include icons/apple.html width="30" %}
          <div class="d-block pt-2">Mac OS</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-dark text-center rounded-0 border-0" id="list-windows-list" data-bs-toggle="list" href="#list-windows" role="tab" aria-controls="list-windows">
          {% include icons/windows.html width="30" %}
          <div class="d-block pt-2">Windows</div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-dark text-center rounded-start-0 border-0" id="list-nodejs-list" data-bs-toggle="list" href="#list-nodejs" role="tab" aria-controls="list-nodejs">
          {% include icons/nodejs.html width="30" %}
          <div class="d-block pt-2">NodeJS</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body p-lg-4">
    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane show active" id="list-homebrew" role="tabpanel" aria-labelledby="list-homebrew-list">

        <p>Install dotenv-vault via Homebrew</p>

        <div class="input-group mb-3">
          <span class="input-group-text fs-6 text-success pe-0 font-monospace">$</span>
          <input id="homebrew-cmd" type="text" class="border-start-0 ps-2 form-control form-control-lg bg-light font-monospace fs-6" value="brew install dotenv-org/brew/dotenv-vault">
          <button class="btn btn-light border ms-2 clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#homebrew-cmd">
            {% include icons/clipboard.html width="20" %}
          </button>
        </div>
      </div>

      <div class="tab-pane show" id="list-windows" role="tabpanel" aria-labelledby="list-windows-list">
        <p class="text-center">Download the appropriate installer for your Windows installation.</p>

        <div class="row mb-3">
          <div class="col">
            <div class="d-grid">
              <a href="https://dotenv-vault-assets.dotenv.org/channels/stable/dotenv-vault-x86.exe" class="btn btn-info btn-lg">
                <span class="fw-semibold">32-bit installer</span>
              </a>
            </div>
          </div>

          <div class="col">
            <div class="d-grid">
              <a href="https://dotenv-vault-assets.dotenv.org/channels/stable/dotenv-vault-x64.exe" class="btn btn-info btn-lg">
                <span class="fw-semibold">64-bit installer</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="list-nodejs" role="tabpanel" aria-labelledby="list-nodejs-list">
        <p>Install dotenv-vault via npx</p>

        <div class="input-group mb-3">
          <span class="input-group-text fs-6 text-success pe-0 font-monospace">$</span>
          <input id="nodejs-cmd" type="text" class="border-start-0 ps-2 form-control form-control-lg bg-light font-monospace fs-6" value="npx dotenv-vault">
          <button class="btn btn-light border ms-2 clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#nodejs-cmd">
            {% include icons/clipboard.html width="20" %}
          </button>
        </div>

      </div>

    </div>
  </div>
</div>

    </div>
  </div>
</div>


