<div class="container">
  <div class="row">
    <div class="col col-lg-8 offset-lg-2">

<div class="card">
  <div class="card-body p-lg-4">
    <div class="text-center">
      {% include icons/npm2.html width="100" %}
    </div>

    <p class="text-center">The easiest (and recommended) way to use dotenv-vault is via <a href="https://docs.npmjs.com/cli/v7/commands/npx">npx</a>.</p>

    <div class="input-group mb-3">
      <span class="input-group-text fs-6 text-success pe-0 font-monospace">$</span>
      <input id="npm-cmd-1" type="text" class="border-start-0 ps-2 form-control form-control-lg bg-light font-monospace fs-6" value="npx dotenv-vault@latest new">
      <button class="btn btn-light border ms-2 clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#npm-cmd-1">
        {% include icons/clipboard.html width="20" %}
      </button>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text fs-6 text-success pe-0 font-monospace">$</span>
      <input id="npm-cmd-2" type="text" class="border-start-0 ps-2 form-control form-control-lg bg-light font-monospace fs-6" value="npx dotenv-vault@latest push">
      <button class="btn btn-light border ms-2 clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#npm-cmd-2">
        {% include icons/clipboard.html width="20" %}
      </button>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text fs-6 text-success pe-0 font-monospace">$</span>
      <input id="npm-cmd-3" type="text" class="border-start-0 ps-2 form-control form-control-lg bg-light font-monospace fs-6" value="npx dotenv-vault@latest pull">
      <button class="btn btn-light border ms-2 clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#npm-cmd-3">
        {% include icons/clipboard.html width="20" %}
      </button>
    </div>
  </div>
</div>

      <p class="mt-2 mb-4">npx makes it easy to use CLI tools, but it requires NodeJS and npm. See below for other ways to install <a href="https://github.com/dotenv-org/dotenv-vault">dotenv-vault</a>.</p>

    </div>
  </div>
</div>


