<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  {% include layouts/blog_meta.html %}
  {% include layouts/blog_css.html %}
  {% include layouts/analytics.html %}
</head>
<body>
  <div class="container">
    {% include layouts/blog_header.html %}

    <p class="blog-date">
      {{ page.date | date: "%b %d, %Y" }}
    </p>
    <h1 class="blog-title">
      {{ page.title }}
    </h1>
    <img src="{{ page.image }}" alt="{{ page.title }}">

    {{ content }}
  </div>
</body>
</html>
