<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include layouts/meta.html %}
    {% include layouts/analytics.html %}
    {% include layouts/github_button.html %}
  </head>
  <body class="bg-body-tertiary {{ page.background }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          {% include layouts/nav.html %}
          {{ content }}
          {% include layouts/footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
