<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include layouts/meta.html %}
    {% include layouts/analytics.html %}
  </head>
  <body>
    {% include layouts/nav.html %}

    <article markdown="1" class="docs">
      <div class="flex">
        <div class="flex-1">
          {% include layouts/docs_nav.html %}
        </div>
        <div class="flex-2 docs-content">
          {{ content }}
        </div>
      </div>
    </article>

    {% include layouts/footer.html %}
  </body>
</html>
