<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include layouts/meta.html %}
    {% include layouts/analytics.html %}
    {% include layouts/github_button.html %}
  </head>
  <body class="">
    {% include layouts/nav.html %}

    <div class="container">
      <div class="row">
        <div class="col col-lg-10 offset-lg-1">
          <div class="container my-5">
            <div class="row">
              <div class="col-lg-8 offset-lg-2 p-3">
                {{ content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include layouts/footer.html %}
    {% include layouts/js.html %}
  </body>
</html>
