<style>
  * {
    box-sizing: border-box;
  }

  html {
    color-scheme: light dark;
  }

  body {
    font: 17px/1.5 system-ui, sans-serif;
    margin: 10vh;
    background: Canvas;
  }

  .container {
    max-width: 66ch;
  }

  a,
  a:visited {
    color: CanvasText
  }

  a:hover {
    color: deepskyblue;
  }

  a.no-underline {
    text-decoration: none;
  }

  a.logo {
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
  }

  a.logo svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    border-left: 2px solid;
    padding: .5rem 1rem;
    margin: 2rem 0;
  }

  code {
    color: #18181b;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 0.8em;
  }

  pre {
    background: #18181b;
    border-radius: .3rem;
    margin: .5rem 0;
    padding: 0.8rem;
    overflow: auto;
  }

  pre>code {
    color: #fbfbfb;
    background: none;
    border: none;
    padding: 0;
  }

  :not(pre)>code {
    background: #f6f8fa;
    padding: .25rem .5rem;
    border-radius: .5rem;
  }

  ul li, ol li {
    margin-top: 0.5rem;
  }

  .header {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 4rem;
  }
  
  .entrylist {
    list-style-type: none;
    padding-left: 0;
    color: GrayText
  }

  .entrylist li:not(:last-child) {
    margin-bottom: .5rem
  }

  .blog-date {
    margin-bottom: 0rem;
  }

  .blog-title {
    margin-top: 0rem;
  }

  @media screen and (max-width: 768px) {
    body {
      margin: 1rem
    }
  }
</style>
