<nav>
  <p><a href="/docs">Documentation</a></p>

  <h6>Getting Started</h6>
  <ul>
    <li><a href="/docs/tutorials/sync">Sync .env files</a></li>
    <li><a href="/docs/tutorials/environments">Managing Environments</a></li>
    <li><a href="/docs/tutorials/integrations">Integrate Everywhere™</a></li>
  </ul>
  <hr/>

  <h6>Basics</h6>
  <ul>
    <li><a href="/docs/tutorials/teammates">Adding Teammates</a></li>
    <li><a href="/docs/tutorials/access">Managing Access</a></li>
  </ul>
  <hr/>

  <h6>Security</h6>
  <ul>
    <li><a href="/docs/security">Overview</a></li>
    <li><a href="/docs/security/env">.env</a></li>
    <li><a href="/docs/security/env-vault">.env.vault</a></li>
    <li><a href="/docs/security/env-me">.env.me</a></li>
    <li><a href="/docs/security/env-it">IT tokens</a></li>
    <li><a href="/docs/security/vault">Vault</a></li>
    <li><a href="/docs/security/dotenv-key">DOTENV_KEY</a></li>
  </ul>
  <hr/>

  <h6>Tools</h6>
  <ul>
    <li><a href="https://github.com/dotenv-org/dotenv-vault">dotenv-vault CLI</a></li>
    <li><a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode">Dotenv for VSCode</a></li>
  </ul>
  <hr/>

  <h6>CLI <a href="https://github.com/dotenv-org/dotenv-vault" class="font-weight-normal" style="font-size: 80%;">dotenv-vault</a></h6>
  <ul>
    <li><a href="/docs/dotenv-vault/new">new</a></li>
    <li><a href="/docs/dotenv-vault/login">login</a></li>
    <li><a href="/docs/dotenv-vault/logout">logout</a></li>
    <li><a href="/docs/dotenv-vault/open">open</a></li>
    <li><a href="/docs/dotenv-vault/push">push</a></li>
    <li><a href="/docs/dotenv-vault/pull">pull</a></li>
    <li><a href="/docs/dotenv-vault/build">build</a></li>
    <li><a href="/docs/dotenv-vault/keys">keys</a></li>
    <li><a href="/docs/dotenv-vault/rotatekey">rotatekey</a></li>
    <li><a href="/docs/dotenv-vault/versions">versions</a></li>
    <li><a href="/docs/dotenv-vault/whoami">whoami</a></li>
    <li><a href="/docs/dotenv-vault/status">status</a></li>
    <li><a href="/docs/dotenv-vault/help">help</a></li>
  </ul>
  <hr/>
  <h6>Integrations</h6>
  <ul>
    <li>
      {% include layouts/docs_nav_title_grid.html name="AWS Beanstalk" icon="aws" color="#2A6A35" %}
    </li>
    <li><a href="/docs/integrations/aws-beanstalk/express">Express</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Bitbucket" icon="bitbucket" color="#0052CC" %}
    </li>
    <li><a href="/docs/integrations/bitbucket/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Buddy" icon="buddy" color="#1A86FD" %}
    </li>
    <li><a href="/docs/integrations/buddy/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Circle CI" icon="circleci" color="#343434" %}
    </li>
    <li><a href="/docs/integrations/circleci/rails">Rails</a></li>
    <li><a href="/docs/integrations/circleci/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Cloud66" icon="cloud66" color="#3C72B9" %}
    </li>
    <li><a href="/docs/integrations/cloud66/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Dagger" icon="dagger" color="#343434" %}
    </li>
    <li><a href="/docs/integrations/dagger/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Digital Ocean" icon="digital-ocean" color="#0080FF" %}
    </li>
    <li><a href="/docs/integrations/digital-ocean/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Docker" icon="docker" color="#2496ED" %}
    </li>
    <li><a href="/docs/integrations/docker/express">Express</a></li>
    <li><a href="/docs/integrations/docker/rails">Rails</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Docker Compose" icon="docker" color="#2496ED" %}
    </li>
    <li><a href="/docs/integrations/docker-compose/express">Express</a></li>
    <li><a href="/docs/integrations/docker-compose/rails">Rails</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Fly.io" icon="fly" color="#7b3BE2" %}
    </li>
    <li><a href="/docs/integrations/fly/express">Express</a></li>
    <li><a href="/docs/integrations/fly/rails">Rails</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="GitHub Actions" icon="github" color="#181717" %}
    </li>
    <li><a href="/docs/integrations/github-actions/nextjs">NextJS</a></li>
    <li><a href="/docs/integrations/github-actions/nodejs">Node.js</a></li>
    <li><a href="/docs/integrations/github-actions/remix">Remix</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="GitLab CI/CD" icon="gitlab" color="#FC6D26" %}
    </li>
    <li><a href="/docs/integrations/gitlab/ci-quickstart">Quickstart</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Google Cloud" icon="google-cloud" color="#4285F4" %}
    </li>
    <li><a href="/docs/integrations/google-cloud/express">Express</a></li>
    <li><a href="/docs/integrations/google-cloud/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Heroku" icon="heroku" color="#430098" %}
    </li>
    <li><a href="/docs/integrations/heroku/express">Express</a></li>
    <li><a href="/docs/integrations/heroku/flask">Flask</a></li>
    <li><a href="/docs/integrations/heroku/nodejs">Node.js</a></li>
    <li><a href="/docs/integrations/heroku/rails">Rails</a></li>
    <li><a href="/docs/integrations/heroku/sinatra">Sinatra</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Netlify" icon="netlify" color="#00C7B7" %}
    </li>
    <li><a href="/docs/integrations/netlify/astro">Astro</a></li>
    <li><a href="/docs/integrations/netlify/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Northflank" icon="northflank" color="#01E3C5" %}
    </li>
    <li><a href="/docs/integrations/northflank/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Pulumi" icon="pulumi" color="#8A3391" %}
    </li>
    <li><a href="/docs/integrations/pulumi/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Railway" icon="railway" color="#0B0D0E" %}
    </li>
    <li><a href="/docs/integrations/railway/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Render" icon="render" color="#46E3B7" %}
    </li>
    <li><a href="/docs/integrations/render/express">Express</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Serverless" icon="serverless" color="#FD5750" %}
    </li>
    <li><a href="/docs/integrations/serverless/express">Express</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Supabase" icon="supabase" color="#3ECF8E" %}
    </li>
    <li><a href="/docs/integrations/supabase/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Travis CI" icon="travis-ci" color="#3EAAAF" %}
    </li>
    <li><a href="/docs/integrations/travis-ci/nodejs">Node.js</a></li>
    <li>
      {% include layouts/docs_nav_title_grid.html name="Vercel" icon="vercel" color="#000000" %}
    </li>
    <li><a href="/docs/integrations/vercel/angular">Angular</a></li>
    <li><a href="/docs/integrations/vercel/express">Express</a></li>
    <li><a href="/docs/integrations/vercel/nextjs">Next.js</a></li>
    <li><a href="/docs/integrations/vercel/nuxtjs">Nuxt.js</a></li>
    <li><a href="/docs/integrations/vercel/nodejs">Node.js</a></li>
    <li><a href="/docs/integrations/vercel/pnpm">Pnpm</a></li>
    <li><a href="/docs/integrations/vercel/rails">Rails</a></li>
    <li><a href="/docs/integrations/vercel/remix">Remix</a></li>
    <li><a href="/docs/integrations/vercel/vite">Vite</a></li>
  </ul>
</nav>
