<nav>
  <p><a href="/docs">Documentation</a></p>

  <h6>Getting Started</h6>
  <ul>
    <li><a href="/docs/tutorials/sync">Syncing .env files</a></li>
    <li><a href="/docs/tutorials/environments">Managing Environments</a></li>
    <li><a href="/docs/tutorials/deploy">Deploying</a></li>
  </ul>
  <hr/>
  <h6>Basics</h6>
  <ul>
    <li><a href="/docs/tutorials/teammates">Adding Teammates</a></li>
    <li><a href="/docs/tutorials/access">Managing Access</a></li>
  </ul>

  <hr/>
  <h6>Security</h6>
  <ul>
    <li><a href="/docs/security">Overview</a></li>
    <li><a href="/docs/security/env">.env</a></li>
    <li><a href="/docs/security/env-vault">.env.vault</a></li>
    <li><a href="/docs/security/env-me">.env.me</a></li>
    <li><a href="/docs/security/env-it">IT tokens</a></li>
    <li><a href="/docs/security/vault">Vault</a></li>
  </ul>
  <hr/>
  <h6>CLI <a href="https://github.com/dotenv-org/dotenv-vault" class="font-weight-normal" style="font-size: 80%;">dotenv-vault</a></h6>
  <ul>
    <li><a href="/docs/dotenv-vault/new">new</a></li>
    <li><a href="/docs/dotenv-vault/login">login</a></li>
    <li><a href="/docs/dotenv-vault/logout">logout</a></li>
    <li><a href="/docs/dotenv-vault/open">open</a></li>
    <li><a href="/docs/dotenv-vault/push">push</a></li>
    <li><a href="/docs/dotenv-vault/pull">pull</a></li>
    <li><a href="/docs/dotenv-vault/build">build</a></li>
    <li><a href="/docs/dotenv-vault/keys">keys</a></li>
    <li><a href="/docs/dotenv-vault/versions">versions</a></li>
    <li><a href="/docs/dotenv-vault/whoami">whoami</a></li>
    <li><a href="/docs/dotenv-vault/status">status</a></li>
    <li><a href="/docs/dotenv-vault/help">help</a></li>
  </ul>
  <hr/>
  <h6>Integrations</h6>
  <ul>
    <li class="mt-04">Docker</li>
    <li><a href="/docs/integrations/docker-express">Express</a></li>
    <li><a href="/docs/integrations/docker-rails">Rails</a></li>
    <li class="mt-04">Docker Compose</li>
    <li><a href="/docs/integrations/docker-compose-express">Express</a></li>
    <li><a href="/docs/integrations/docker-compose-rails">Rails</a></li>
    <li class="mt-04">Fly.io</li>
    <li><a href="/docs/integrations/fly-express">Express</a></li>
    <li><a href="/docs/integrations/fly-rails">Rails</a></li>
    <li class="mt-04">GitHub Actions</li>
    <!-- github actions getting started https://docs.github.com/en/actions/quickstart -->
    <li><a href="/docs/integrations/github-actions-nextjs">NextJS</a></li>
    <li><a href="/docs/integrations/github-actions-remix">Remix</a></li>
    <li class="mt-04">Netlify</li>
    <li><a href="/docs/integrations/netlify-astro">Astro</a></li>
    <li class="mt-04">Heroku</li>
    <li><a href="/docs/integrations/heroku-rails">Rails</a></li>
   
    <li class="mt-04">Railway</li>
    <!-- build on railway getting started https://docs.railway.app/getting-started -->
    <!--<li><a href="/docs/integrations/railway-rails">Rails</a></li>-->
    <li><a href="/docs/integrations/railway-nodejs">Node.js</a></li>
    <li class="mt-04">Vercel</li>
    <li><a href="/docs/integrations/vercel-express">Express</a></li>
    <li><a href="/docs/integrations/vercel-nextjs">NextJS</a></li>
    <li><a href="/docs/integrations/vercel-nodejs">Node.js</a></li>
    <li><a href="/docs/integrations/vercel-remix">Remix</a></li>
  </ul>

</nav>
