
<hr class="pb-5 mt-5"/>

<footer>
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://twitter.com/dotenvorg" class="text-black">
              {% include icons/twitter.html width="18" %}
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/dotenv-org" class="text-black">
              {% include icons/github.html width="18" %}
            </a>
          </li>
          <li class="list-inline-item"><a href="/changelog">Changelog</a></li>
          <li class="list-inline-item"><a href="/support">Help &amp; Support</a></li>
          <li class="list-inline-item"><a href="/integrations">Integrations</a></li>
          <li class="list-inline-item"><a href="https://status.dotenv.org">Status</a></li>
          <li class="list-inline-item"><a href="https://health.dotenv.org">Health</a></li>
          <li class="list-inline-item"><a href="/legal">Legal</a></li>
        </ul>

      </div>
      <div class="col col-auto">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/" class="text-secondary text-decoration-none">&copy; Dotenv</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<p class="small mb-3 mt-4 text-center text-secondary"><small><a href="https://github.com/dotenv-org/www" class="text-decoration-none text-secondary">Updated {{ site.time | date: "%A (%b %d)" }}</a></small></p>
