<footer class="py-4 border-top">
  <div class="container-xl">
    <div class="row pt-4">
      <div class="col-lg-5 col-12 order-4 order-md-1 mt-3 mt-md-0 mt-lg-0">
        <h5 class="fw-bold">Have a question?</h5>
        <p class="fw-light">For pre-sales questions, existing customers who need help, or other questions, <a href="mailto:support@dotenv.org" class="fw-semibold">contact us</a> and we'll get back to you, usually within one hour.</p>
        <div class="alert alert-warning fw-semibold p-3 text-center mt-3">
          <p class="m-0 fw-light small"><span class="fw-bold">dotenv-vault</span> is from the pioneers of dotenv, trusted by <span class="fw-bold">2.5M+ developers</span>.</p>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-6 order-1 order-md-2">
        <ul class="list-unstyled">
          <li class="fw-bold mb-2">Product</p>
          <li class="mb-1">
            <a href="/pricing" class="fw-semibold">Pricing</a>
          </li>
          <li class="mb-1">
            <a href="/security" class="fw-semibold">Security</a>
          </li>
          <li class="mb-1">
            <a href="/changelog" class="fw-semibold">Changelog</a>
          </li>
          <li class="mb-1">
            <a href="https://status.dotenv.org" class="fw-semibold">Status</a> / <a href="https://health.dotenv.org" class="fw-semibold">Health</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6 order-2 order-md-3">
        <ul class="list-unstyled">
          <li class="fw-bold mb-2">Developers</p>
          <li class="mb-1">
            <a href="/docs" class="fw-semibold">Documentation</a>
          </li>
          <li class="mb-1">
            <a href="https://twitter.com/dotenvorg" class="fw-semibold">
              Twitter
              {% include icons/twitter.html width="16" %}
            </a>
          </li>
          <li class="mb-1">
            <a href="https://github.com/motdotla/dotenv" class="fw-semibold">
              GitHub
              {% include icons/github.html width="16" %}
            </a>
          </li>
          <li class="mb-1">
            <a href="https://youtube.com/@dotenvorg" class="fw-semibold">
              YouTube
              {% include icons/youtube.html width="16" %}
            </a>
          </li>
          <li class="mb-1">
            <a href="https://marketplace.visualstudio.com/items?itemName=dotenv.dotenv-vscode" class="fw-semibold">
              VSCode Extension
              {% include icons/vscode.html width="16" %}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6 order-3 order-md-4">
        <ul class="list-unstyled">
          <li class="fw-bold mb-2">Resources</p>
          <ul class="list-unstyled">
            <li class="mb-1">
              <li>
                <a href="/support" class="fw-semibold">Help & Support</a>
              </li>
            </li>
            <li class="mb-1">
              <li>
                <a href="/legal" class="fw-semibold">Legal</a>
              </li>
            </li>
          </ul>
        </li>
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-auto">
        <div class="h-100 d-flex align-items-center">
          <a class="link-dark text-decoration-none" href="/">
            <span class="fw-semibold small">&copy; Dotenv</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
