<footer>
  <div>
    <ul>
      <li>
        <a href="https://twitter.com/dotenvorg" class="text-black">
          {% include icons/twitter.html width="14" %}
        </a>
      </li>
      <li>
        <a href="https://github.com/dotenv-org" class="text-black">
          {% include icons/github.html width="14" %}
        </a>
      </li>
      <li>Changelog</li>
      <li><a href="/support">Help &amp; Support</a></li>
      <li><a href="https://status.dotenv.org">Status</a></li>
      <li><a href="https://health.dotenv.org">Health</a></li>
      <li><a href="/legal">Legal</a></li>
    </ul>
  </div>

  <div>
    <ul>
      <li><a href="/" class="text-secondary text-decoration-none">&copy; Dotenv</a></li>
    </ul>
  </div>
</footer>

<p class="mt-1 mb-1 text-center text-gray"><small><a href="https://github.com/dotenv-org/www" class="text-decoration-none text-gray">Updated {{ site.time | date: "%A (%b %d)" }}</a></small></p>
