<header id="top-nav" class="navbar navbar-expand-lg bd-navbar sticky-top bg-white {% if include.for_layout == "docs" %}border-bottom border-secondary-subtle{% endif %}" style="--bs-bg-opacity: 0;">
  <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
    {% if include.for_layout == "docs" %}
      <div class="bd-navbar-toggle">
        <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#docsSidebar" aria-controls="docsSidebar" aria-label="Toggle docs navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path></svg>
          <span class="d-none fs-6 pe-1">Browse</span>
        </button>
      </div>
    {% else %}
      <div class="d-lg-none d-flex border border-white p-2 opacity-0"><div class="d-inline-block" style="width:24px;height:24px;"></div></div>
    {% endif %}

    <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Dotenv">
      <img src="/assets-www/img/dotenv.svg" alt="dotenv" width="44" class="rounded">
    </a>
    <div class="d-flex">
      {% if page.url == '/' %}
      <div class="bd-from d-none d-lg-block">
        <div class="alert alert-warning alert-dismissible fade show px-2 py-1" role="alert">
          <a class="text-secondary text-dark-hover-star text-decoration-none" href="https://github.com/motdotla/dotenv">
            <small>From the pioneers of dotenv ⋅ <span class="star">☆</span>16.9k</small>
          </a>

          <button type="button" class="btn-close py-2 px-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endif %}

      <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16"><path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path></svg>
      </button>
    </div>
    <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
      <div class="offcanvas-header px-4 pb-0">
        <a href="/" class="nav-link">
          <h5 class="offcanvas-title" id="bdNavbarOffcanvasLabel">Dotenv</h5>
        </a>
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
      </div>
      <div class="offcanvas-body p-4 pt-0 p-lg-0">
        <hr class="d-lg-none text-dark-50">
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
          <li class="nav-item col-12 col-lg-auto d-lg-none .d-xl-block">
            <a class="nav-link py-2 px-0 px-lg-2" href="/">Overview</a>
          </li>
          <li class="nav-item col-12 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2" href="/security">Security</a>
          </li>
          <li class="nav-item col-12 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item col-12 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2" href="/docs">Docs</a>
          </li>
        </ul>
        <hr class="d-lg-none text-dark-50">
        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
          <li class="nav-item col-12 col-lg-auto text-center">

<!--
  <a class="nav-link text-secondary text-decoration-none text-yellow-hover-star me-lg-3 mb-2 mb-lg-0" href="https://github.com/motdotla/dotenv"><small> From the pioneers of dotenv ⋅ <span class="star">☆</span> 16.9k</small></a>
-->
          </li>
          <li class="nav-item col-12 col-lg-auto">
            <div class="d-grid">
              <a class="btn btn-link btn-outline-light link-secondary text-decoration-none rounded-5 py-2 px-lg-3 me-lg-2 mb-2 mb-lg-0" href="/login">Log In</a>
            </div>
          </li>
          <li class="nav-item col-12 col-lg-auto">
            <div class="d-grid">
              <a class="btn btn-dark rounded-5 text-white fw-bold py-2 px-lg-3" href="/signup">Sign Up Free</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
