<!--
<div class="github-grid">
  <div class="star-on-github">
    <a class="github-button" href="https://github.com/motdotla/dotenv" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star motdotla/dotenv on GitHub">Star</a>
  </div>
  <div class="star-on-github">
    <a class="github-button" href="https://github.com/dotenv-org/dotenv-vault" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star dotenv-org/dotenv-vault on GitHub">Star</a>
  </div>
</div>
-->

<div class="container-fluid border-bottom border-dark-subtle">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand d-flex justify-content-between">
        <div class="">
          <a class="navbar-brand" href="/">
            <img src="/assets/img/dotenv.svg" alt="dotenv" width="44" class="rounded">
          </a>
          <!--
          <a class="btn btn-sm btn-link text-secondary text-underline-hover" href="https://github.com/dotenv-org/dotenv-vault" target="_blank">
            {% include icons/star.html %}
            <small>Star on GitHub</small>
          </a>
          -->
        </div>
        <ul class="navbar-nav">
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="/security">Security</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/docs">Documentation</a>
          </li>
        </ul>
        <div class="">
          <a href="/login" class="btn btn-sm btn-dark" type="button">Sign In</a>
        </div>
      </nav>
    </div>
  </div>
</div>
