<div class="github-grid">
  <div class="star-on-github">
    <a class="github-button" href="https://github.com/motdotla/dotenv" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star motdotla/dotenv on GitHub">Star</a>
  </div>
  <div class="star-on-github">
    <a class="github-button" href="https://github.com/dotenv-org/dotenv-vault" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star dotenv-org/dotenv-vault on GitHub">Star</a>
  </div>
</div>

<nav class="site-nav">
  <div>
    <a href="/">
      {% include icons/dotenv.html width="50" color="#ECD53F" %}
    </a>
  </div>

  <div>

    <ul>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/security">Security</a></li>
      <li><a href="/docs">Documentation</a></li>
      <li><a href="/login"><button type="submit">Sign In</button></a></li>
    </ul>
  </div>
</nav>
