<!--
<div class="github-grid">
  <div class="star-on-github">
    <a class="github-button" href="https://github.com/motdotla/dotenv" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star motdotla/dotenv on GitHub">Star</a>
  </div>
  <div class="star-on-github">
    <a class="github-button" href="https://github.com/dotenv-org/dotenv-vault" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star dotenv-org/dotenv-vault on GitHub">Star</a>
  </div>
</div>
-->

<nav class="navbar navbar-expand-lg bg-yellow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <!--
      <div class="d-inline-block shadow border border-dark">
        {% include icons/dotenv.html width="30" color="#ECD53F" %}
      </div>
      -->
      <svg fill="#000000" height="50" width="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>.ENV</title><path d="M24 0v24H0V0h24ZM10.933 15.89H6.84v5.52h4.198v-.93H7.955v-1.503h2.77v-.93h-2.77v-1.224h2.978v-.934Zm2.146 0h-1.084v5.52h1.035v-3.6l2.226 3.6h1.118v-5.52h-1.036v3.686l-2.259-3.687Zm5.117 0h-1.208l1.973 5.52h1.19l1.976-5.52h-1.182l-1.352 4.085-1.397-4.086ZM5.4 19.68H3.72v1.68H5.4v-1.68Z"/></svg>
      <h1 class="h5 d-none">Dotenv</h1>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/security">Security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/docs">Documentation</a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="px-lg-2">&nbsp;</div>
      </div>
      <form class="d-flex" method="GET" action="/login">
        <button class="btn btn-sm btn-primary" type="submit">Sign In</button>
      </form>
    </div>
  </div>
</nav>
