<section class="w-full max-w-5xl mx-auto px-6 mt-20 md:mt-40">
  <h2 class="my-5 text-center md:text-center text-5xl lg:text-6xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Teams love it</h2>
  <p class="mx-auto mt-3 max-w-3xl text-center text-md md:text-lg text-zinc-600 leading-2 mb-6">Each month, hundreds more software teams start using dotenv-vault.</p>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-1">

    <div class="card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://firstvet.com">
        <img src="/assets/img/customers/firstvet.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
            FirstVet trusts dotenv-vault to keep their secrets safe while helping you keep your pets healthy. With their app, you can <span class="fw-bold">talk to a vet online</span> at the click of a button.
          </p>
          <!--<p class="my-5 text-sky-500">firstvet.com</p>-->
        </div>
      </a>
    </div>

    <div class="card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://honeylove.com">
        <img src="/assets/img/customers/honeylove.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
            Honeylove, <span class="bold">a YC company</span>, makes body-shaping apparel designed to make you feel more confident and improve your posture. When it comes to their security posture, they choose dotenv-vault.
          </p>
          <!--<p class="my-5 text-sky-500">honeylove.com</p>-->
        </div>
      </a>
    </div>

    <div class="card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://supernova.io">
        <img src="/assets/img/customers/supernova.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
             When it comes to SecretOps, Supernova, one of the world's premier DesignOps solutions, uses dotenv-vault.
          </p>
          <!--<p class="my-5 text-sky-500">supernova.io</p>-->
        </div>
      </a>
    </div>

    <div class="card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://sound.xyz">
        <img src="/assets/img/customers/soundxyz.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
             Sound is a collaborative music discovery platform built on web3 technology and values. For their secrets, they trust dotenv-vault.
          </p>
          <!--<p class="my-5 text-sky-500">sound.xyz</p>-->
        </div>
      </a>
    </div>

    <div class="hidden sm:block card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://acgov.org">
        <img src="/assets/img/customers/alamedacounty.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
             Alameda County is one of the most innovative counties in the United States. Home to 1.7 million people, in cities like Berkeley and Oakland, they use and trust dotenv-vault.
          </p>
          <!--<p class="my-5 text-sky-500">acgov.org</p>-->
        </div>
      </a>
    </div>

    <div class="hidden sm:block card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://snackclub.gg">
        <img src="/assets/img/customers/snackclub.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
             Built on blockchain technology, Snackclub is a gaming community that uses dotenv-vault to keep their secrets safe.
          </p>
          <!--<p class="my-5 text-sky-500">snackclub.gg</p>-->
        </div>
      </a>
    </div>

    <div class="hidden md:block card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://zengaming.com">
        <img src="/assets/img/customers/zengaming.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
            5 Million+ users trust Zengaming's Tradeit.gg and Lootbear.com products. dotenv-vault helps support these users by powering Zengaming's secrets.
          </p>
          <!--<p class="my-5 text-sky-500">zengaming.com</p>-->
        </div>
      </a>
    </div>

    <div class="hidden md:block card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://happymoney.com">
        <img src="/assets/img/customers/happymoney.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
            HappyMoney is a unicorn-sized company that has raised almost $200 million dollars. For keeping their secrets safe, they chose dotenv-vault among all other alternatives.
          </p>
          <!--<p class="my-5 text-sky-500">happymoney.com</p>-->
        </div>
      </a>
    </div>

    <div class="hidden md:block card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://sungagefinancial.com">
        <img src="/assets/img/customers/sungagefinancial.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
            Sungage Financial innovates in the solar space - making it so more people can have solar. To innovate on their secrets they use dotenv-vault.
          </p>
          <!--<p class="my-5 text-sky-500">sungagefinancial.com</p>-->
        </div>
      </a>
    </div>

    <div class="hidden md:block card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://ligonier.org">
        <img src="/assets/img/customers/ligonier.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
            Ligonier Ministries provides content and resources for Christians. Their team coordinates securely sharing secrets using dotenv-vault.
          </p>
          <!--<p class="my-5 text-sky-500">ligonier.org</p>-->
        </div>
      </a>
    </div>

    <div class="hidden md:block card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://leadschool.in">
        <img src="/assets/img/customers/lead.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
            Edtech Unicorn LEAD trusts dotenv-vault with its developer secrets. Their software makes excellent education affordable and accessible to all Indians.
          </p>
          <!--<p class="my-5 text-sky-500">leadschool.in</p>-->
        </div>
      </a>
    </div>

    <div class="hidden md:block card h-100 border border-zinc-200 dark:border-zinc-800">
      <a href="https://vio.com">
        <img src="/assets/img/customers/vio.png" class="w-full"/>
        <div class="px-3">
          <p class="my-5">
            100M+ visitors per year use Vio.com to get a better deal on travel and accomodation. It takes a lot of software to do this and it is dotenv-vault that powers the secrets for that software.
          </p>
          <!--<p class="my-5 text-sky-500">vio.com</p>-->
        </div>
      </a>
    </div>
  </div>

</section>
