<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-40">
  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">
    <div class="flex-1">
      <h2 class="my-5 text-center md:text-start text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Multiple Environments</h2>

      <p class="text-center md:text-start leading-relaxed text-md md:text-lg">After you've pushed your .env file, you can manage your secrets across multiple environments. Open an environment to view and edit its environment variables.</p>

      <div class="mt-8 flex flex-col gap-3 text-center md:text-start">
        <div class="italic">
          "I've been using dotenv for a few years, but only now have I come across dotenv-vault. I'm excited to start using it and replace my instance of hashicorp vault."
        </div>
        <a class="flex justify-center md:justify-start items-center gap-2" target="_blank" href="https://www.brianpatino.dev/">
          <div>
            <img src="/assets/img/brian-patrino.jpg" class="rounded-full h-10 w-10"/>
          </div>

          <div>
            Brian Patino <span class="text-zinc-400 dark:text-zinc-600">– Software Engineer III</span>
          </div>
        </a>
      </div>
    </div>
    
    <div class="flex-1 w-full">
      <img src="/assets/img/compare-environments.png" class="rounded-lg w-full"/>
    </div>
  </div>
</section>
