<section class="w-full max-w-5xl mx-auto px-6 my-20 md:my-40">
  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">
    <div class="flex-1">
      <h2 class="my-5 text-center md:text-start text-5xl lg:text-6xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Integrates Everywhere</h2>

      <p class="text-center md:text-start leading-relaxed text-md md:text-lg">Integrates everywhere you already write, test, build, and deploy your code. Generate your encrypted .env.vault file, commit that safely to code, and deploy. There's nothing else like it.</p>

      <div class="mt-8 flex flex-col gap-3 text-center md:text-start">
        <div class="italic">
          "I went from 'not knowing what this even is' to 'integrated into my project' within 5 minutes. Having each cli command tell me the next step was super helpful."
        </div>
        <a class="flex justify-center md:justify-start items-center gap-2" target="_blank" href="https://alukach.com/">
          <div>
            <img src="/assets/img/anthony-lukach.jpg" class="rounded-full h-10 w-10"/>
          </div>

          <div>
            Anthony Lukach <span class="text-zinc-400 dark:text-zinc-600">– Cloud Engineer</span>
          </div>
        </a>
      </div>
    </div>
    
    <div class="flex-1 w-full grid px-10 md:px-6 grid-cols-4 sm:grid-cols-6 md:grid-cols-6 gap-10 auto-cols-auto items-center justify-center justify-items-center">
      <a href="/docs/languages/nodejs" class="">
        {% include v1/icons/nodejs.html %}
      </a>
      <a href="/docs/languages/python" class="">
        {% include v1/icons/python.html %}
      </a>
      <a href="/docs/languages/ruby" class="">
        {% include v1/icons/ruby.html %}
      </a>
      <a href="/docs/languages/go" class="">
        {% include v1/icons/go.html %}
      </a>
      <a href="/docs/languages/php" class="">
        {% include v1/icons/php.html %}
      </a>
      <a href="/docs/platforms/aws-lambda" class="">
        {% include v1/icons/aws.html %}
      </a>
      <a href="/docs/languages/nodejs/cloud66" class="hidden sm:block">
        {% include v1/icons/cloud66.html %}
      </a>
      <a href="/docs/languages/nodejs/digital-ocean" class="">
        {% include v1/icons/digitalocean.html %}
      </a>
      <a href="/docs/platforms/docker" class="">
        {% include v1/icons/docker.html %}
      </a>
      <a href="/docs/platforms/fly" class="">
        {% include v1/icons/fly.html %}
      </a>
      <a href="/docs/platforms/heroku" class="">
        {% include v1/icons/heroku.html %}
      </a>
      <a href="/docs/frameworks/laravel/laravel-forge" class="hidden sm:block">
        {% include v1/icons/laravel-forge.html %}
      </a>
      <a href="/docs/languages/nodejs/railway" class="">
        {% include v1/icons/railway.html %}
      </a>
      <a href="/docs/languages/nodejs/render" class="">
        {% include v1/icons/render.html %}
      </a>
      <a href="/docs/platforms/vercel" class="">
        {% include v1/icons/vercel.html %}
      </a>
      <a href="/docs/languages/nodejs/bitbucket" class="hidden sm:block">
        {% include v1/icons/bitbucket.html %}
      </a>
      <a href="/docs/languages/nodejs/buddy" class="hidden sm:block">
        {% include v1/icons/buddy.html %}
      </a>
      <a href="/docs/cis/circleci" class="">
        {% include v1/icons/circleci.html %}
      </a>
      <a href="/docs/languages/nodejs/dagger" class="hidden sm:block">
        {% include v1/icons/dagger.html %}
      </a>
      <a href="/docs/cis/github-actions" class="">
        {% include v1/icons/github.html %}
      </a>
      <a href="/docs/languages/nodejs/gitlab-ci" class="">
        {% include v1/icons/gitlab.html %}
      </a>
      <a href="/docs/languages/nodejs/jenkins" class="hidden sm:block">
        {% include v1/icons/jenkins.html %}
      </a>
      <a href="/docs/languages/nodejs/pulumi" class="hidden sm:block">
        {% include v1/icons/pulumi.html %}
      </a>
      <a href="/docs/languages/nodejs/travis-ci" class="hidden sm:block">
        {% include v1/icons/travis.html %}
      </a>
      <a href="/docs/frameworks/angular/vercel" class="hidden sm:block">
        {% include v1/icons/angular.html %}
      </a>
      <a href="/docs/frameworks/astro/netlify" class="hidden sm:block">
        {% include v1/icons/astro.html %}
      </a>
      <a href="/docs/frameworks/express" class="hidden sm:block">
        {% include v1/icons/express.html %}
      </a>
      <a href="/docs/frameworks/nextjs" class="">
        {% include v1/icons/nextjs.html %}
      </a>
      <a href="/docs/frameworks/nuxtjs" class="hidden sm:block">
        {% include v1/icons/nuxtjs.html %}
      </a>
      <a href="/docs/frameworks/remix" class="hidden sm:block">
        {% include v1/icons/remix.html %}
      </a>
      <a href="/docs/frameworks/serverless/aws-lambda" class="">
        {% include v1/icons/serverless.html %}
      </a>
      <a href="/docs/frameworks/svelte-kit/vercel" class="hidden sm:block">
        {% include v1/icons/svelte.html %}
      </a>
      <a href="/docs/frameworks/turborepo/vercel" class="hidden sm:block">
        {% include v1/icons/turborepo.html %}
      </a>
      <a href="/docs/frameworks/vite/vercel" class="hidden sm:block">
        {% include v1/icons/vite.html %}
      </a>
      <a href="/docs/frameworks/flask/heroku" class="hidden sm:block">
        {% include v1/icons/flask.html %}
      </a>
      <a href="/docs/frameworks/rails" class="hidden sm:block">
        {% include v1/icons/rails.html %}
      </a>
      <a href="/docs/frameworks/laravel" class="">
        {% include v1/icons/laravel.html %}
      </a>
      <a href="/docs" class="underline text-zinc-500">
        +more
      </a>
    </div>
  </div>
</section>
