<section class="w-full max-w-2xl mx-auto px-6 mt-40 md:mt-60">
  {% include logos/openstack.html class="w-36 mx-auto text-[#ED1944] dark:text-[#ED1944]" %}

  <div class="font-semibold text-2xl my-12 text-center dark:text-zinc-50">
    I've been thinking about building exactly this for ages, was doing some market research for how to do it properly and found that you had, well, nailed it.
  </div>

  <div class="flex mx-auto gap-2 w-fit justify-center items-center">
    <div>
      <img src="/assets/img/joshua-mckenty.jpg" class="rounded-full h-10 w-10"/>
    </div>
    <div class="flex flex-col">
      <div class="dark:text-zinc-50">Josh McKenty</div>
      <div class="text-zinc-600 dark:text-zinc-400">Cofounder of OpenStack</div>
    </div>
  </div>
</section>
