<section class="w-full max-w-5xl mx-auto px-6 mt-10 md:mt-20 mb-10 md:mb-20">
  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">
    <div class="flex-1">
      <h2 class="my-5 text-center md:text-start text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Teams love it</h2>

      <p class="text-center md:text-start text-zinc-600 dark:text-zinc-400 leading-relaxed text-md md:text-lg">dotenv-vault powers secrets for tens of thousands of companies across the world. New developers and companies get started with it every day.</p>

      <div class="mt-8 flex flex-col gap-3 text-center md:text-start">
      </div>
    </div>
    
    <div class="flex-1 w-full">

      <div class="grid grid-cols-1">

        <div class="card h-100 border border-zinc-200 dark:border-zinc-800 rounded-lg">
          <a href="https://firstvet.com">
            <img src="/assets/img/customers/firstvet.png" class="w-full rounded-t-lg"/>
            <div class="px-3">
              <p class="my-5">
                FirstVet trusts dotenv-vault to keep their secrets safe while helping you keep your pets healthy. With their app, you can <span class="fw-bold">talk to a vet online</span> at the click of a button.
              </p>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
