<section class="w-full max-w-5xl mx-auto px-6 mb-20">
  <div class="flex gap-10 h-full flex-col md:flex-row items-center justify-center">
    <div class="flex-1">
      <h2 class="my-5 text-center md:text-start text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight leading-none text-zinc-950 dark:text-zinc-50">Works with a single command</h2>

      <p class="text-center md:text-start leading-relaxed text-md md:text-lg">You don't need to install anything to use dotenv-vault. No error prone binaries to install, infra to maintain, or custom code to write. It just works – with a single command.</p>

      <div class="mt-8 flex flex-col gap-3 text-center md:text-start">
        <div class="italic">
          "I love how easy it is to get started in a snap. I'm using it to sync between my pc and laptop."
        </div>
        <a class="flex justify-center md:justify-start items-center gap-2" target="_blank" href="https://www.linkedin.com/in/faisalabidi/">
          <div>
            <img src="/assets/img/faisal.png" class="rounded-full h-10 w-10"/>
          </div>

          <div>
            Faisal Abidi <span class="text-zinc-400 dark:text-zinc-600">– Lead Software Engineer</span>
          </div>
        </a>
      </div>
    </div>
    
    <div class="flex-1 w-full">
      <div class="w-full mx-auto px-0 sm:px-20 md:px-0">
        <div class="border-2 border-zinc-800 text-zinc-100 text-sm subpixel-antialiased rounded-lg leading-normal overflow-hidden">
          <div class="px-3 bg-black border-b border-zinc-700">
            <div class="flex items-center">
              <span class="h-3 w-3 bg-red-500/50 dark:bg-red-500/30 rounded-full"></span>
              <span class="ml-2 h-3 w-3 bg-orange-300/50 dark:bg-orange-300/30 rounded-full"></span>
              <span class="ml-2 h-3 w-3 bg-green-500/50 dark:bg-green-500/30 rounded-full"></span>

              <div class="w-fit ml-auto my-1" x-data="{
                  copyText: 'npx dotenv-vault@latest push',
                  copyNotification: false,
                  copyToClipboard() {
                    navigator.clipboard.writeText('npx dotenv-vault@latest push');
                    this.copyNotification = true;
                    let that = this;
                    setTimeout(function(){
                      that.copyNotification = false;
                    }, 3000);
                  }
              }">
                <button x-on:click="copyToClipboard();" type="button" class="text-xs py-2 rounded px-2 border-zinc-600 text-zinc-400 bg-zinc-900 hover:bg-zinc-800">
                  <span x-show="!copyNotification">Copy to Clipboard</span>
                  <span x-cloak x-show="copyNotification" class="tracking-tight text-green-400">Copied to Clipboard</span>
                </button>
              </div>
            </div>
          </div>
          <div class="flex flex-col px-5 md:px-10 py-10 md:py-14 bg-zinc-950 font-mono">
            <div class="flex text-sm md:text-2xl items-center justify-center">
              <div class="text-green-500 h-fit pt-1 select-none">$</div>
              <div class="text-white items-center font-extrabold pl-3 text-xl md:text-2xl lg:text-2xl">
                <span class="">npx dotenv-vault push</span>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
